

	<table class="tablesorter table-striped priceRuleTble price-rules-table dataTable" >                                      
	   <thead>
	    <tr>
	      <th> Attribute </th>
	      <th> Value </th>
	    </tr>
	   </thead>
	   <tbody>
	   	<% i = 0 %>
	   	<%  @contract_attributes.each  do |contract_attribute| %>
	   		<tr>
		      <td> <%=contract_attribute["name"]%> <input type="text" name="contract_attributes[][attribute_id]" value="<%=contract_attribute["id"]%>" style="display: none"> </td>
		      
		      <% if contract_attribute["attribute_type"]=="Number" %>
		      	<td> <input type="text" id="numerical<%=i%>" class="numerical" name="contract_attributes[][value]" value=""> </td>
		      	<% i+=1 %>
		      <%elsif contract_attribute["attribute_type"]=="String" %>
		      	<td> <input type="text" name="contract_attributes[][value]" value=""> </td>
		      <%elsif contract_attribute["attribute_type"]=="NumberList" || contract_attribute["attribute_type"]=="StringList" %>
		      	<td>
		      		<% values = contract_attribute["value"].split(",")%> 
		      		<select name="contract_attributes[][value]">
		      			<option value=""> -- select field -- </option>
		      			<%values.each {| val |%> 
		      				<option value="<%=val%>"><%=val%></option>
		      			<% } %>
					</select>
				</td>
		      <%end%>
		    </tr>	
	   	<% end %>
	   	
	   </tbody>                                      
	 </table>
 

