			<div class="innerSection">
				<h2>Select Locations</h2>
				<div class="subTabs tabbable">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#hierLocation" data-toggle="tab">By Hierarchy & Attributes</a>
						</li>

						<li>
							<a href="#locationGroup" data-toggle="tab">By Location Group</a>
						</li>
					</ul>

					<div class="btnBrd"></div>
					<div class="tab-content">
						<div id="hierLocation" class="tab-pane active">
							<div class="right-inner-addon ">
								<i class="glyphicon glyphicon-search"></i>
								<input type="search"
								class="form-control"
								placeholder="Quick search hierarchy & attributes" />
							</div>
							<div class="resetBlock">
								<button class="btn btn-danger" type="reset">
									Reset
								</button>
							</div>
							<div class="row clear">
								<div  class="col-md-4">
									<!-- SO tree -->
									<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="locationHeirarchyTree">
										<% if !@allBannersHierarchy.blank? %>
											<% @allBannersHierarchy.each do |bannerHash| %>

											<% def jhash(h) %>
											<% h.each do |k,v| %>
											<%  if v.is_a?(Hash) %>
											 <li>
											 <span onClick="fetchBanners(<%= k[0].to_i %>)" class="breadcrumbBanner" id="<%= k[0].to_i %>">
												<%= k[1] %></span>
												<ul>
													<li >
														<% jhash(v) %>
													</li>
												</ul>
											</li>
											<%   else %>
											<li class="treeLastChild">
											<span onClick="fetchBanners(<%= k[0].to_i %>)" class="breadcrumbBanner" id="<%= k[0].to_i %>">
												<%= k[1] %>
											</span></li>
											<% end %>
											<% end %>
											<% end %>
											<% jhash(bannerHash) %>
											<% end %>
										<% end %>	
										</ul>
									</div>

									<div class="productAttrTreeDiv">
										<span class="hierarchyHeading">Attributes</span>
										<ul id="locationAttrTree">
										<% if !@custom_location_attribute.blank? %>
										 <% @custom_location_attributes.each do |attr| %>
										 <li>
											<span><%= attr['name'] %></span>
											<ul>
											<% values = Api::LocationServices.getCustAttrValues(attr['id']) %>
											 <% values.each do |v|%>
											  <li>
									<input type="checkbox" class="attrcheck" id="<%= v['custom_attr_id']%>" value="<%= v['value']%>" >
											    <span><%= v['value']%></span>
											    </li>
											 <% end %>
											</ul>
										  </li>
										 <% end %>
										<% end %>
										</ul>
									</div>

								</div><!-- EO tree -->

								<div  class="col-md-8 categories">
									<div class="breadcrumbBannerDiv"></div>

									<div class="categoryContent">
										<table class="table table-bordered categoryTable tablesorter table-striped"  id="locationTable">
											<thead>
												<tr>
													<th>
													<input type="checkbox" id="selectAll">
													</th>
													<th>Location Name</th>
													<th>Location Description</th>
												</tr>
											</thead>
											<tbody>
											</tbody>
										</table>

										<div class="row worklistTablePaginationHolder">
											 <div class=" worklistPagination paginPad">
												<div class="categoryBtn">
													<button type="submit" class="addNewLocGroup">
														Add a New Location Group
													</button>
													<button type="submit" class="addLoctoContract" id = "addLoc">
														Add to Contract
													</button>
												</div>
											</div> 
										</div><!-- EO ROW -->
									</div>
								</div>
								<!-- right col -->
								<div class="clear"></div>
							</div>

							<!-- SO add Products to Contract -->
							<div class="addLocContract" style="display:none;">
								<h2> Locations added to contract: </h2>
								<div class="row">
									<div class="col-md-9">
										<ul class="categoryTab">
											<li>
												Banner - 1 <span class="icon"></span>
											</li>
											<li>
												Sub Banner - 1<span class="icon"></span>
											</li>
											<li>
												Sub Sub Banner - 1<span class="icon"></span>
											</li>
										</ul>
									</div>
									<div class="col-md-3 alignRight">
										<!-- <button type="submit" class="btn btn-default">
											Re-Create
										</button> -->
									</div>

								</div>
								<table class="table table-bordered categoryTable tablesorter table-striped"  id="selStoreTable">
									<thead>
										<tr>
											<th>
											<input type="checkbox" id="selectAll2">
											</th>
											<th>Location Name</th>
											<th>Location Description</th>
										</tr>
									</thead>
									<tbody id="allLocationForContact">
									</tbody>
								</table>
								 <button type="submit" class="btn btn-default" id="removeStore">
									Delete
								</button> 
							</div>
							<!-- SO add Products to Contract -->
							<div class="categoryNext">
								<a href="#products" data-toggle="tab" class="prevBtn">Previous</a>
								<a href="#dates" data-toggle="tab" class="nextBtn">Next</a>
							</div>

							<div class="clear"></div>
						</div>
						<!-- BO location group -->
						
						<div id="locationGroup" class="tab-pane">

							<!-- <div class="right-inner-addon ">
								<i class="glyphicon glyphicon-search"></i>
								<input type="search"
								class="form-control"
								placeholder="Quick search hierarchy & attributes" />
							</div>
							<div class="resetBlock">
								<button class="btn btn-danger" type="reset">
									Reset
								</button>
							</div> -->
							<div class="row clear">
								
								<!-- EO tree -->
								<div class="col-md-1"></div>
								<div  class="col-md-8 categories">

									<div class="categoryContent">

									<table class="table table-bordered categoryTable tablesorter table-striped"  id="locationGrpTable">
											<thead>
												<tr>
													<th>
													<input type="checkbox" id="selectAll">
													</th>
													<th>Location Group Name</th>
													<th>Location Name</th>
													<th>Location Description</th>
												</tr>
											</thead>
											<tbody>
											<% @location_groups.each do |lg| %>
											<tr>
												<% lg.each do |k,v|%>
												<td rowspan="<%= v.length%>">
												<input type="checkbox" class="checkbox" id="<%= k[0]%>">
												</td>
												<td rowspan="<%= v.length%>"> <%= k[1]%> </td>
												<% @flag=0%>
												<% if v.blank? %>
												 <td></td><td></td>
												<% else %>
												<%v.each do |row|%>
												<%if @flag==0 %>
												<% @flag=1%>
												   <td> <%= row["description"]%></td>
												   <td> <%= row["store_pos_id"]%></td>
												<%else%>
											    <tr>
												   <td> <%= row["description"]%></td>
												   <td> <%= row["store_pos_id"]%></td>
											    </tr>
											   <%end%>
											   <% end %>
											 <%end%>
											<%end%>
											</tr>
										  <%end%>
										  	</tbody>
										</table>

										<div class="row worklistTablePaginationHolder">

											<div class=" worklistPagination paginPad">
												
											<div class="categoryBtn">

									<button type="submit" class="addLocGrptoContract" id="addLGrouptoContracts">
											Add to Contract
									</button>
												</div>

											</div>

										</div><!-- EO ROW -->

									</div>
								</div>
								<!-- right col -->
								<div class="clear"></div>
							</div>

							<!-- SO add Products to Contract -->
							<div class="addLocGrpContract" style="display:none;">
								<div class="row marginTop10">
									<div class="col-md-9">
										<div class="form-group">
											<label for="prodGroupName">Location Group Name</label>
										</div>

									</div>
									<div class="col-md-3 alignRight">
										<!-- button type="submit" class="btn btn-default">
											Re-Create
										</button> -->
									</div>

								</div>

								<table class="table table-bordered categoryTable tablesorter table-striped"  id="">
									<thead>
										<tr>
											<th>
											<input type="checkbox" id="selectAll3">
											</th>
											<th>Location Name</th>
											<th>Location Description</th>
										</tr>
									</thead>
									<tbody id="allGroupForContract">
									</tbody>
								</table>
								<!-- <button type="submit" class="btn btn-default">
									Delete
								</button>
 -->
							</div>
							<!-- SO add Products to Contract -->
							<div class="categoryNext">
								<a href="#dates" data-toggle="tab" class="nextBtn">Next</a>
							</div>

							<div class="clear"></div>

						</div>
						<!-- EO location group-->
					</div>
				</div>
			</div>