
<%

returnVersionIdsList = temp["returnVersionIdsList"]
marketingVehicles = temp["marketingVehicles"]

%>

<% returnVersionIdsList.each {|version_id, value| %>

<div class="row form-group">
	<div class="col-md-4">
		<label>Select Marketing Vehicle</label>
		<input type="text" name="version[][id]" value="<%= version_id%>" style="display: none"/>
		<select class="form-control" name="selectMarketingVehicle[][id]" id = "selectMarketingVehicle" >
			<% marketingVehicles.each do |mkVehicle| %>
			<option value=<%= mkVehicle['id'] %>> <%= mkVehicle['marketing_vehicle_name'] %> </option>
			<% end %>
		</select>
	</div>
	<div class="col-md-4">
		<label>Select Ad size</label>
		<select name="selectMarketingVehicle[][add_size]" class="form-control">
			<option>Big Block</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
		</select>
	</div>
</div>

<% } %>

