<input type="text" id="product_count" name="product_count"  style="display: none" />
<%
 trialArray = @contract_object["trialArray"]
 trial_object = trialArray[0]
 logger.info"trial_object #{trial_object}"
 @version_array = trial_object["versionArray"]
%>

<div class="innerSection"> 
<div class="subTabs tabbable marginTop30"> 
	<div class="col-md-11 pad0">
	<ul id="ulForVendorPriceVehicle" class="nav nav-tabs">
	  <% 	@version_id_Array = Array.new
	  		@version_array.each do |version| 
	  		@version_id_Array.push(version["version_id"])
	  		%>
	   <% if version["sequence"] == 0%>
	    <li class="active"><a href="#mainVersionPriceVehicle" data-toggle="tab">Main version</a></li>
	   <%else%>
	    <li><a href="#version<%= version["sequence"]%>PriceVehicle" data-toggle="tab">version <%= version["sequence"]%></a></li>
	  <%end%>
	 <% end %>
	 	 <li class="rightBtn"> 
	  <button  id="createTierVendor" type="button" class="btn btn-default createTierVendor" 
	   value="<%= @version_id_Array.join(",")%>">+ Create Tier</button>
	  </li>

	</ul>
	<div class="btnBrd1"></div>
   </div>
<div class="clear"></div>
<div id="venderPriceVehicleAdd" class="tab-content"> 
	
<% @version_array.each do |version|%>
	
<% if version["sequence"] == 0%>
<div id="mainVersionPriceVehicle" class="tab-pane active form-group"> 
<%else%>
<div id="version<%= version["sequence"]%>PriceVehicle" class="tab-pane form-group"> 
<%end%>
<input id="version_id" name="version_id[]" type="text" class="form-control version_id_tier" value="<%= version["version_id"] %>" style="display: none" >
<% @tier_array= version["tierArray"]%>

	<div class="subTabs tabbable marginTop10">
		<div class="col-md-11 pad0">
			<ul class="nav nav-tabs ulForPricingTier">
				<% @tier_array.each do |tier| 
				@product_data = tier["tierProductArray"]
				%>
				
				   <% if tier["sequence"] == 0%>
					    <li class="active"><a href="#<%= version["sequence"]%>mainPrice" data-toggle="tab">Main Price</a></li>
				   <%else%>
				    	<li><a href="#<%= version["sequence"]%>tier<%= tier["sequence"]%>PricingVehicle" data-toggle="tab">Tier <%= tier["sequence"]%></a></li>
				   <%end%>
                <% end %>

				<li class="rightBtn">
				</li>
			</ul>
			<div class="btnBrd1"></div>
		</div>

		<div class="clear"></div>
		<div class="tab-content row pricingTierAdd">
		 <% @tier_array.each do |tier| %>
			<% if tier["sequence"] == 0%>
			<div id="<%= version["sequence"]%>mainPrice" class="tab-pane active form-group"> 
			<%else%>
			<div id="<%= version["sequence"]%>tier<%= tier["sequence"]%>PricingVehicle" class="tab-pane form-group"> 
			<%end%>
			
			<input id="tier_id" name="tier_id[]" type="text" class="form-control" value="<%= tier["tier_id"] %>" style="display: none" >
			
				<div class="col-md-4">
					<div class="date">
						<form class="form-horizontal">
							<fieldset>
								<div class="control-group">
									<div class="controls">
										<div class="input-prepend input-group">
											<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
											<% if tier["start_date"] == "" 
												  @start_date = trial_object["startDate"].strftime("%m/%d/%Y")
												  @end_date =  trial_object["endDate"].strftime("%m/%d/%Y")
												else 
												  @start_date = tier["start_date"].strftime("%m/%d/%Y")
												  @end_date =  tier["end_date"].strftime("%m/%d/%Y")
												end
												%>
											<input type="text" style="width: 200px" name="reservation" id="reservationPriceVehicleDate" class="form-control" value="<%= @start_date%> - <%= @end_date%>" />
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

				<div class="col-md-4">

				</div>
				<div class="clear"></div>
				<div class="bdrTopLine">
					<div class="row">
						<div class="col-md-4">
							<label>Price Vehicle</label>
							<select name="priceVehicle[][name]" id="<%= version["sequence"]%>-<%= tier["sequence"]%>" class="form-control priceSelector">
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-1-flatOptimizeOpt">Flat Price</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-2-priceMultipleOpt">Price Multiple</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-3-percentOffOpt">Percent Off</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-4-AmtOffOpt">Amount Off </option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-5-bogoOpt">BOGO</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-6-progressiveOpt">Progressive</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-7-bogaOpt">BOGA</option>
								<option value="<%= version["sequence"]%>-<%= tier["sequence"]%>-8-custPricingOpt">Custom Pricing</option>
							</select>

						</div>
						<div class="col-md-4 priceSelector12">
							<label>Price Assignment</label>
							<select name="priceAssignmentType[][name]" id="<%= version["sequence"]%>-<%= tier["sequence"]%>-type" class="form-control priceSelector1">
								<option value="-sku">Sku Level</option>
								<option value="-link">Link Code Level</option>
								<option value="-contract">Contract Level</option>
							</select>
						</div>
					</div>
					
					
					<!-- BO flat Optimize  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-1-flatOptimizeOpt-sku" class="priceVehicleGroup flatOptimizeOpt" >
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Flat Price</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTableFlatPriceBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<input type='text' name="flatOptimizeOpt[][flatPrice]" class="form-control" value=""/>
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>
					</div>
					<!-- EO flat Optimize  option -->
					
					<!-- BO contract flat Optimize  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-1-flatOptimizeOpt-contract" class="priceVehicleGroup flatOptimizeOpt" style="display:none" >
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Contract ID</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Flat Price</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTableFlatPriceBody">
								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
									<td>
									<input type='text' name="flatOptimizeOptContract[][flatPrice]" class="form-control" value=""/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- EO contract flat Optimize  option -->

					<!-- BO Price Multiple  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-2-priceMultipleOpt-sku" class="priceVehicleGroup priceMultipleOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Qty / Price</th>
								</tr>
							</thead>
							<tbody id="priceVehilcePriceMultipleBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<input type='text' name="priceMultipleOpt[][qty]" class="form-control" />
									<input type='text' name="priceMultipleOpt[][price]" class="form-control" />
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>
					</div>
					<!-- EO Price Multiple  option -->
					
					<!-- BO contract Price Multiple  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-2-priceMultipleOpt-contract" class="priceVehicleGroup priceMultipleOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Contract Id</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Qty / Price</th>
								</tr>
							</thead>
							<tbody id="priceVehilcePriceMultipleBody">
								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
									<td>
									<input type='text' name="priceMultipleOptContract[][qty]" class="form-control" />
									<input type='text' name="priceMultipleOptContract[][price]" class="form-control" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- EO contract Price Multiple  option -->

					<!-- BO Percent Off  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-3-percentOffOpt-sku" class="priceVehicleGroup percentOffOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Percent Off</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTablePercentOffBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<input type='text' name="percentOffOpt[][percentOff]" class="form-control" />
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>
					</div>
					<!-- EO Percent Off  option -->
					
					<!-- BO contract Percent Off  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-3-percentOffOpt-contract" class="priceVehicleGroup percentOffOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Contract Id</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Percent Off</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTablePercentOffBody">

								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
									<td>
									<input type='text' name="percentOffOptContract[][percentOff]" class="form-control" />
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<!-- EO contract Percent Off  option -->
					

					<!-- BO Amount Off   option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-4-AmtOffOpt-sku" class="priceVehicleGroup AmtOffOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Amount Off</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTableAmountOffBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<input type='text' name="AmtOffOpt[][amtOff]" class="form-control" />
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>
					</div>
					<!-- EO Amount Off   option -->

					<!-- BO contract Amount Off   option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-4-AmtOffOpt-contract" class="priceVehicleGroup AmtOffOpt" style="display:none">
						<div class="marginTop10">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
								Optimize </label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
								Supply </label>
						</div>
						<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
							<thead>
								<tr>
									<th>Contract Id</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Amount Off</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTableAmountOffBody">

								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
									<td>
									<input type='text' name="AmtOffOptContract[][amtOff]" class="form-control" />
									</td>
								</tr>

							</tbody>
						</table>
					</div>
					<!-- EO contract Amount Off   option -->

					<!-- BO  BOGO option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-5-bogoOpt-sku" class="priceVehicleGroup bogoOpt" style="display:none">
						<table class="table table-bordered categoryTable marginTop30 marBtm0">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th> Price </th>
								</tr>
							</thead>
							<tbody id = "priceVehicleBOGOTableBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<div class="bogoOffer">
										<label>Buy</label>
										<input type="text" name="bogoOpt[][buy]" value="" class="form-control">
										<label>Qty ,</label>
										<label>Get</label>
										<input type="text" value="" name="bogoOpt[][get]" class="form-control">
										<label>Qty @:</label>
										<select class="form-control" name="bogoOpt[][offType]">
											<option>% off</option>
											<option>Amount off</option>
											<option>Flat amount</option>
										</select>
										<input type="text" value="" class="form-control" name="bogoOpt[][price]">
									</div>
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>

					</div>
					<!-- EO  BOGO  option -->

					<!-- BO contract BOGO option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-5-bogoOpt-contract" class="priceVehicleGroup bogoOpt" style="display:none">
						<div class="bogoOffer">
							<label>Buy</label>
							<input type="text" name="bogoOptContract[][buy]" value="" class="form-control">
							<label>Qty ,</label>
							<label>Get</label>
							<input type="text" value="" name="bogoOptContract[][get]" class="form-control">
							<label>Qty @:</label>
							<select class="form-control" name="bogoOptContract[][offType]">
								<option>% off</option>
								<option>Amount off</option>
								<option>Flat amount</option>
							</select>
							<input type="text" value="" class="form-control" name="bogoOptContract[][price]">
						</div>

						<table class="table table-bordered categoryTable marginTop30 marBtm0">
							<thead>
								<tr>
									<th>Contract Id</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleBOGOTableBody">

								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
								</tr>

							</tbody>
						</table>

					</div>
					<!-- EO contract BOGO  option -->

					<!-- BO Progressive option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-6-progressiveOpt-sku" class="priceVehicleGroup progressiveOpt" style="display:none">
						<table class="table table-bordered categoryTable marginTop30 marBtm0">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Qty / Price</th>
								</tr>
							</thead>
							<tbody id="priceVehicleProgressiveTableBody">
								<% prodcut_count = 0
				                	divCount = 	@product_data.length * tier["sequence"]
								%>
								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<div id="divContainer<%= divCount%><%= version["sequence"]%>" class="divContainer">
										<div class="qtyPriceDiv">
											<input type='text' class="form-control" name="progressiveOpt<%= version["sequence"]%><%= tier["sequence"]%><%= prodcut_count%>[][qty]" />
											$
											<input type='text' class="form-control" value="" name="progressiveOpt<%= version["sequence"]%><%= tier["sequence"]%><%= prodcut_count%>[][price]" />
										</div>
									</div><span class="glyphicon glyphicon-plus-sign addQtyPrice"></span></td>
								</tr>
								<% prodcut_count += 1
                  divCount +=1
%>
								<%end%>

							</tbody>
						</table>
					</div>
					<!-- EO Progressive  option -->
					
					<!-- BO contract Progressive option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-6-progressiveOpt-contract" class="priceVehicleGroup progressiveOpt" style="display:none">
						<table class="table table-bordered categoryTable marginTop30 marBtm0">
							<thead>
								<tr>
									<th>Contract Id</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Qty / Price</th>
								</tr>
							</thead>
							<tbody id="priceVehicleProgressiveTableBody">
								
								<tr>
									<td> <%= @contract_object["contract_id"]%> </td>
									<td> <%= tier["minmax_base_cost"]%> </td>
									<td> <%= tier["minmax_base_price"]%> </td>
									<td> <%= tier["minmax_unit_funding"]%> </td>
									<td> <%= tier["minmax_net_cost"]%> </td>
									<td>
									<div id="divContainer1<%= tier["sequence"]%><%= version["sequence"]%>" class="divContainer">
										<div class="qtyPriceDiv">
											<input type='text' class="form-control" name="progressiveOptContract<%= version["sequence"]%><%= tier["sequence"]%>[][qty]" />
											$
											<input type='text' class="form-control" value="" name="progressiveOptContract<%= version["sequence"]%><%= tier["sequence"]%>[][price]" />
										</div>
									</div><span class="glyphicon glyphicon-plus-sign addQtyPrice"></span></td>
								</tr>

							</tbody>
						</table>
					</div>
					<!-- EO contract Progressive  option -->

					<!-- BO BOGA  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-7-bogaOpt" class="priceVehicleGroup bogaOpt" style="display:none">

						<div class="row">
							<div class="col-md-3">
								<div>
									All Products
								</div>
								<select size="10" multiple id="allCol<%= version["sequence"]%><%= tier["sequence"]%>" style="width: 100%;">
									<%@product_data.each do |product_data|%>
									<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
									<%end%>
								</select>

							</div>

							<div class="col-md-2 customizeTableButtons">
								<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= version["sequence"]%><%= tier["sequence"]%>', 'selCol<%= version["sequence"]%><%= tier["sequence"]%>')">
									Add >
								</button>
								<button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol<%= version["sequence"]%><%= tier["sequence"]%>', 'allCol<%= version["sequence"]%><%= tier["sequence"]%>')">
									< Remove
								</button>
							</div>

							<div class="col-md-3">
								<div>
									Buy Products
								</div>
								<select class="buyProduct" name="dataArrayBuy<%= version["sequence"]%><%= tier["sequence"]%>[][buy]" size="10" multiple id="selCol<%= version["sequence"]%><%= tier["sequence"]%>" style="width: 100%;">

								</select>
							</div>

						</div>

						<div class="row">
							<div class="col-md-3">

							</div>

							<div class="col-md-2 customizeTableButtons">
								<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= version["sequence"]%><%= tier["sequence"]%>', 'getCol<%= version["sequence"]%><%= tier["sequence"]%>')">
									Add >
								</button>
								<button type="button" class="btn btn-default" onClick="listbox_moveacross('getCol<%= version["sequence"]%><%= tier["sequence"]%>', 'allCol<%= version["sequence"]%><%= tier["sequence"]%>')">
									< Remove
								</button>
							</div>

							<div class="col-md-3">
								<div>
									Get Products
								</div>
								<select class="getProduct" name="dataArrayGet<%= version["sequence"]%><%= tier["sequence"]%>[][get]" size="10" multiple id="getCol<%= version["sequence"]%><%= tier["sequence"]%>" style="width: 100%;">

								</select>
							</div>

						</div>

						<div class="bogoOffer">
							<label>Buy</label>
							<input type="text" name="bogaOpt[][buy]" value="" class="form-control">
							<label>Qty ,</label>
							<label>Get</label>
							<input type="text" value="" name="bogaOpt[][get]" class="form-control">
							<label>Qty @:</label>
							<select class="form-control" name="bogaOpt[][offType]">
								<option>% off</option>
								<option>Amount off</option>
								<option>Flat amount</option>
							</select>
							<input type="text" value="" class="form-control" name="bogaOpt[][price]">
						</div>
					</div>
					<!-- EO BOGA  option -->

					<!-- BO Custom Pricing  option -->
					<div id="<%= version["sequence"]%>-<%= tier["sequence"]%>-8-custPricingOpt" class="priceVehicleGroup custPricingOpt" style="display:none">
						<div class="form-group col-md-4 marginTop10">
							<label>Price Description</label>
							<input type="text" value="" class="form-control">

						</div>
						<table class="table table-bordered categoryTable marginTop30 clear">
							<thead>
								<tr>
									<th>Product</th>
									<th>Base Cost</th>
									<th>Base Price</th>
									<th>Unit Funding</th>
									<th>Net Cost</th>
									<th>Custom Price</th>
								</tr>
							</thead>
							<tbody id = "priceVehicleTableCustomPricingBody">

								<%@product_data.each do |product_data|%>
								<tr>
									<td> <%= product_data["product_name"]%> </td>
									<td> <%= product_data["base_cost"]%> </td>
									<td> <%= product_data["base_price"]%> </td>
									<td> <%= product_data["unit_funding"]%> </td>
									<td> <%= product_data["tier_products"]%> </td>
									<td>
									<input type="text" value="" class="form-control" name="custPricingOpt[][price]">
									</td>
								</tr>
								<%end%>

							</tbody>
						</table>

					</div>
					<!-- EO Custom Pricing  option -->
					<div class="checkbox form-group">
						<label>
							<input type="checkbox" name="version_sequence[]" value="<%=version["sequence"]%>-<%=tier["sequence"]%>">
							Apply Prices across all versions </label>
					</div>
					<div class="form-group col-md-2">
						<label> No. of reward points</label>
						<input type="text" value="" name="rewardPoint[]" class="form-control">

					</div>	
				</div>
			</div>
			<% end %>
		</div>
		<!-- EO price tier Div-->
	</div>
	<!-- EO subsection plan-->
   </div>
   <% end %>	
	<div class="categoryNext clear">
		<a href="#vendor" data-toggle="tab" class="prevBtn">Previous</a>
		<input type="submit" class="btn btn-default boldText" id="savePricingVehicleSumbmit" style="display: none" />

		<button type="button" class="btn btn-default boldText" id="savePricingVehicle">
			Save
		</button>

	</div>
	
	</div>
	<!-- EO version price tier Div -->
	</div>
	<!-- EO subsection plan for version price-->
	
</div>
<!-- EO inner section-->
<div class="newContractActionBar">
	<button type="button" class="btn btn-default boldText">
		Approve
	</button>
	<button type="button" class="btn btn-default boldText">
		Reject
	</button>
	<button type="button" class="btn btn-default">
		Optimize
	</button>
	<button type="button" class="btn btn-default">
		Simulate
	</button>
</div>
