<%
 @product_data= c["product_data"]
  @sequence = c["sequence"]
  @version_info = c["vendor_info"]
  logger.debug{"end of version_info#{@version_info}"}
  @funding = c["funding"]
  @tier_id = c["tier_id"]
  @start_date = c["start_dates"]
  @end_date = c["end_dates"]
%>

<%= @sequence%>
----------

<div id="tier<%= @sequence%>Vendor" class="tab-pane form-group">

	<input id="tier_id" name="tierData[][tier_id]" type="text" class="form-control"  value="<%= @tier_id %>" style="display: none" >
	<div class="col-md-4">

		<div class="date">

			<div class="control-group">
				<div class="controls">
					<div class="input-prepend input-group">
						<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
						<%
						  @start_date = @start_date.strftime("%m/%d/%Y")
						   @end_date =  @end_date.strftime("%m/%d/%Y")
						%>
						<input type="text" style="width: 200px" name="tierData[][vender_funding_dates]" id="vender_funding_dates" class="form-control"  value="<%=@start_date%> - <%= @end_date%>">
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="clear"></div>
	<div class="col-md-9 marginTop10">
		<label class="bold">Vendor Info.</label>
		<table class="table table-bordered categoryTable wrap">
			<thead>
				<tr>
					<th>Vendor Name</th>
					<th>Vendor ID</th>
					<th>Vendor Description</th>

				</tr>
			</thead>
			<tbody>
				<% if @version_info!=nil %>

				<tr>
					<td>
					<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" value="<%= @version_info["vendor_name"] %>" style=" width: 160px; ">
					</td>
					<td>
					<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control"  value="<%= @version_info["vendor_id"] %>" >
					</td>
					<td>					<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description"  value="<%= @version_info["vendor_description"] %>" style="
																		height: 40px;"><%= @version_info["vendor_description"] %></textarea></td>
				</tr>
				<% else %>
				<tr>
					<td>
					<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" style=" width: 160px; ">
					</td>
					<td>
					<input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control">
					</td>
					<td>					<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description" style="
																		height: 40px;"></textarea></td>
				</tr>

				<% end %>

			</tbody>
		</table>
	</div>

	<div class="bdrTopLine clear"></div>
	<div class="col-md-9">
		<div>
			<label class="bold">Vendor Funding</label>
		</div>

		<label> By Contract</label>
		<table class="table table-bordered categoryTable wrap">
			<thead>
				<tr>
					<th>Unit Funding</th>
					<th>Lumpsum Funding</th>
				</tr>
			</thead>
			<tbody >
				<tr>
					<td>
					<input id="unit_funding" name="tierData[][unit_funding]" type="text" class="form-control vendor-form" value="<%= c["unit_funding"] %>">
					</td>
					<td>
					<input id="lumpsum_funding" name="tierData[][lumpsum_funding]" type="text" class="form-control vendor-form" value="<%= c["lumpsum_funding"] %>">
					</td>
				</tr>
			</tbody>
		</table>

		<label> By Product</label>
		<table class="table  table-bordered categoryTable vendor-product-table">
			<thead>
				<tr>
					<th>Product</th>
					<th>Product Name</th>
					<th>Product
					<br/>
					Desc</th>
					<th>Base Price</th>
					<th>Base Cost</th>
					<th>Unit Funding</th>
					<th>Net Cost</th>

				</tr>
			</thead>
			<tbody id= "tier_product_table">

				<%@product_data.each do |product_data|%>
				<tr>
					<td> <%= product_data["product"]%> </td>
					<td> <%= product_data["product_name"]%> </td>
					<td> <%= product_data["product_desc"]%> </td>
					<td>
					<input id="product_funding[][base_price]" name="product_funding[][base_price]" type="text" class="form-control vendor-product-form" value="<%= product_data["base_price"]%>" style="display:none" >	
					 <%= product_data["base_price"]%> </td>
					<td>
					<input id="product_funding[][base_cost]" name="product_funding[][base_cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["base_cost"]%>" style="display:none" >
					<%= product_data["base_cost"]%> </td>
					<td>
					<input id="product_funding[][unit_funding]" name="product_funding[][unit_funding]" type="text" class="form-control vendor-product-form" value="<%= product_data["unit_funding"]%>">
					</td>
					<td>
					<input id="product_funding[][cost]" name="product_funding[][cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["tier_products"].to_f%>">
					</td>
				</tr>
				<%end%>

			</tbody>
		</table>

	</div>

</div>

----------

<li class="">
	<a href="#tier<%= @sequence%>Vendor" data-toggle="tab">Tier <%= @sequence%></a>
</li>

----------

<div id="tier<%= @sequence%>PricingVehicle" class="tab-pane form-group" >
	<div class="col-md-4">
		<input id="tier_id" name="tier_id[]" style="display: none" value="<%=@tier_id%>" />
		<div class="date">
			<form class="form-horizontal">
				<fieldset>
					<div class="control-group">
						<div class="controls">
							<div class="input-prepend input-group">
								<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
								<input type="text" style="width: 200px" name="reservation" id="reservationPriceVehicleDate" class="form-control" value="<%=@start_date%> - <%= @end_date%>" />
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-md-4">
	
	</div>
	<div class="clear"></div>
	<div class="bdrTopLine">
		<div class="row">
			<div class="col-md-4">
				<label>Price Vehicle</label>
				<select name="priceVehicle[][name]" class="form-control priceSelector">
					<option value="<%= @sequence%>-1-flatOptimizeOpt">Flat Price</option>
					<option value="<%= @sequence%>-2-priceMultipleOpt">Price Multiple</option>
					<option value="<%= @sequence%>-3-percentOffOpt">Percent Off</option>
					<option value="<%= @sequence%>-4-AmtOffOpt">Amount Off </option>
					<option value="<%= @sequence%>-5-bogoOpt">BOGO</option>
					<option value="<%= @sequence%>-6-progressiveOpt">Progressive</option>
					<option value="<%= @sequence%>-7-bogaOpt">BOGA</option>
					<option value="<%= @sequence%>-8-custPricingOpt">Custom Pricing</option>
				</select>

			</div>
		</div>
		<!-- BO flat Optimize  option -->
		<div id="<%= @sequence%>-1-flatOptimizeOpt" class="priceVehicleGroup flatOptimizeOpt" >
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Flat Price</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableFlatPriceBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td> <input type='text' name="flatOptimizeOpt[][flatPrice]" class="form-control" value=""/>	</td>
						</tr>
					<%end%>
					
				</tbody>
			</table>
		</div>
		<!-- EO flat Optimize  option -->

		<!-- BO Price Multiple  option -->
		<div id="<%= @sequence%>-2-priceMultipleOpt" class="priceVehicleGroup priceMultipleOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Qty / Price</th>
					</tr>
				</thead>
				<tbody id="priceVehilcePriceMultipleBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td>	
								<input type='text' name="priceMultipleOpt[][qty]" class="form-control" />
								<input type='text' name="priceMultipleOpt[][price]" class="form-control" />
							</td>
						</tr>
					<%end%>

				</tbody>
			</table>
		</div>
		<!-- EO Price Multiple  option -->

		<!-- BO Percent Off  option -->
		<div id="<%= @sequence%>-3-percentOffOpt" class="priceVehicleGroup percentOffOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Percent Off</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTablePercentOffBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td> <input type='text' name="percentOffOpt[][percentOff]" class="form-control" />	</td>
						</tr>
					<%end%>
					
				</tbody>
			</table>
		</div>
		<!-- EO Percent Off  option -->

		<!-- BO Amount Off   option -->
		<div id="<%= @sequence%>-4-AmtOffOpt" class="priceVehicleGroup AmtOffOpt" style="display:none">
			<div class="marginTop10">
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
					Optimize </label>
				<label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
					Supply </label>
			</div>
			<table class="table table-bordered categoryTable marginTop30 marBtm0 hideClass">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Amount Off</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableAmountOffBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td> <input type='text' name="AmtOffOpt[][amtOff]" class="form-control" />	</td>
						</tr>
					<%end%>
					
				</tbody>
			</table>
		</div>
		<!-- EO Amount Off   option -->

		<!-- BO BOGO option -->
		<div id="<%= @sequence%>-5-bogoOpt" class="priceVehicleGroup bogoOpt" style="display:none">
			<div class="bogoOffer">
				<label>Buy</label>
				<input type="text" name="bogoOpt[][buy]" value="" class="form-control">
				<label>Qty ,</label>
				<label>Get</label>
				<input type="text" value="" name="bogoOpt[][get]" class="form-control">
				<label>Qty @:</label>
				<select class="form-control" name="bogoOpt[][offType]">
					<option>% off</option>
					<option>Amount off</option>
					<option>Flat amount</option>
				</select>
				<input type="text" value="" class="form-control" name="bogoOpt[][price]">
			</div>
			
			<table class="table table-bordered categoryTable marginTop30 marBtm0">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleBOGOTableBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
						</tr>
					<%end%>
			
				</tbody>
			</table>
			
		</div>
		<!-- BOGO  option -->

		<!-- BO Progressive option -->
		<div id="<%= @sequence%>-6-progressiveOpt" class="priceVehicleGroup progressiveOpt" style="display:none">
			<table class="table table-bordered categoryTable marginTop30 marBtm0">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Qty / Price</th>
					</tr>
				</thead>
				<tbody id="priceVehicleProgressiveTableBody">
					<% prodcut_count = 0 
					   divCount = 	@product_data.length * @sequence
					%>
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td>
								<div id="divContainer<%= divCount%>" class="divContainer">
									<div class="qtyPriceDiv">
										<input type='text' class="form-control" name="progressiveOpt<%= @sequence%><%=prodcut_count%>[][qty]" />
										$
										<input type='text' class="form-control" value="" name="progressiveOpt<%= @sequence%><%=prodcut_count%>[][price]" />
									</div>
								</div>
								<span class="glyphicon glyphicon-plus-sign addQtyPrice"></span>
							</td>
						</tr>
						<% prodcut_count += 1 
							divCount +=1
						%>
					<%end%>
					
				</tbody>
			</table>
		</div>
		<!-- EO Progressive  option -->

		<!-- BO BOGA  option -->
		<div id="<%= @sequence%>-7-bogaOpt" class="priceVehicleGroup bogaOpt" style="display:none">

			<div class="row">
				<div class="col-md-3">
					<div>
						All Products
					</div>
					<select size="10" multiple id="allCol<%= @sequence%>" style="width: 100%;">
						<%@product_data.each do |product_data|%>
							<option value="<%= product_data["product"]%>"><%= product_data["product_name"]%> </option>
						<%end%>
					</select>

				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= @sequence%>', 'selCol<%= @sequence%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol<%= @sequence%>', 'allCol<%= @sequence%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Buy Products
					</div>
					<select class="buyProduct" name="dataArrayBuy<%= @sequence%>[][buy]" size="10" multiple id="selCol<%= @sequence%>" style="width: 100%;">
						
					</select>
				</div>

			</div>
			
			<div class="row">
				<div class="col-md-3">
					
				</div>

				<div class="col-md-2 customizeTableButtons">
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol<%= @sequence%>', 'getCol<%= @sequence%>')">
						Add >
					</button>
					<button type="button" class="btn btn-default" onClick="listbox_moveacross('getCol<%= @sequence%>', 'allCol<%= @sequence%>')">
						< Remove
					</button>
				</div>

				<div class="col-md-3">
					<div>
						Get Products
					</div>
					<select class="getProduct" name="dataArrayGet<%= @sequence%>[][get]" size="10" multiple id="getCol<%= @sequence%>" style="width: 100%;">
						
					</select>
				</div>

			</div>

			<div class="bogoOffer">
				<label>Buy</label>
				<input type="text" name="bogaOpt[][buy]" value="" class="form-control">
				<label>Qty ,</label>
				<label>Get</label>
				<input type="text" value="" name="bogaOpt[][get]" class="form-control">
				<label>Qty @:</label>
				<select class="form-control" name="bogaOpt[][offType]">
					<option>% off</option>
					<option>Amount off</option>
					<option>Flat amount</option>
				</select>
				<input type="text" value="" class="form-control" name="bogaOpt[][price]">
			</div>
		</div>
		<!-- EO BOGA  option -->

		<!-- BO Custom Pricing  option -->
		<div id="<%= @sequence%>-8-custPricingOpt" class="priceVehicleGroup custPricingOpt" style="display:none">
			<div class="form-group col-md-4 marginTop10">
				<label>Price Description</label>
				<input type="text" value="" class="form-control">

			</div>
			<table class="table table-bordered categoryTable marginTop30 clear">
				<thead>
					<tr>
						<th>Product</th>
						<th>Base Cost</th>
						<th>Base Price</th>
						<th>Unit Funding</th>
						<th>Net Cost</th>
						<th>Custom Price</th>
					</tr>
				</thead>
				<tbody id = "priceVehicleTableCustomPricingBody">
					
					<%@product_data.each do |product_data|%>
						<tr>
							<td> <%= product_data["product_name"]%> </td>
							<td> <%= product_data["base_cost"]%> </td>
							<td> <%= product_data["base_price"]%> </td>
							<td> <%= product_data["unit_funding"]%> </td>
							<td> <%= product_data["tier_products"]%> </td>
							<td> <input type="text" value="" class="form-control" name="custPricingOpt[][price]"> </td>
						</tr>
					<%end%>
					
				</tbody>
			</table>
			
			
		</div>
		<!-- EO Custom Pricing  option -->
		<div class="checkbox form-group">
				<label>
					<input type="checkbox" value="">
					Apply Prices across all versions </label>
			</div>
			<div class="form-group col-md-2">
				<label> No. of reward points</label>
				<input type="text" value="" class="form-control">

			</div>
	</div>
</div>

----------

<li class="">
	<a href="#tier<%= @sequence%>PricingVehicle" data-toggle="tab">Tier <%= @sequence%></a>
</li>
