<%

 trialArray = @contract_object["trialArray"]
 trial_object = trialArray[0]
 logger.info"trial_object #{trial_object}"
 @version_array = trial_object["versionArray"] %>

<div class="innerSection"> 
<div class="subTabs tabbable marginTop30"> 
	<div class="col-md-11 pad0">
	<ul id="ulForVendorVersion" class="nav nav-tabs">
	  <% 	@version_id_Array = Array.new
	  		@version_array.each do |version| 
	  		@version_id_Array.push(version["version_id"])
	  		%>
	   <% if version["sequence"] == 0%>
	    <li class="active"><a href="#mainVersionVendor" data-toggle="tab">Main version</a></li>
	   <%else%>
	    <li><a href="#version<%= version["sequence"]%>Vendor" data-toggle="tab">version <%= version["sequence"]%></a></li>
	  <%end%>
	 <% end %>
	 	 <li class="rightBtn"> 
	  <button  id="createTierVendor" type="button" class="btn btn-default createTierVendor" 
	   value="<%= @version_id_Array.join(",")%>">+ Create Tier</button>
	  </li>
	 <input type="submit"  id="createTierVendorSubmitButton" style="display: none" value="Next"/>

	</ul>
	<div class="btnBrd1"></div>
   </div>
<div class="clear"></div>
<div id="venderVersionAdd" class="tab-content"> 
	
<% @version_array.each do |version|%>
	
		<% if version["sequence"] == 0%>
		<div id="mainVersionVendor" class="tab-pane active form-group"> 
		<%else%>
		<div id="version<%= version["sequence"]%>Vendor" class="tab-pane form-group"> 
		<%end%>
		
<% @tier_array= version["tierArray"]%>


  <h2>Contract Description</h2>
   <div class="row">
     <div class="col-md-6">
       <textarea class="form-control" rows="2"><%= trial_object['description']%></textarea>
     </div>
   </div>

<div class="subTabs tabbable marginTop30"> 
   <div class="col-md-11 pad0">
	<ul class="nav nav-tabs ulForVendorTier">
	  <% @tier_array.each do |tier| %>
	   <% if tier["sequence"] == 0%>
	    <li class="active"><a href="#<%= version["sequence"]%>mainPriceVendor" data-toggle="tab">Main Price</a></li>
	   <%else%>
	    <li><a href="#<%= version["sequence"]%>tier<%= tier["sequence"]%>Vendor" data-toggle="tab">Tier <%= tier["sequence"]%></a></li>
	  <%end%>
	 <% end %>
	</ul>
	<div class="btnBrd1"></div>
   </div>
  <div class="clear"></div>

	<div class="tab-content row venderTierAdd"> 
	 <% @tier_array.each do |tier| %>
		<% if tier["sequence"] == 0%>
		<div id="<%= version["sequence"]%>mainPriceVendor" class="tab-pane active form-group"> 
		<%else%>
		<div id="<%= version["sequence"]%>tier<%= tier["sequence"]%>Vendor" class="tab-pane form-group"> 
		<%end%>
		
		<input id="tier_id" name="tierData[][tier_id]" type="text" class="form-control" value="<%= tier["tier_id"] %>" style="display: none" >
		<input id="version_id" name="tierData[][version_id]" type="text" class="form-control version_id_tier" value="<%= version["version_id"] %>" style="display: none" >
	<div class="col-md-4">
	  <div class="date">
		<div class="control-group">
	      <div class="controls">
	        <div class="input-prepend input-group">
	          <span class="add-on input-group-addon">
	             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
	          </span>
			 <% if tier["start_date"] == "" 
				  @start_date = trial_object["startDate"].strftime("%m/%d/%Y")
				  @end_date =  trial_object["endDate"].strftime("%m/%d/%Y")
				else 
				  @start_date = tier["start_date"].strftime("%m/%d/%Y")
				  @end_date =  tier["end_date"].strftime("%m/%d/%Y")
				end
				%>
				<input type="text" style="width: 200px" name="tierData[][vender_funding_dates]" 
				id="vender_funding_dates" class="form-control"  value="<%=@start_date%> - <%= @end_date%>">
			</div>
		  </div>
	    </div>
	  </div>
	</div>
	<div class="clear"></div>
	<div class="col-md-9 marginTop10">
	 <label class="bold">Vendor Info.</label>
	  <table class="table table-bordered categoryTable wrap">
		<thead>
		  <tr>
		    <th>Vendor Name</th>
		    <th>Vendor ID</th>
		    <th>Vendor Description</th>
		  </tr>
		</thead>
	    <tbody>
	      <% if tier["vendor_info"]!=nil %>
	        <% @version_info = tier["vendor_info"]%>	
		<tr>
		  <td>
			<input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" 
			value="<%= @version_info["vendor_name"] %>" style=" width: 160px;">
		  </td>
		  <td>
		    <input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control"  
		    value="<%= @version_info["vendor_id"] %>" >
		  </td>
		  <td>					
			<textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description"  value="<%= @version_info["vendor_description"] %>" style="height: 40px;">
			 <%= @version_info["vendor_description"] %></textarea>
		  </td>
		</tr>
	  <% else %>
		<tr>
		  <td>
		     <input id="vendor_name" name="tierData[][vendor_name]" type="text" class="form-control" 
		     style=" width: 160px;">
		  </td>
		  <td>
		     <input id="vendor_id" name="tierData[][vendor_id]" type="text" class="form-control">
		   </td>
  		   <td>					
  		    <textarea class="form-control" rows="4" name="tierData[][vendor_description]" id="vendor_description" style="height: 40px;"></textarea>
  		   </td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
	</div>

	<div class="bdrTopLine clear"></div>
	<div class="col-md-9">
	 <div><label class="bold">Vendor Funding</label></div>
		<label> By Contract</label>
		<table class="table table-bordered categoryTable wrap">
		  <thead>
		    <tr>
			 <th>Unit Funding</th>
			 <th>Lumpsum Funding</th>
			</tr>
		  </thead>
		  <tbody>
		    <tr>
			 <td>
			  <input id="unit_funding" name="tierData[][unit_funding]" type="text" class="form-control vendor-form" value="<%= tier["unit_funding"] %>">
			 </td>
		     <td>
			   <input id="lumpsum_funding" name="tierData[][lumpsum_funding]" type="text" class="form-control vendor-form" value="<%= tier["lumpsum_funding"] %>">
		     </td>
			</tr>
		</tbody>
		</table>

	     <label> By Product</label>
		<table class="table  table-bordered categoryTable vendor-product-table">
	      <thead>
	        <tr>
	          <th>Product</th>
	          <th>Product Name</th>
	          <th>Product<br/>Desc</th>
			  <th>Base Price</th>
			  <th>Base Cost</th>
			  <th>Unit Funding</th>
			  <th>Net Cost</th>
			</tr>
		  </thead>
		  <tbody id= "tier_product_table">
		    <% product_dataArr =tier["tierProductArray"]%>
		    <% product_dataArr.each do |product_data| %>
		     <tr>
				<td> <%= product_data["product_id"]%> </td>
				<td> <%= product_data["product_name"]%> </td>
				<td> <%= product_data["product_desc"]%> </td>
				<td> <%= product_data["base_price"]%> </td>
		       <td>
		         <input id="product_funding[][base_cost]" name="product_funding[][base_cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["base_cost"]%>" style="display:none" >
		         <%= product_data["base_cost"]%> 
		       </td>
		       <td>
				<input id="product_funding[][unit_funding]" name="product_funding[][unit_funding]" type="text" class="form-control vendor-product-form" value="<%= product_data["unit_funding"]%>">
			   </td>
		       <td>
		        <input id="product_funding[][cost]" name="product_funding[][cost]" type="text" class="form-control vendor-product-form" value="<%= product_data["cost"]%>" readonly>
		      </td>
		    </tr>
		   <%end%>
		  </tbody>
	     </table>
		</div>

	</div>
	<% end %>
	</div>



	</div>




</div>

<% end %>
</div>
  <div class="categoryNext clear">
	<a href="#marketing" data-toggle="tab" class="prevBtn">Previous</a>
	<a href="#pricing"  id="price_vehicle_funding" data-toggle="tab" style="display: none">Next</a>
	<input type="submit"  class="nextBtn vender-button"  id="submit_button" value="Next"/>
  </div>
</div>
</div>


<!--  <div class="newContractActionBar form-group"> 
<button type="button" class="btn btn-default">Cancel</button> 
<div><span class="small">(do not create trial)</span></div>
</div> -->