<body>
	<!--! BO Previous Notes OVERLAY -->

	<div id="prevNotesDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Note</th>
						<th>Created by user</th>
						<th>Date &amp; Time</th>

					</tr>
				</thead>
				<tbody id= "userNotesTable">

				</tbody>
			</table>

		</div>

	</div>
	<!--! EO Previous Notes OVERLAY -->

	<!--! BO Location Dialog -->

	<div id="locationDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Version</th>
						<th>Location Name</th>
						<th>Description</th>
					</tr>
				</thead>

				<tbody>
					<% trial= @contract_object_view["trialArray"][0]%>
					<% trial["versionArray"].each {|versionArray| %>

					<% versionArray["version_store"].each {|version_store| %>
					<tr>

						<td>V<%= versionArray["sequence"]%></td>
						<td><%= version_store["banner_abbr"] %></td>
						<td><%= version_store["description"] %></td>

					</tr>
					<%}  }%>
				</tbody>
			</table>

			<div class="overlayActionsBar">
				<button type="button" class="btn btn-default">
					Close
				</button>
			</div>

		</div>

	</div>
	<!--! EO Location Dialog -->
	<!--! BO Marketing  Dialog -->

	<div id="marketingVechicaDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Version</th>
						<th>Marketing Vehicle</th>
					</tr>
				</thead>

				<tbody>
					<% trial = @contract_object_view["trialArray"][0] %>
					<% trial["versionArray"].each {|version| %>

					<tr>

						<td>V<%= version["sequence"]%></td>
						<td><%= version["marketing_vehicle_name"]%></td>

					</tr>
					<% }%>
				</tbody>
			</table>

			<div class="overlayActionsBar">
				<button type="button" class="btn btn-default">
					Close
				</button>
			</div>

		</div>

	</div>
	<!--! EO Marketing Dialog -->
	<!--! BO Price Dialog -->
	<div id="priceVechicalDialog">

		<div class="overlayContent">

			<table id="noteViewdataTable" class="tablesorter table-striped">
				<thead>
					<tr>
						<th>Version</th>
						<th>Price Vehicle</th>

					</tr>
				</thead>

				<tbody>
					<% trial = @contract_object_view["trialArray"][0] %>
					<% versionArray=trial["versionArray"].each {|versionArray| %>
					<% tier=versionArray["tierArray"][0] %>
					<tr>
						<td>V<%= versionArray["sequence"]%></td>
						<td><%= tier["priceVehicleDescription"] %></td>

					</tr>
					<%}%>
				</tbody>
			</table>

			<div class="overlayActionsBar">
				<button type="button" class="btn btn-default">
					Close
				</button>
			</div>

		</div>

	</div>
	<!--! EO Price Dialog -->

	<!-- BO TAB CONTENT -->
	<div class="container tab-content tabContentMain">

		<!-- BO CONTRACT TAB -->
		<div id="contract" class="container tab-pane active contractTabBody">

			<div id="breadcrumbSection">
				<ul class="breadcrumb">
					<li>
						<a href="../index.html">Worklist</a>
					<li class="active">
						Contracts Main - <%= @contract_object_view["contract_id"] %>
					</li>
				</ul>
			</div>

			<div class="page-header">
				<h1><img src="../assets/contractDetailsIco.png"/>Contracts Main - <%= @contract_object_view["contract_id"] %></h1>
			</div>

			<div class="subTabs tabbable mainContentTabs">
				<ul class="nav nav-pills">
					<% @contract_object_view["trialArray"].each {|trial| %>
					<%if trial["sequence"] == 0%>
					<li>
						<a href="#mainCopy" data-toggle="tab">Main Copy</a>
					</li>
					<%else%>
					<li>
						<a href="#trial<%= trial["sequence"]%>" data-toggle="tab">Trial #<%= trial["sequence"]%> </a>
					</li>
					<%end%>
					<%} %>

					<li class="pull-right">
						<div class="compareRightBtn">
							<button type="submit" class="btn btn-default" onClick="javascript:window.location.href='/contract/createTrial?contract_id=<%= @contract_object_view["contract_id"] %>'">
								+ Create Trial
							</button>

						</div>
					</li>
				</ul>
				<div class="tab-content subTabContent">
					<% @contract_object_view["trialArray"].each {|trial| %>
					<%if trial["sequence"] == 0%>
					<div id="mainCopy" class="tab-pane active">
						<%else%>
						<div id="trial<%= trial["sequence"]%>" class="tab-pane ">
							<%end%>
							<div class="row">
								<div class="col-md-6">
									<!-- <form role="form"  action="/addNote" > -->
									<div class="form-group">
										<label for="addNote" class="col-sm-10 control-label">Add a Note</label>
										<div class="col-md-10">
											<textarea class="form-control" rows="1" id="addNote"></textarea>
											<span class="small" > Last Note: <label for="lastNote" class="small"> </label> </span>
											<div class="btn-group">
												<button class="btn btn-default btn-xs" type="button" id="prevNoteBtn" data-toggle="dropdown" onclick="getAllNote(<%= @contract_object_view["contract_id"] %>)">
													Previous Notes <span class="caret"></span>
												</button>

											</div>
										</div>
										<div class="col-md-2">
											<input class="btn btn-default" onclick="addNote(<%= @contract_object_view["contract_id"] %>)" type="submit" value="Add">
											<!-- <div class="col-md-2"><button type="submit" class="btn btn-default" onclick="addNote()">Add</button>  </div> -->
										</div>
									</div>

								</div>
								<div class="col-md-2"></div>
								<div class="col-md-6 btnAlign">

								</div>

								<div class="clear"></div>
							</div><!-- EO row -->

							<div class="contractInfo">
								<!-- BO row1 -->
								<div class="row">
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract #
											</div>
											<label><%= @contract_object_view["contract_id"] %></label>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="grey">
												Contract Description
											</div>
											<label><%= trial["description"] %></label>
										</div>
									</div>

								</div><!-- EO row1 -->

								<!-- BO row2 -->
								<div class="row greyBg">
									<% version=trial["versionArray"][0]%>
									<% tier=version["tierArray"][0]%>
									<% vendor_info=tier["vendor_info"]%>
									<% vendor_name=vendor_info["vendor_name"]%>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Vendor Name
											</div>
											<label><%= vendor_name %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract Start Date
											</div>
											<label><%= trial["startDate"] %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Contract End Date
											</div>
											<label><%= trial["endDate"] %></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Versions
											</div>
											<label><%= trial["numberOfVersions"]%></label>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Locations
											</div>
											<% l=0%>
											<% trial["versionArray"].each {|version| %>
											<% break if l== 2%>
											<a href="#" class="locationModal">V<%= version["sequence"]%>:<%= version["zone_value"]%></a><label>|</label>
											<% l=l+1} %>
											<a href="#" class="locationModal">...</a>
										</div>
									</div>

								</div><!-- EO row2 -->

								<!-- BO row3 -->

								<div class="row">

									<div class="col-md-2">
										<div class="form-group">
											<div class="grey">
												Marketing Vehicles
											</div>
											<% m=0%>
											<% trial["versionArray"].each {|version| %>
											<% break if m== 2%>
											<a href="#" class="marketingVechicalModal">V<%= version["sequence"]%>:<%= version["marketing_vehicle_name"]%></a><label>|</label>
											<% m=m+1} %>
											<a href="#" class="marketingVechicalModal">...</a>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<div class="grey">
												Pricing Vehicles
											</div>
											<% p=0%>
											<% trial["versionArray"].each {|version| %>
											<% tier= version["tierArray"][0]%>
											<% break if p== 2%>
											<a href="#" class="priceVechicalModal">V<%= version["sequence"]%>:<%= tier["priceVehicleDescription"]%></a><label>|</label>
											<% p=p+1}%>
											<a href="#" class="priceVechicalModal">...</a>
										</div>
									</div>

								</div><!-- EO row3 -->
								<!--after forcast
								<!-- BO row4
								<div class="row greyBg">
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								SKUs Forecasted
								</div>
								<label>1000</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								SKUs Total
								</div>
								<label>5000</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								Store SKUs Forecasted
								</div>
								<label>500</label>
								</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
								<div class="grey">
								Store SKUs Total
								</div>
								<label>10000</label>
								</div>
								</div>

								</div><!-- EO row4 -->

								<div class="row marginTop10" id="mainPriceVendor">
									<div class="col-md-9">
										<div class="form-group marBtm0">
											<label class="bold">Vendor Funding</label>
										</div>

										<table class="table table-bordered categoryTable wrap">
											<thead>
												<tr>
													<th>Unit Funding</th>
													<th>Lumpsum Funding</th>
													<th>From Date</th>
													<th>To Date</th>

												</tr>
											</thead>
											<tbody>
												<% version["tierArray"].each {|tier| %>
												<tr>
													<td><%= tier["unit_funding"] %></td>
													<td><%= tier["lumpsum_funding"] %></td>
													<td><%= tier["start_date"] %></td>
													<td><%= tier["end_date"] %></td>

												</tr>
												<%} %>
											</tbody>
										</table>
									</div>

								</div>

								<div class="row" id="mainPriceVendor">
									<div class="col-md-9">
										<div class="form-group marBtm0">
											<label class="bold">Contract Attributes</label>
										</div>

										<div class="panel-body infoProdAttrMain">

											<div class="tab-content">
												<!-- BO INFORMATION ATTRIBUTES -->
												<div id="infoAttr" class="tab-pane active infoProdAttrPanel">
													
														<table class="table table-bordered categoryTable wrap">
														<thead>

															<tr>
																<th> Attribute </th>
																<th> Value </th>
															</tr>
														</thead>
														<tbody>
															<% @contract_object_view["information_attributes"].each {|information_attributes_info| %>
															<tr>
																<td><%= information_attributes_info["name"] %></td>
																<td><%= information_attributes_info["value"] %></td>
															</tr>
															<%}%>

														</tbody>
													</table>

												</div><!-- EO INFORMATION ATTRIBUTES -->

											</div>

										</div>
									</div>

								</div>

								<div class="row" id="mainPriceVendor">
									<div class="col-md-9">
										<div class="form-group marBtm0">
											<label class="bold">Product Attributes</label>
										</div>

										<div class="panel-body infoProdAttrMain">

											<div class="tab-content">

												<!-- BO PRODUCTS ATTRIBUTES -->
												<div id="prodAttr" class="tab-pane infoProdAttrPanel active">
													<table class="table table-bordered categoryTable wrap">
														<thead>
															<tr>
																<th> Product </th>
																<th> Attribute </th>
																<th> Value </th>
															</tr>
														</thead>
														<tbody>
															<% @contract_object_view["product_attributes"].each {|product_attributes_info_comper| %>

															<tr>
																<td ><%= product_attributes_info_comper["product_name"] %></td>
																
																<% @contract_object_view["product_attributes"].each {|product_attributes_info| %>
																<%if product_attributes_info_comper["product_id"]== product_attributes_info["product_id"]%>
																<td><%= product_attributes_info["name"] %></td>
																<td><%= product_attributes_info["value"] %></td>
																<% @contract_object_view["product_attributes"].delete(product_attributes_info_comper)%>
																<% end %>
																
																<%}%>
                                                               
															</tr>
															<%}%>

														</tbody>
													</table>

												</div><!-- EO PRODUCTS ATTRIBUTES -->

											</div>

										</div>
									</div>

								</div>

							</div><!--EO contract row section -->
							<!-- SO Marketing View -->

							<div class="accordion-group accordianBody">
								<div class="accordion-heading accordianHeader">
									<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">Products</a>
								</div>
								<div id="collapseTwo" class="collapse in worklistAccordionBody">
									<div class="accordion-inner">
										<div id="tableView" class="tab-pane active tableViewTabBody">
											<table id="birdEyeViewdataTable" class="birdEyeTable tablesorter table-striped ">
												<thead>
													<tr>
														<th>Product</th>
														<th>Base Cost </th>
														<th>Base Price</th>
														<th>Unit Funding</th>
														<th>Net Cost</th>
														<th>Effective Price</th>
														<th>Baseline</th>
														<th>Approved</th>
														<th>Projected</th>
														<th>Approved - vs - Projected</th>
													</tr>
												</thead>
												<tbody>
													<% version=trial["versionArray"][0]%>
													<% tier=version["tierArray"][0]%>
													<%tier["tierProductArray"].each{|tierProduct|%>
													<tr>
														<td><%= tierProduct["product_desc"] %></td>
														<td><%= tierProduct["base_cost"] %></td>
														<td><%= tierProduct["base_price"] %></td>
														<td><%= ((tierProduct["product_costs_range"]["unit_funding_range"]).delete! '()').gsub(',', ' - ') %></td>
														<td><%= ((tierProduct["product_costs_range"]["net_cost_range"]).delete! '()').gsub(',', ' - ') %></td>
														<td><%= ((tierProduct["product_costs_range"]["effective_price_range"]).delete! '()').gsub(',', ' - ') %></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
													<%}%>

												</tbody>
											</table>
											<div class="exportAsLink">
												Export as <a href="javascript:;"><img src="../assets/Excel_Icon.png" border="0"></a>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<%} %>
						<div class="newContractActionBar">
							<button type="button" class="btn btn-default">
								Modify Contract
							</button>
						</div>
					</div>

				</div><!-- EO Sub TAB -->
			</div><!-- EO CONTRACT TAB -->
		</div><!-- EO TAB CONTENT -->
		<div id="hiddenDiv" style="display: none"></div>
		<script>
			$(document).ready(function() {
				/* Common for all Modals */
				$("#prevNotesDialog, #locationDialog ,#marketingVechicaDialog ,#priceVechicalDialog").dialog({
					autoOpen : false,
					width : "auto",
					height : "auto"
				});
				$(".locationModal").click(function(e) {
					$("#locationDialog").dialog("open")
				});
				$(".marketingVechicalModal").click(function(e) {
					$("#marketingVechicaDialog").dialog("open")
				});
				$(".priceVechicalModal").click(function(e) {
					$("#priceVechicalDialog").dialog("open")
				});
				$("#prevNoteBtn").click(function(e) {
					$("#prevNotesDialog").dialog("option", "position", {
						my : "left",
						at : "left",
						of : e,
						offset : "5 70"
					});
					$("#prevNotesDialog").dialog("open")
					var offset = $(this).offset()
					$("#prevNotesDialog").parent().css("top", offset.top - 30 + "px")
				});
				$("#prevNoteBtn").click(function() {
					$(this).find("span").removeClass("caret").addClass("caretdown")
				});
				$(".ui-dialog-titlebar-close").click(function() {
					$("#prevNoteBtn").find("span").removeClass("caretdown").addClass("caret")
				});
				$(".prevBtn").click(function() {
					var i = findActiveTab();
					leftTab.eq(i - 1).addClass("active")
					leftTab.eq(i).removeClass("active")
				});
			});
			function clearFilter(filterOpt) {
				document.getElementById(filterOpt).style.display = "none";
			}
		</script>

</body>

