
 <!--! BO Previous Notes OVERLAY -->
    <div id="prevNotesDialog">     
      
        <div class="overlayContent">
        
        <table id="noteViewdataTable" class="tablesorter table-striped"> 
                            <thead> 
                            <tr> 
                                <th>Note</th> 
                                <th>Created by user</th> 
                                <th>Date &amp; Time</th> 
                                
                            </tr> 
                            </thead> 
                            <tbody> 
                            <tr> 
                                <td>Test Note</td> 
                                <td>You</td> 
                                <td>12/21/2014 09:20am</td> 
                                 
                            </tr> 
                            <tr> 
                                <td>This is a very crucial contract</td> 
                                <td>Tony StarkLee</td> 
                                <td>12/21/2014 09:20am</td> 
                                
                            </tr> 
                            <tr> 
                                <td>I have a Plan. Attach</td> 
                                <td>Tony Stark</td> 
                                <td>12/21/2014 09:20am</td> 
                               
                            </tr> 
                            <tr> 
                                <td>Important Contract</td> 
                                <td>Tony Stark</td> 
                                <td>12/21/2014 09:20am</td> 
                                
                            </tr> 
                            <tr> 
                                <td>Spots</td> 
                                <td>Tony Stark</td> 
                                <td>12/21/2014 09:20am</td>  
                                
                            </tr> 
                            <tr class="customRow"> 
                                <td>Custom</td> 
                                <td>Tony Stark</td> 
                                <td>12/21/2014 09:20am</td> 
                               
                            </tr>                                                         
                            </tbody> 
                            </table>
       
        </div>
                       
    </div><!--! Previous Notes OVERLAY -->
   
    
    
       <!--! BO OVERRIDE FORECAST OVERLAY -->
    <div id="overrideForecastOverlay">     
     
        <div class="overlayContent">
           
          <div class="overlayHeader"> 
              Override Forecast
          </div>
          
          <!-- OVERLAY BODY (SCROLLABLE)-->
         <div id="overlayBody" class="overlayBodyScroll">
          
          <div class="forecastOverlayInnerHeadingDiv">
           Contract level forecast
          </div>
          
          <div>
            <table class="flatPriceTable forecastTable infoAttrTable table-striped" >                                      
               <thead>
                  <tr>
                    <th> </th>
                    <th> Baseline </th>
                    <th> Approved </th>
                    <th> Projected </th>
                  </tr>
               </thead>
               <tbody> 
                  <tr>
                    <td>Units</td>
                    <td>100000</td>
                    <td>100000</td>
                    <td>
                      <table>
                        <tr>
                          <td>Old</td>
                          <td>New</td>
                        </tr>
                        <tr>
                          <td>123365</td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
               </tbody>
            </table>                                                      
          </div>
           
          <div class="forecastOverlayInnerHeadingDiv">
           Product level forecast
          </div> 
          
          <div>
           <table class="flatPriceTable forecastTable infoAttrTable table-striped" >                                      
               <thead>
                  <tr>
                    <th> By Products </th>
                    <th> Baseline </th>
                    <th> Approved </th>
                    <th> Projected </th>
                  </tr>
               </thead>
               <tbody> 
                  <tr>
                    <td>L1</td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <table>
                        <tr>
                          <td>Old</td>
                          <td>New</td>
                        </tr>
                        <tr>
                          <td>123365</td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                   <tr>
                    <td>L1</td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <table>
                        <tr>
                          <td>Old</td>
                          <td>New</td>
                        </tr>
                        <tr>
                          <td>123365</td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                   <tr>
                    <td>L1</td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <table>
                        <tr>
                          <td>Old</td>
                          <td>New</td>
                        </tr>
                        <tr>
                          <td>123365</td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  
                   <tr>
                    <td>L1</td>
                    <td> </td>
                    <td> </td>
                    <td>
                      <table>
                        <tr>
                          <td>Old</td>
                          <td>New</td>
                        </tr>
                        <tr>
                          <td>123365</td>
                          <td><input type="text"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
               </tbody>
            </table>           
          </div>
          
        
          
        </div>
         <div class="overlayActions">        
            <button type="button" class="btn btn-default" >Restore to Original</button>
            <button type="button" class="btn btn-default">Save</button>
         </div>
        </div>
                     
    </div><!--! EO OVERRIDE FORECAST OVERLAY -->
    
    
    
    <!-- BO TAB CONTENT -->
    <div class="container tab-content tabContentMain">     
      
      <!-- BO CONTRACT TAB --> 
    <div id="contract" class="container tab-pane active contractTabBody">
   		
            <div id="breadcrumbSection">
                <ul class="breadcrumb">
                    <li><a href="#">Worklist</a>
                    <li><a href="modifyContract.html">Modify Contract - 1101207</a></li>
                    <li class="active">Contract Attributes</li>
                </ul>
            </div>
            
            <div class="page-header">
               <h1><img src="../images/modify_contract_icon.png"/>Modify Contract - 1101207</h1>
            </div>
        
            <div class="subTabs tabbable mainContentTabs">
                <ul class="nav nav-pills">
                     <li class="active"><a href="#base" data-toggle="tab">Base Contract</a></li>
                     <li><a href="#version1" data-toggle="tab">Version 1</a></li>
                     <li><a href="#version2" data-toggle="tab">Version 2</a></li>
                     <li><a href="#version3" data-toggle="tab">Version 3</a></li>
                </ul>
               <div class="tab-content subTabContent"> 
                    <div id="base" class="tab-pane active">
                     	<div class="row">
                          <div class="col-md-6">
                          		<form role="form">
                                  <div class="form-group">
                                    <label for="addNote" class="col-sm-10 control-label">Add a Note</label>
									<div class="col-md-10">
                                    <textarea class="form-control" rows="1" id="addNote"></textarea>
                                    <span class="small"> Last Note: Crucial Contract | Bruce Wayne | 12/21/2014 08:43am</span>
                                    <div class="btn-group">
                                      <button class="btn btn-default btn-xs" type="button" id="prevNoteBtn" data-toggle="dropdown">
                                        Previous Notes (25) <span class="caret"></span>
                                      </button>
                                     
                                    </div>
                                    </div>
                                    <div class="col-md-2"><button type="submit" class="btn btn-default">Add</button>  </div>                           
                                  </div>
                          		</form>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-4 btnAlign"><button type="submit" class="btn btn-default overrideBtn">Override Forecast</button>  <button type="submit" class="btn btn-default">Contract Attributes</button> </div>
                        </div>
                        
                        
                        <div class="panel">

<!--                       <div class="panel-heading">
                              <h3 class="panel-title">
                                 Contract Attributes
                              </h3>
                           </div>
-->
                           <div class="contractAttrHeading">
                             Contract Attributes
                           </div>
                           
                           
                           <div class="panel-body infoProdAttrMain">
                           
                             <ul class="nav nav-tabs grapTableTabs" role="tablist">
                                 <li class="active"><a href="#infoAttr" data-toggle="tab">Information Attributes</a></li>
                                 <li><a href="#prodAttr" data-toggle="tab">Product Attributes</a></li>
                             </ul>
                             
                             
                              	<form action="addContractAttribute" method="post" data-remote='true'>
                              		<input type="text" name="contract_id" value="<%=@contract_id%>" style="display: none">
                              		 <div class="tab-content">
                                   <!-- BO INFORMATION ATTRIBUTES -->
                                   <div id="infoAttr" class="tab-pane active infoProdAttrPanel">                                    
                                       <%= render :partial=>"contract_attribute"%>
                                   </div><!-- EO INFORMATION ATTRIBUTES -->
                                   
                                   <!-- BO PRODUCTS ATTRIBUTES -->
                                   <div id="prodAttr" class="tab-pane infoProdAttrPanel">
                                    	<%= render :partial=>"contract_product_attribute"%>
                                   </div><!-- EO PRODUCTS ATTRIBUTES -->
                                   
                               	   <div class="infoAttrActionBar">
								    	<input type="submit" class="btn btn-default" value="Save" />
								   </div>
								   </div>
                                 </form>
                              
                                                        
                           </div>
                        </div>
                    </div>
                    
                  <div id="version1" class="tab-pane">Version 1</div>
                    <div id="version2" class="tab-pane">Version 2</div>
                    <div id="version3" class="tab-pane">Version 3</div>
                </div>
            </div><!-- EO Sub TAB -->  
       </div><!-- EO CONTRACT TAB -->            
    </div><!-- EO TAB CONTENT -->    
    
   
    <script>
	
     
	$(document).ready(function() 
    { 	 
	 /* scrollbars */
		$('#overlayBody').enscroll({
		 
			showOnHover: true,
			verticalTrackClass: 'track3',
			verticalHandleClass: 'handle3'
		});
		
		/* validation using class name */
		$.each($('.numerical'), function() {
			    var object = new LiveValidation(this.id);
				object.add( Validate.Numericality, { onlyInteger: true });
		});
		
		
		
		 /* Common for all Modals */				
					$( "#prevNotesDialog, #overrideForecastOverlay" ).dialog({
								autoOpen: false,
								width: "auto",
								height: "auto"
					});
					
				 
				 
				    $("#prevNoteBtn").click(function(e) {
    
					$( "#prevNotesDialog" ).dialog("option", "position", {
						my: "left",
						at: "left",
						of: e,
						offset: "5 70"
					  });
					
						$( "#prevNotesDialog" ).dialog( "open")
						var offset = $(this).offset()
									  
						$( "#prevNotesDialog" ).parent().css("top", offset.top-30+"px")
					
				  	});	
					
					
				    $(".overrideBtn").click(function(e) {
    
					$( "#overrideForecastOverlay" ).dialog("option", "position", {
						my: "left",
						at: "left",
						of: e,
						offset: "5 70"
					  });
					
						$( "#overrideForecastOverlay" ).dialog( "open")
						var offset = $(this).offset()
									  
						$( "#overrideForecastOverlay" ).parent().css("top", 30+"px")
					
				  	});	
					
	 } ); 	
	
	$(document).ready(function() 
    { 
	


	$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();
		
      $('.treeLastChild').click(function() {
		      $('.treeLastChild').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
		});
		
	 $("#prevNoteBtn").click(function(){
			
			$(this).find("span")
			.removeClass("caret")
			.addClass("caretdown")
		});
		
		$(".ui-dialog-titlebar-close").click(function(){
			$("#prevNoteBtn").find("span")
			.removeClass("caretdown")
			.addClass("caret")
		});
		
		
		$('#selectAll').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$('#selectAll2').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox2').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox2').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$('#selectAll3').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox3').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox3').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
		});
		
		$(".addProdtoContract").click( function(){
			$('.addProdContract').show()
		});
		
		function findActiveTab(){
			var returnVal;
			$( ".tabs-left li" ).each(function( index ) {
		//  console.log( index + ": " + $( this ).text() );
		  
		  	var checkClass = $(this).hasClass('active')
		  		if(checkClass)
		  		returnVal=index;
			});
			return returnVal;
		}
		
		
		var leftTab =$(".tabs-left li");
		$(".nextBtn").click( function(){
			var i = findActiveTab();
			
			leftTab.eq(i+1).addClass("active")
			leftTab.eq(i).removeClass("active")
		});
		
		$(".prevBtn").click( function(){
			var i = findActiveTab();
			
			leftTab.eq(i-1).addClass("active")
			leftTab.eq(i).removeClass("active")
		});
		
	$('#startDate, #endDate').datetimepicker({
					pickTime: false
	});	
		
	 $("#noteViewdataTable").tablesorter({sortList: [[3,1]]}); 
			
    }); 
	
	
	</script>
    
    
 </body>

</html>

