
  
    <!-- BO RESET FILTERS OVERLAY -->  
     <div id="worklistResetFilterDialog">     
      
     
        <div class="overlayContent customizeColOverlay">                                      

         <!-- OVERLAY HEADER-->
         <div class="overlayHeader"> Filters </div> 
      
         <!-- OVERLAY BODY (SCROLLABLE)-->
         <div id="overlayBody" class="overlayBodyScroll">
         
          <!-- FILTERS 1 -->                      
            <ul class="list-inline">
              <!-- Products -->
              <li> 
                <ul>
                  <li>Products</li>
                  <li>
                    <div class="right-inner-addon productFilterSearch">
                      <i class="glyphicon glyphicon-search"></i>
                      <input type="search" class="form-control searchBox" placeholder="Quick search" />                     </div>
                  </li>
                  <li class="rightAling"><a href="javascript:;" >Reset</a></li>
                  <li>
                     <div class="productFilterTreeDiv">
                        <ul id="productFilterTree">
                            <li>Category 1
                                <ul>
                                    <li class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li>Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                            
                            <li>Category 2
                                <ul>
                                    <li  class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li>Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                            
                            <li>Category 3
                                <ul>
                                    <li class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li >Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                          </ul>
                    </div>
                  </li>
                                 
                <li>
                 <div class="productFilterTreeDiv">              
                     <ul id="productAttrFilterTree">
                        <li>Attribute 1
                            <ul>
                                <li><input type="checkbox"> A1</li>
                                <li><input type="checkbox"> A2</li>
                                <li><input type="checkbox"> A3</li>
                            </ul>
                        </li>
                        <li>Attribute 2
                            <ul>
                                <li><input type="checkbox"> A1</li>
                                <li><input type="checkbox"> A2</li>
                                <li><input type="checkbox"> A3</li>
                            </ul>
                        </li>
                    </ul>       
                 </div>
                </li>
              </ul>
              <!-- Locations -->         
              <li>              
                  <ul>
                      <li>Locations</li>
                      <li>
                        <div class="right-inner-addon productFilterSearch">
                          <i class="glyphicon glyphicon-search"></i>
                          <input type="search" class="form-control searchBox" placeholder="Quick search" />                     </div>
                      </li>
                      <li  class="rightAling"><a href="javascript:;">Reset</a></li>
                      <li>
                         <div class="productFilterTreeDiv">
                            <ul id="locationFilterTree">
                                <li>Category 1
                                    <ul>
                                        <li class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                                
                                <li>Category 2
                                    <ul>
                                        <li class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                                
                                <li>Category 3
                                    <ul>
                                        <li  class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                              </ul>
                        </div>
                      </li>
                                     
                    <li>
                     <div class="productFilterTreeDiv">              
                         <ul id="locationAttrFilterTree">
                            <li>Attribute 1
                                <ul>
                                    <li><input type="checkbox"> A1</li>
                                    <li><input type="checkbox"> A2</li>
                                    <li><input type="checkbox"> A3</li>
                                </ul>
                            </li>
                            <li>Attribute 2
                                <ul>
                                    <li><input type="checkbox"> A1</li>
                                    <li><input type="checkbox"> A2</li>
                                    <li><input type="checkbox"> A3</li>
                                </ul>
                            </li>
                        </ul>       
                     </div>
                    </li>
                  </ul>
              
              </li>     
              <!-- Time -->         
              <li>
                <ul> 
                  <li> Time </li>
                  <li>
                    <select>
                       <option value="date">Date</option>
                       <option value="daterange">Date Range</option>
                       <option value="Q1">Q1-Q2</option>
                       <option value="Q2">Q2-Q3</option>
                       <option value="Q3">Q3-Q4</option>
                       <option value="year">Full Year</option>
                       <option value="janjun">Jan-Jun</option>
                       <option value="juldec">Jul-Dec</option>
                    </select>
                  </li>
                </ul>
              </li>     
            </ul> 
                   
            <!-- FILTERS -->
            <table class="filters" id="filterTable">
             <!-- filter 1 -->
             <tr class="filterRow">
               <td valign="top">
                 <ul> 
                   <li> Filter </li>
                     <li>
                        <select class="filterDropdown">
                          <option value="banner">Banner</option>
                          <option value="marketingvehicle">Marketing Vehicle</option>
                          <option value="pricevehicle">Price Vehicle</option>
                          <option value="catogory">Category</option>
                          <option value="subcategory">Sub Category</option>
                          <option value="contract">Contract</option>
                          <option value="item">Item</option>
                          <option value="queue">Queue</option>
                          <option value="eventtype">Event Type</option>
                          <option value="queuereason">Queue Reason</option>
                        </select>
                      </li>
                   </ul>
               </td>
               <td>
                  <ul>
                    <li> Select </li>   
                    <li>
                      <select multiple class="filterList">
                        <option value="">All Banners</option>
                        <option value="">A&P</option>
                        <option value="">Superfresh</option>
                        <option value="">Pathmark</option>
                        <option value="">The Food Emporium</option>
                      </select>
                    </li>
                 </ul>  
               </td>
               <td valign="bottom">
                   <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
               </td>
             </tr>
             
              <!-- filter 1 -->
             <tr class="filterRow">
               <td valign="top">
                 <ul> 
                   <li> Filter </li>
                     <li>
                        <select class="filterDropdown">
                          <option value="banner">Banner</option>
                          <option value="marketingvehicle">Marketing Vehicle</option>
                          <option value="pricevehicle">Price Vehicle</option>
                          <option value="catogory">Category</option>
                          <option value="subcategory">Sub Category</option>
                          <option value="contract">Contract</option>
                          <option value="item">Item</option>
                          <option value="queue">Queue</option>
                          <option value="eventtype">Event Type</option>
                          <option value="queuereason">Queue Reason</option>
                        </select>
                      </li>
                   </ul>
               </td>
               <td>
                  <ul>
                    <li> Select </li>   
                    <li>
                      <select multiple class="filterList">
                        <option value="">All Banners</option>
                        <option value="">A&P</option>
                        <option value="">Superfresh</option>
                        <option value="">Pathmark</option>
                        <option value="">The Food Emporium</option>
                      </select>
                    </li>
                 </ul>  
               </td>
               <td valign="bottom">
                   <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
               </td>
             </tr>
             
             <!-- Add filter -->
             <tr class="addFilterRow" id="addFilterBtn">
               <td colspan="3">
                   <button type="button" class="btn btn-default" onClick="addFilter('filterTable','addFilterBtn');">+ Add Filter</button>
               </td>
             </tr>
             
             
            
            </table>
                          
         </div> <!-- EO OVERLAYSCROLL  -->
         
         <!-- OVERLAY ACTIONS BAR -->
         <div class="overlayActionsBar">
            <button type="button" class="btn btn-default">Apply</button>
            <a href="javascript:;" class="popupCancelLink">Cancel</a>
         </div>         

         
        </div> <!-- EO OverlayContent -->
       <!-- EO Gray Bg -->            
    </div><!-- EO RESET FILTERS OVERLAY -->
    
    <!-- BO PAGE CONTENT -->  
    <div class="container newContract1PageBody">
     
      <div id="breadcrumbSection" style="border:1px solid #FFFFFF;">
          <ul class="breadcrumb">
            <li><a href="/worklist/index">Worklist</a>
            <li class="active">New Contract</li>
        </ul>
      </div>
                  
      <div class="page-header">
         <h1><img src="../assets/new_contract_icon.png"/>New Contract</h1>
      </div>

      <div class="newContractInstrDiv">
       Create new contract from existing ones OR create from scratch 
      </div> 
    
      <div class="subTabContent newContract1Panel">
       
         <div class="row">
          <div class="col-md-8">
            Your existing contracts (Showing 1 to 10 of 45)
          </div>
          <div class="col-md-4 alignRight">
          	<%= button_to 'Create New Contract from Scratch', contract_createNewContract_path ,class: "btn btn-default"  %>
            <!-- <button type="submit" class="btn btn-default" onClick="window.location='newContractScratch.html';">Create New Contract from Scratch</button>	
           --></div>
         </div> <!-- EO ROW -->
         
         <div class="row">
           <div class="col-md-12"> 
            <div class="birdEyeTablefilter">
                 <ul class="list-inline">
                   <li><div id="wlfilter1" class="filterOption"> All Products &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter1');"><img src="../assets/filterClose.png"></a></div></li>
                   <li><div id="wlfilter2" class="filterOption"> All Locations &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter2');"><img src="../assets/filterClose.png"></a></div></li>
                   <li><div id="wlfilter3" class="filterOption"> Q3-Q4 &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter3');"><img src="../assets/filterClose.png"></a></div></li>
                   <li>&nbsp;&nbsp;</li>
                   <li><a href="javascript:;" class="resetAll">Reset Filters</a></li>
                 </ul>
              </div>
           </div>
         </div><!-- EO ROW -->
         
         <div class="row">
           <div class="col-md-12"> 
              <table id="existingContractsTable" class="birdEyeTable tablesorter table-striped "> 
                            <thead> 
                            <tr> 
                                <th>Contract #</th> 
                                <th>Cat</th> 
                                <th>Sub Cat</th> 
                                <th>Notification</th> 
                                <th>Item Description</th> 
                                <th>Bnr</th> 
                                <th>Link/L2</th> 
                                <th># Wks</th>
                                <th>Pg & Ad size</th>  
                                <th>Post Fact Analysis</th>
                                <th>Actions</th>
                            </tr> 
                            </thead> 
                            <tbody> 
                            <tr> 
                                <td><a href="javascript:;">1101207</a></td> 
                                <td>Cookies</td> 
                                <td>On the Go</td> 
                                <td>//Note from CM leader</td> 
                                <td>NBC S/F OREO CHOC</td> 
                                <td>Off Price</td> 
                                <td>22196</td> 
                                <td>1</td> 
                                <td>Inside Page Small Block</td> 
                                <td>Profitable Contract</td>
                                <td><a href="javascript:;"> Use this Contract</a></td>
                            </tr> 
                            <tr> 
                                <td><a href="javascript:;">1101208</a></td> 
                                <td>Soda</td> 
                                <td>On the Go</td> 
                                <td>//Note from CM leader</td> 
                                <td>NBC S/F COKE</td> 
                                <td>Off Price</td> 
                                <td>22196</td> 
                                <td>1</td> 
                                <td>Inside Page Small Block</td> 
                                <td>Overpriced Contract</td>
                                <td><a href="javascript:;"> Use this Contract</a></td> 
                            </tr> 
                            <tr> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td>
                                <td></td> 
                            </tr> 
                            <tr> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td>
                                <td></td> 
                            </tr> 
                            <tr> 
                              <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td>
                                <td></td>  
                            </tr> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td> 
                                <td></td>
                                <td></td>  
                            </tr>                                                         
                            </tbody> 
                            </table>  
            </div>
         </div><!-- EO ROW -->
         
         <div class="row">
               <div class="col-md-5 exportAsLink">
                 Export as <a href="javascript:;"><img src="../assets/Excel_Icon.png" border="0"></a>
               </div>
               
               <div class="col-md-7 worklistPagination btnAlign">
                <ul class="list-inline">
                  <li><a href="javascript:;"> < </a></li>
                  <li><a href="javascript:;"> << </a></li>
                  <li>1</li>
                  <li><a href="javascript:;"> 2 </a></li>
                  <li><a href="javascript:;"> 3 </a></li>
                  <li><a href="javascript:;"> 4 </a></li>
                  <li><a href="javascript:;"> 5 </a></li>
                  <li>...</li>
                  <li><a href="javascript:;"> 10 </a></li>
                  <li><a href="javascript:;"> > </a></li>
                  <li><a href="javascript:;"> >> </a></li>
                  <li>Go to page# <input type="text" class="smallTextFld"></li>
                  <li><a href="javascript:;"><img src="../assets/Go_To_Page.png" border="0"></a></li>
                </ul>
               </div>
         </div> <!-- EO ROW -->
         
       
      </div> <!-- EO NEW CONTRACT PANEL -->
    
    </div><!-- EO PAGE CONTENT -->  
    
    
    <!-- BO CUSTOMIZE TABLE OVERLAY [ * BOOTSTRAP STYLE * ]-->
    
  <!--  <div id="customizeTablePopup" class="modal custTableColPopup">
     <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header popupHeader">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
         <h4 class="modal-title">Customize Table Columns</h4>
        </div>
      <div class="modal-body">
         
         <div class="row">
           <div class="col-md-3"> 
             All Columns
             <select size="10" multiple id="allCol">
               <option value="col1">Banner</option>
               <option value="col2">Item Description</option>
               <option value="col4">Catalog</option>
               <option value="col5">Pg & Ad Size</option>
               <option value="col6">Retail</option>
               <option value="col7">List Cost</option>
               <option value="col8">Unit Funcding</option>
               <option value="col9">Net Net Cost</option>
               <option value="col10">Appr Retail</option>
               <option value="col11">Appr Est Sales Units</option>
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>

           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn grayBtn width100" onClick="listbox_moveacross('allCol', 'selCol')">Select ></button>
             <button type="button" class="btn grayBtn width100" onClick="listbox_moveacross('selCol', 'allCol')">< Remove</button>
           </div>

           <div class="col-md-3"> 
             Selected Columns
             <select size="10" multiple id="selCol">
               <option value="col12">Category Manager</option>
               <option value="col13">CRS Sales Rank</option>
               <option value="col14">CRS Household Rank</option>
               <option value="col15"># of Weeks</option>
               <option value="col16">Link/L2</option>
               <option value="col17">Contract #</option>
               <option value="col18">Unit Funcding</option>
               <option value="col19">Net Net Cost</option>
               <option value="col20">Appr Retail</option>
               <option value="col21">Appr Est Sales Units</option>
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>
           
           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn grayBtn width100" onClick="listbox_move('selCol', 'up')">Move Up</button>
             <button type="button" class="btn grayBtn width100" onClick="listbox_move('selCol', 'down')">Move Down</button>
           </div>
           
         </div>                
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn popupBtn" data-dismiss="modal">Apply</button>
        <a href="javascript:;" data-dismiss="modal" class="popupCancelLink">Cancel</a>
      </div>
     </div>
    </div>
   </div>
   
   -->

    
  
    <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="../assets/bootstrap.js"></script>  
    <script src="../assets/jquery.tablesorter.js"></script>
    <script src="../assets/functions.js"></script>
    <script src="../assets/jquery.sapling.js"></script>
    <script src="../assets/jquery.dataTables.js"></script>
    <script src="../assets/dataTables.fixedColumns.js"></script>    
    <script src="../assets/shCore.js"></script>	
    <script src="../assets/demo.js"></script>
    <script src="../assets/enscroll-0.6.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script> -->

    <script>
	$(document).ready(function() 
    { 
		/* Common for all Modals */				
			$( "#worklistResetFilterDialog" ).dialog({
						autoOpen: false,
						width: "auto",
						height: "auto"
			});
			
			$(".resetAll").click(function(e) {
    
				$( "#worklistResetFilterDialog" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				
				$( "#worklistResetFilterDialog" ).dialog( "open")
				var offset = $(this).offset()
							  
			  	$( "#worklistResetFilterDialog" ).parent().css("top", 30+"px")
				

			  });	
			  
	
        $("#existingContractsTable").tablesorter({sortList: [[1,1]]}); 
	
		
		$('#productFilterTree').sapling();
		$('#locationFilterTree').sapling();
		$('#productAttrFilterTree').sapling();
		$('#locationAttrFilterTree').sapling();
		
		
		 $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
		/* scrollbars */
		$('#overlayBody').enscroll({
			showOnHover: true,
			verticalTrackClass: 'track3',
			verticalHandleClass: 'handle3'
		});
		
    } ); 
    
/*	$(document).ready(function() {
		var table = $('#worklistTable').DataTable( {
			scrollY:        "300px",
			scrollX:        true,
			scrollCollapse: true,
			paging:         false,
			searching: false,
			info:false		
		} );
		
		new $.fn.dataTable.FixedColumns( table, {
			leftColumns: 6
		} );
	} );
*/
	function clearFilter(filterOpt)
	{
	  document.getElementById(filterOpt).style.display="none";
	}
	</script>
    
<!--        <script type="text/javascript" language="javascript" class="init">

			$(document).ready(function() {
				var table = $('#example').DataTable( {
					scrollY:        "300px",
					scrollX:        true,
					scrollCollapse: true,
					paging:         false
				} );
				new $.fn.dataTable.FixedColumns( table, {
					leftColumns: 2
				} );
			} );


	</script>-->