<!--! BO Previous Notes OVERLAY -->
<div id="prevNotesDialog">

	<div class="overlayContent">

		<table id="noteViewdataTable" class="tablesorter table-striped">
			<thead>
				<tr>
					<th>Note</th>
					<th>Created by user</th>
					<th>Date &amp; Time</th>

				</tr>
			</thead>
			<tbody id= "userNotesTable">

			</tbody>
		</table>

	</div>

</div> <!--! Previous Notes OVERLAY -->

 
<!-- BO Add New Location Overlay-->
<div id="addLocationDialog">
 <%= render :partial=>"add_location_group"%>
</div>
<!--! EO OVERRIDE FORECAST OVERLAY -->

<!-- BO TAB CONTENT -->
<div class="container tab-content tabContentMain">

	<!-- BO CONTRACT TAB -->
	<div id="contract" class="container tab-pane active contractTabBody">

		<div id="breadcrumbSection">
			<ul class="breadcrumb">
				<li>
					<a href="/worklist/index">Worklist</a>
				</li>
				<li>
					<a href="/contract/new">New Contract</a>
				</li>
				<li class="active">
					New Contract from Scratch
				</li>
			</ul>
		</div>

		<div class="page-header">
			<h1><img src="../assets/new_contract_icon.png"/>New Contract - <%= @contract_id%></h1>
		</div>

		<div class="subTabs tabbable mainContentTabs">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#base" data-toggle="tab">Base Contract</a>
				</li>
			</ul>
			<div class="tab-content subTabContent">
				<div id="base" class="tab-pane active">
					<div class="row">
						<div class="col-md-6">
							<!-- <form role="form"  action="/addNote" > -->
							<div class="form-group">
								<label for="addNote" class="col-sm-10 control-label">Add a Note</label>
								<div class="col-md-10">
									<textarea class="form-control" rows="1" id="addNote"></textarea>
									<span class="small" > 
									Last Note:	<label for="lastNote" class="small"> </label> 
										</span>
									<div class="btn-group">
										<button class="btn btn-default btn-xs" type="button" id="prevNoteBtn" data-toggle="dropdown" onclick="getAllNote(<%= @contract_id %>)">
											Previous Notes <span class="caret"></span>
										</button>

									</div>
								</div>
								<div class="col-md-2">
									<input class="btn btn-default" onclick="addNote(<%= @contract_id %>)" type="submit" value="Add">
									<!-- <div class="col-md-2"><button type="submit" class="btn btn-default" onclick="addNote()">Add</button>  </div> -->
								</div>
							</div>

						</div>
						<div class="col-md-2"></div>
						
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"> Core Contract Info </h3>
						</div>
						<div class="panel-body">
							<!-- tabbable left -->
							<div class="col-md-2">
								<!-- required for floating -->
								<!-- Nav tabs -->
								<ul class="nav nav-tabs tabs-left">
									<li class="active" id="productLi">
										<a href="#products" data-toggle="tab" id="productsA">Products <i id="productsOk" class="glyphicon "></i></a>
									</li>
									<li id="locationsLi">
										<a href="#locations" id="locationsA" data-toggle="tab">Locations <i id="locationsOk" class="glyphicon "></i></a>
									</li>
									<li id="datesLi">
										<a href="#dates" id="datesA" data-toggle="tab">Dates <i id="datesOk" class="glyphicon "></i></a>
									</li>
									<li id="versionLi">
										<a id="versionA" data-toggle="tab">Version <i id="versionOk" class="glyphicon "></i></a>
									</li>
									<li id="marketingLi">
										<a id="marketingA" data-toggle="tab">Marketing Vehicle <i id="marketingOk" class="glyphicon "></i></a>
									</li>
									<li id="vendorLi">
										<a id="vendorA" data-toggle="tab">Vendor Info &amp; Funding <i id="vendorOk" class="glyphicon "></i></a>
									</li>
									<li id="pricingLi">
										<a id="pricingA" data-toggle="tab">Pricing Vehicle <i id="pricingOk" class="glyphicon "></i></a>
									</li>
								</ul>
							</div>

							<div class="col-md-10">
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="products">
										<div class="innerSection">
											<h2>Select Products</h2>
											<div class="subTabs tabbable">
												<ul class="nav nav-tabs">
													<li class="active">
														<a href="#hier" data-toggle="tab">By Hierarchy & Attributes</a>
													</li>
													<li>
														<a href="#prodid" data-toggle="tab">By Product ID</a>
													</li>
													<li>
														<a href="#prodgroup" data-toggle="tab" id="showProductGroups">By Product Group</a>
													</li>
												</ul>

												<div class="btnBrd"></div>
												<div class="tab-content">
													<div id="hier" class="tab-pane active">
														<div class="right-inner-addon ">
															<i class="glyphicon glyphicon-search"></i>
															<input type="search"
															class="form-control"
															placeholder="Quick search hierarchy & attributes" />
														</div>
														<div class="resetBlock">
															<button class="btn btn-danger" type="reset">
																Reset
															</button>
														</div>
														<div class="row clear">
															<div  class="col-md-4">
																<!-- SO tree -->
																<div class="productHeirarchyTreeDiv">
																	<span class="hierarchyHeading">Hierarchy</span>
																	<ul id="productHeirarchyTree">

																		<% @allCategoriesHierarchy.each do |categoryHash| %>

																		<% def ihash(h) %>
																		<% h.each do |k,v| %>
																		<%  if v.is_a?(Hash) %>
																		<li>
																			<span onClick="getProductsForId(<%= k[0].to_i %>)" class="breadcrumbCategory" id="<%= k[0].to_i %>"> <%= k[1] %></span>
																			<ul>
																				<li >
																					<% ihash(v) %>
																				</li>
																			</ul>
																		</li>
																		<%   else %>
																		<li class="treeLastChild">
																			<span onClick="getProductsForId(<%= k[0].to_i %>)" class="breadcrumbCategory" id="<%= k[0].to_i %>"> <%= k[1] %> </span>
																		</li>
																		<%  end %>
																		<%   end %>
																		<% end %>
																		<% ihash(categoryHash) %>
																		<% end %>
																	</ul>

																</div>
																<div class="productAttrTreeDiv">
																	<span class="hierarchyHeading">Attributes</span>
																</div>

															</div><!-- EO tree -->

															<div  class="col-md-8 categories">
																<div class="breadcrumbCategoryDiv"></div>

																<div class="categoryContent">

																	<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																		<thead>
																			<tr>
																				<th>
																				<input type="checkbox" id="selectAll">
																				</th>
																				<th>Product Name</th>
																				<th>Product Description</th>
																			</tr>
																		</thead>
																		<tbody id="productdataTableBody">

																		</tbody>
																	</table>
																	<div class="categoryBtn">
																		<!-- <button type="submit" class="addNewProdGroup">Add a New Product Group</button> -->
																		<button id ="addProdToContractButton" type="submit" class="addProdtoContract">
																			Add to main Contract
																		</button>
																	</div>
																</div>
															</div>
															<!-- right col -->
															<div class="clear"></div>
														</div>

														<!-- SO add Products to Contract -->
														<div class="addProdContract" style="display:none;">
															<h2> Products added to contract: </h2>
															<div class="row">
																<div class="col-md-9">
																</div>
																<div class="col-md-3 alignRight">
																</div>

															</div>
															<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																<thead>
																	<tr>
																		<th>
																		<input type="checkbox" id="selectAll2">
																		</th>
																		<th>Product Name</th>
																		<th>Product Description</th>
																	</tr>
																</thead>
																<tbody id="allProductForContact">

																</tbody>
															</table>
															<button type="submit" class="btn btn-default">
																Delete
															</button>
															

														</div>
														<!-- SO add Products to Contract -->
														<div class="categoryNext">
															<a id='productNext' href="#locations" data-toggle="tab" class="nextBtn">Next</a>
														</div>

														<div class="clear"></div>
													</div>
													<div id="prodid" class="tab-pane productIdDiv">
														<ul>
															<li>
																Type in comma separated product IDs
															</li>
															<li>
																<textarea></textarea>
															</li>
															<li>
																<button type="button" class="btn btn-default" >
																	Search
																</button>
															</li>
														</ul>

														<div class="categoryNext">
															<a href="#locations" data-toggle="tab" class="nextBtn">Next</a>
														</div>
													</div>
													<!-- EO PRODUCT ID  -->

													<div id="prodgroup" class="tab-pane">

														<div class="row clear">
															<div class="col-md-2"></div>
															<div  class="col-md-8 categories">

																<div class="categoryContent">

																	<table class="table table-bordered categoryTable tablesorter table-striped"  id="productGroupdataTable">
																		<thead>
																			<tr>
																				<th>
																				<input type="checkbox" id="selectAll">
																				</th>
																				<th>Product Group Name</th>
																				<th>Product Name</th>
																				<th>Product Description</th>
																			</tr>
																		</thead>
																		<tbody>
																			<% @productGroupsHash.each do |productGroups| %>
																			<tr>
																				<%productGroups.each do |k,v|%>
																				<td rowspan="<%= v.length%>">
																				<input type="checkbox" class="checkbox1" id="<%= k[0]%>">
																				</td>
																				<td rowspan="<%= v.length%>"> <%= k[1]%> </td>
																				<% @flag=0%>
																				<%v.each do |row|%>
																				<%if @flag==0 %>
																				<% @flag=1%>
																				<td> <%= row["upc_desc"]%></td>
																				<td> <%= row["item_desc"]%></td>
																				<%else%>
																			<tr>
																				<td> <%= row["upc_desc"]%></td>
																				<td> <%= row["item_desc"]%></td>
																			</tr>
																			<%end%>

																			<%end%>
																			<%end%>
																			</tr>
																			<%end%>

																		</tbody>
																	</table>

																	<div class="row worklistTablePaginationHolder">

																		<div class=" worklistPagination paginPad">

																			<div class="categoryBtn">

																				<button type="submit" class="addProdtoContract" id="addProdGrouptoContract">
																					Add Product Group to Contract
																				</button>
																			</div>

																		</div>

																	</div><!-- EO ROW -->

																</div>
															</div>
															<!-- right col -->
															<div class="clear"></div>
														</div>
														
														<!-- SO add Products to Contract -->
														<div class="addProdContract" >
															<h2> Product Groups added to contract: </h2>
															<div class="row">
																<div class="col-md-9">
																</div>
																<div class="col-md-3 alignRight">
																</div>

															</div>
															<table class="table table-bordered categoryTable tablesorter table-striped"  id="productdataTable">
																<thead>
																	<tr>
																		<th>
																		<input type="checkbox" id="selectAll2">
																		</th>
																		<th>Product Name</th>
																		<th>Product Description</th>
																	</tr>
																</thead>
																<tbody id="productGroupsData">
																</tbody>
															</table>

														</div>
														<!-- SO add Products to Contract -->
														<div class="categoryNext">
															<a href="#locations" data-toggle="tab" class="nextBtn" >Next</a>
														</div>

														<div class="clear"></div>

													</div>
													<!-- EO PRODUCT GROUP -->

												</div>
											</div>
										</div>
									</div>
									<!-- SO location tab -->
									<div class="tab-pane" id="locations">
										<%= render :partial=>"locations_div"%>
									</div>

									<!-- EO location tab-->
									<!-- SO Dates tab-->
									<div class="tab-pane" id="dates">
										<div class="innerSection">
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Promotion Start Date</label>
													</div>

												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label>Promotion End Date</label>
													</div>
												</div>
												<div class="col-md-4"></div>
											</div>
											<div class="date">
												<form class="form-horizontal">
													<fieldset>
														<div class="control-group">
															<div class="controls">
																<div class="input-prepend input-group">
																	<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
																	<input type="text" style="width: 200px" name="reservation" id="reservation" class="form-control" value="<%= Time.now.strftime("%m/%d/%Y") %> - <%= 5.weeks.from_now.strftime("%m/%d/%Y") %>"" />
																	</div>
																	</div>
																	</div>
																	</fieldset>
																	</form>
																	</div>

																	<div class="categoryNext">
																	<a href="#locations" data-toggle="tab" class="prevBtn">Previous</a>
																	<a id="dateNext" href="#version" data-toggle="tab" class="nextBtn" onclick="saveDate(<%= @contract_id %> )">Next</a>
																	</div>

																	<div class="clear"></div>

																	</div>
																	</div>
																	<!-- EO Dates tab-->

															<!-- SO Version tab-->
														<div class="tab-pane" id="version">
														<div class="innerSection">
														<div class="form-group">
														<label>Should I version?</label>
														<div>
														<label class="radio-inline">
														<input type="radio" name="inlineRadioOptionsVersion" id="inlineRadio1" value="option1">
														Yes </label>
														<label class="radio-inline">
														<input type="radio" name="inlineRadioOptionsVersion" id="inlineRadio2" value="option2">
														No </label>
														</div>
														</div>
														<div class="form-group hideClass1" style= "display:block" >
														<label>Version according to</label>
														<div class="row">
														<div class="col-md-4">
														<select class="form-control" id="selectedVersionAttribute">
														<% @veriosnableAttributes.each{|attr| %>
														<option value=<%= attr.id %>  ><%= attr.name%></option>
														<% } %>
														
														</select>
														</div>
														<!-- <div class="col-md-4">
														<button type="submit" class="btn btn-default">
														+ Add New Zone
														</button>
														</div> -->
														</div>
														</div> 

														<div class="categoryNext clear">
														<a href="#dates" data-toggle="tab" class="prevBtn">Previous</a>
														<a href="#marketing" data-toggle="tab" class="nextBtn"  id="addversion">Next</a>
														</div>
														</div>
														</div>
														
														<!-- EO Version tab-->
														<!-- SO Marketing Vehicle tab-->
														<div class="tab-pane" id="marketing">
														<div class="innerSection">
														<div id="marketingVehiclesDiv"></div>
														<div class="checkbox form-group">
														<label>
														<input type="checkbox" value="">
														Apply across all versions </label>
														</div>

														<div class="categoryNext clear">
														<a href="#version" data-toggle="tab" class="prevBtn">Previous</a>
														<a href="#vendor" data-toggle="tab" class="nextBtn" id = "nextButtonForMarketingVehicle" onclick="saveMarketingVehicle(<%= @contract_id %>,<%= @trial_id %>)">Next</a>
														</div>
														</div>
														</div>
														<!-- EO Marketing Vehicle tab-->


																	<!-- SO Vendor Info-->

																	<div class="tab-pane" id="vendor">
																		<form action="/contract/update_tier" method="post" class="create_tier_form">
																		<div id="vendorBody">
																		</div>
																		</form> 	
																	</div>

																	<!-- EO Vendor Infor -->

																	
																	
																	<!-- SO Pricing Vehicle tab-->
																	
																	<div class="tab-pane" id="pricing">
																		<form id="priceVehicalForm" action="updatePriceVehical" method="post" >
																		<div id="pricingDiv"></div>
																		</form>
																	</div>
																	<!-- SO Pricing Vehicle tab-->
					
				</div>
			</div>

			<!-- EO tabbable left -->
		</div>
	</div>
</div>

</div>
</div><!-- EO Sub TAB -->
</div><!-- EO CONTRACT TAB -->
</div><!-- EO TAB CONTENT -->

<script type="text/javascript">
$(document).ready(function() {
/* Common for all Modals */
$("#prevNotesDialog, #addProductDialog, #overrideForecastOverlay, #addLocationDialog").dialog({
autoOpen : false,
width : "auto",
height : "auto"
});

$('#locationTable').DataTable({
paging : true,
searching : false,
info : false

});

$("#prevNoteBtn").click(function(e) {

$("#prevNotesDialog").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#prevNotesDialog").dialog("open")
var offset = $(this).offset()

$("#prevNotesDialog").parent().css("top", offset.top - 30 + "px")

});

$(".addNewLocGroup").click(function(e) {
 var locationIds = $("input:checkbox:checked", $("#locationTable").dataTable().fnGetNodes()).map(function(){
    return ($(this).val());
   }).get();

  if(locationIds==null || locationIds==''){
    alert("Please select store first");
  }else{
   // alert(locationIds);
	console.log($(this).text())
	$("#addLocationDialog").dialog("option", "position", {
		my : "left",
		at : "left",
		of : e,
		offset : "5 70"
	});

	$("#addLocationDialog").dialog("open")
	var offset = $(this).offset()

	$("#addLocationDialog").parent().css("left", offset.left - 300 + "px")
   
    $("#hiddenDiv").load("storeLocations",{locationIds: locationIds},function(rt){
     var jsonString = JSON.parse(rt);
        var temp = "";
        var temp1 = "";
         $.each(jsonString, function(key, value) { 
       		temp += '<tr><td>'+value.description+'</td></tr>';
           temp1 += '<tr><td><input type="checkbox" id="'+value.id+'" class="checkbox1"></td><td>'+value.description+'</td><td>'+value.store_pos_id+'</td></tr>';
          });
     $("#allLocation2ForContact").html(temp);
     $("#allLocationForContact").html(temp1);
    });
 
}
});

$(".addNewProdGroup").click(function(e) {

console.log($(this).text())
$("#addProductDialog").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#addProductDialog").dialog("open")
var offset = $(this).offset()

$("#addProductDialog").parent().css("left", offset.left - 300 + "px")

});

$(".overrideBtn").click(function(e) {

$("#overrideForecastOverlay").dialog("option", "position", {
my : "left",
at : "left",
of : e,
offset : "5 70"
});

$("#overrideForecastOverlay").dialog("open")
var offset = $(this).offset()

$("#overrideForecastOverlay").parent().css("top", offset.top - 30 + "px")

});

$('#reservation').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
});
$('#reservationPriceVehicleDate').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
});
$('#vender_funding_dates').daterangepicker(null, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);

});

$('#startDate, #endDate').datetimepicker({
pickTime : false
});

});
</script>

<script>
$(document).ready(function() {
/* scrollbars */
$('#overlayBody').enscroll({

showOnHover : true,
verticalTrackClass : 'track3',
verticalHandleClass : 'handle3'
});

$("#forecastTbl").tablesorter({
sortList : [[1, 1]]
});

$('#productHeirarchyTree').sapling();
$('#productAttrTree').sapling();
$('#productGroupHeirarchyTree').sapling();
$('#productGroupAttrTree').sapling();

$('#locationHeirarchyTree').sapling();
$('#locationAttrTree').sapling();

$('.treeLastChild,.sapling-item').click(function() {
$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
$(this).addClass('selectedFilter');

var topCat = $(".sapling-item");

if (!$(this).hasClass("sapling-expanded")) {
topCat.removeClass("selectedFilter")
}
});

$("#prevNoteBtn").click(function() {

$(this).find("span").removeClass("caret").addClass("caretdown")
});

$(".ui-dialog-titlebar-close").click(function() {
$("#prevNoteBtn").find("span").removeClass("caretdown").addClass("caret")
});

$('#selectAll').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox1').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox1').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$('#selectAll2').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox2').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox2').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$('#selectAll3').click(function(event) {//on click
if (this.checked) {// check select status
$('.checkbox3').each(function() {//loop through each checkbox
this.checked = true;
//select all checkboxes with class "checkbox1"
});
} else {
$('.checkbox3').each(function() {//loop through each checkbox
this.checked = false;
//deselect all checkboxes with class "checkbox1"
});
}
});

$(".addProdtoContract").click(function() {
$('.addProdContract').show()
});

function findActiveTab() {
var returnVal;
$(".tabs-left li").each(function(index) {
//  console.log( index + ": " + $( this ).text() );

var checkClass = $(this).hasClass('active')
if (checkClass)
returnVal = index;
});
return returnVal;
}

var leftTab = $(".tabs-left li");
$(document).on("click",".nextBtn",function(){
var i = findActiveTab();

leftTab.eq(i + 1).addClass("active")
leftTab.eq(i).removeClass("active")
});
$(document).on("click","#submit_button",function(){
$("#price_vehicle_funding").click();
});

$(".create_tier_form").ajaxForm(function() {
	
});

$("#priceVehicalForm").ajaxForm(function() {
	
});


$(document).on("click",".prevBtn",function(){
var i = findActiveTab();

leftTab.eq(i - 1).addClass("active")
leftTab.eq(i).removeClass("active")
});


$(document).on('change','.priceSelector',function(){
	var typeId = $(this).attr("id") + "-type"
	
	name = $(this).val().split("-").pop()
	
	if(name == "bogaOpt" || name== "custPricingOpt")
	{
		var id =	$('#'+$(this).val()).parent().parent().attr("id");
		$('#'+id+' .priceVehicleGroup').hide();
		$('#' + $(this).val()).show();
		$("#"+id+" .priceSelector12").css("display","none");
	}
	else 
	{
		var id =	$('#'+$(this).val()+$("#"+typeId).val()).parent().parent().attr("id");
		$('#'+id+' .priceVehicleGroup').hide();
		$("#"+id+" .priceSelector12").css("display","block");
		$('#' + $(this).val()+$("#"+typeId).val()).show(); 
	}
});

$(document).on('change','.priceSelector1',function(){
	var id =	$('#'+$(this).attr("id")).parent().parent().parent().parent().attr("id");
	var typeId = $(this).attr("id")
	temp = typeId.split("-")
	$('#'+id+' .priceVehicleGroup').hide();
	$('#' +$("#"+temp[0]+"-"+temp[1]).val()  + $(this).val()).show(); 
});


$(document).on('click','.addQtyPrice',function(){
var idName = $(this).parent().children().eq(0).attr("id").replace(/[^0-9]/gi, '')
var sib = $(this).parent().children().eq(0)
sib.children(":first").clone().appendTo($("#divContainer" + idName))	
});

$("#noteViewdataTable").tablesorter({
sortList : [[3, 1]]
});

});


</script>

<div id="spinner">
	<img src="../assets/ajaxLoader.GIF" alt="Loading..."/>
</div>
<style>
div#spinner
{
display: none;

position: fixed;
top: 50%;
left: 50%;
text-align:center;
margin-left: -50px;
margin-top: -100px;
z-index:2;
overflow: auto;
}
</style>
<script type="text/javascript">
$('#spinner').ajaxStart(function () {
$(this).fadeIn('fast');
}).ajaxStop(function () {
$(this).stop().fadeOut('fast');
});

</script>

<div id="hiddenDiv" style="display: none"></div>
<input type="text" name="contract_id" id="contract_id" value="<%= @contract_id%>" style="display: none"/>
