<%= form_for(@price_grid) do |f| %>
  <% if @price_grid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_grid.errors.count, "error") %> prohibited this price_grid from being saved:</h2>

      <ul>
      <% @price_grid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :price_vehicle_id %><br>
    <%= f.number_field :price_vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :price_rule_id %><br>
    <%= f.number_field :price_rule_id %>
  </div>
  <div class="field">
    <%= f.label :from_price %><br>
    <%= f.number_field :from_price %>
  </div>
  <div class="field">
    <%= f.label :to_price %><br>
    <%= f.number_field :to_price %>
  </div>
  <div class="field">
    <%= f.label :price_candidates %><br>
    <%= f.text_field :price_candidates %>
  </div>
  <div class="field">
    <%= f.label :multiples %><br>
    <%= f.text_field :multiples %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
