<!DOCTYPE html>
<html>
	<head>
		<meta charset=”utf-8”>
		<title>Pricing Promotion | Pricing Guidelines </title>

		<link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../assets/styledoc.css" rel="stylesheet" type="text/css">
		<link href="../assets/tree.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(save_price_candidates).click(function() {
					var dollar1;
					var dollar2;
					var cents1;
					var cents2;
					var price_candidates = [];
					$.each($("input[name='dollar1']:checked"), function() {
						dollar1 = $(this).val();
						$.each($("input[name='dollar2']:checked"), function() {
							dollar2 = $(this).val();
							$.each($("input[name='cents1']:checked"), function() {
								cents1 = $(this).val();
								$.each($("input[name='cents2']:checked"), function() {
									cents2 = $(this).val();
									price_candidates.push(dollar1 + '' + dollar2 + '.' + cents1 + '' + cents2);
								});
							});
						});
					});
					$(price_grid__price_candidates).val(price_candidates.join(", "))
					alert("values are: " + price_candidates.join(", "));
				});
			});
		</script>
	</head>

	<body>

		<!--! BO SET VALUES OVERLAY -->
		<div id="setValuesOverlay" class="overlayWindow">
			<div class="closeIcoDiv">
				<a href="javascript:;" onClick="handleOverlay('setValuesOverlay','hide');"><img src="../assets/closePopup.png"></a>
			</div>
			<div class="overlayWindowGrayBg">
				<div class="overlayContent setValuesOverlayBody">

					<div class="overlayHeader">
						Set Values
					</div>

					<div class="setValuesTableDiv">
						<table class="setValuesTable">
							<thead>
								<tr>
									<th> $ </th>
									<th> Cents </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label>
										<input type="checkbox" value="0" name="dollar1" checked=true>
										0 </label><label>
										<input type="checkbox" value="0" name="dollar2" checked=true>
										0 </label></td>
									<td><label>
										<input type="checkbox" value="0" name="cents1" checked=true>
										.0 </label><label>
										<input type="checkbox" value="0" name="cents2" checked=true>
										.0 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="1" name="dollar1">
										1 </label><label>
										<input type="checkbox" value="1" name="dollar2">
										1 </label></td>
									<td><label>
										<input type="checkbox" value="1" name="cents1">
										.1 </label><label>
										<input type="checkbox" value="1" name="cents2">
										.1 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="2" name="dollar1">
										2 </label><label>
										<input type="checkbox" value="2" name="dollar2">
										2 </label></td>
									<td><label>
										<input type="checkbox" value="2" name="cents1">
										.2 </label><label>
										<input type="checkbox" value="2" name="cents2">
										.2 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="3" name="dollar1">
										3 </label><label>
										<input type="checkbox" value="3" name="dollar2">
										3 </label></td>
									<td><label>
										<input type="checkbox" value="3" name="cents1">
										.3 </label><label>
										<input type="checkbox" value="3" name="cents2">
										.3 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="4" name="dollar1">
										4 </label><label>
										<input type="checkbox" value="4" name="dollar2">
										4 </label></td>
									<td><label>
										<input type="checkbox" value="4" name="cents1">
										.4 </label><label>
										<input type="checkbox" value="4" name="cents2">
										.4 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="5" name="dollar1">
										5 </label><label>
										<input type="checkbox" value="5" name="dollar2">
										5 </label></td>
									<td><label>
										<input type="checkbox" value="5" name="cents1">
										.5 </label><label>
										<input type="checkbox" value="5" name="cents2">
										.5 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="6" name="dollar1">
										6 </label><label>
										<input type="checkbox" value="6" name="dollar2">
										6 </label></td>
									<td><label>
										<input type="checkbox" value="6" name="cents1">
										.6 </label><label>
										<input type="checkbox" value="6" name="cents2">
										.6 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="7" name="dollar1">
										7 </label><label>
										<input type="checkbox" value="7" name="dollar2">
										7 </label></td>
									<td><label>
										<input type="checkbox" value="7" name="cents1">
										.7 </label><label>
										<input type="checkbox" value="7" name="cents2">
										.7 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="8" name="dollar1">
										8 </label><label>
										<input type="checkbox" value="8" name="dollar2">
										8 </label></td>
									<td><label>
										<input type="checkbox" value="8" name="cents1">
										.8 </label><label>
										<input type="checkbox" value="8" name="cents2">
										.8 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox" value="9" name="dollar1">
										9 </label><label>
										<input type="checkbox" value="9" name="dollar2">
										9 </label></td>
									<td><label>
										<input type="checkbox" value="9" name="cents1">
										.9 </label><label>
										<input type="checkbox" value="9" name="cents2">
										.9 </label></td>
								</tr>

							</tbody>
						</table>

					</div>

					<div class="overlayActions">
						<button type="button" class="btn btn-default" onClick="handleOverlay('setValuesOverlay','hide');" id='save_price_candidates'>
							Save
						</button>
						<a href="javascript:;" class="popupCancelLink" onClick="handleOverlay('setValuesOverlay','hide');">Cancel</a>
					</div>

				</div>
			</div>
		</div><!--! EO SET VALUES OVERLAY -->

		<!-- BO HEADER -->
		<div class="container appHeader">
			<div class="userInfo">
				Welcome Leo <a href="javascript:;">[Logout]</a>
			</div>
			<div class="topNavigation">
				<ul class="list-inline">
					<li><img src="../assets/pricingGuidelineBlackIco.png"> Pricing Guidelines
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/adMngmentRedIco.png" border="0"> Ad Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/productMngmntRedICo.png" border="0"> Product Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/locationMngmntRedIco.png" border="0"> Location Group Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/eventMngmntRedIco.png" border="0"> Event Management</a>
					</li>
				</ul>
			</div>
		</div><!-- EO HEADER -->

		<!-- BO TOP NAVIGATION TABS -->
		<div class="topTabsBg">
			<div class="container topTabsHolder">
				<ul class="nav nav-tabs topTabs" role="tablist">
					<li>
						<a href="../index.html" data-toggle="tab">Worklist</a>
					</li>
					<li>
						<a href="#contract" data-toggle="tab">1101207</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- EO TOP NAVIGATION TABS -->

		<!-- PAGE HEADER -->
		<div class="container pricingGuidelinePageHeader">
			<ul class="list-inline">
				<li><img src="../assets/pricingGridIcoBig.png">
				</li>
				<li>
					Pricing Guidelines
				</li>
			</ul>
		</div>

		<!-- Price Rules Price Grid Tabs -->
		<div class="pricingGuidelineTabsDiv subTabs tabbable mainContentTabs">
			<ul class="nav nav-pills">
				<li class="active">
					<a href="#priceRules" data-toggle="tab">Price Rules</a>
				</li>
				<li>
					<a href="#priceGrid" data-toggle="tab">Price Grid</a>
				</li>
			</ul>
			<!--<ul class="nav nav-tabs pricingGuidelineTabs" role="tablist">
			<li><a href="#priceRules" data-toggle="tab">Price Rules</a></li>
			<li class="active"><a href="#priceGrid" data-toggle="tab">Price Grids</a></li>
			</ul> -->
		</div>

		<div class="tab-content pricingGuidelineTabContent">
			<!-- BO PRICE RULES  -->
			<div id="priceRules" class="tab-pane  priceRuleTabBody">
				Price Rules View
			</div><!-- EO PRICE RULES -->

			<!-- BO PRICE GRID -->
			<div id="priceGrid" class="tab-pane active priceGridTabBody">

				<div class="row">

					<!-- Left Accordion -->
					<div class="col-md-4">

						<div class="panel-group" id="accordion">
							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Product Heirarchy & Attributes </a></h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="productHeirarchyTree">
												<li>
													Category 1
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 2
													<ul>
														<li  class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 3
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li >
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="productAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Location Heirarchy & Attributes </a></h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>

											<ul id="locationHeirarchyTree">
												<% if @location !=nil %>
												<% @locations.each do |t, a| %>
												<li>

													<%= t %>
													<% a.each do |q,f| %>

													<ul>
														<li class="treeLastChild">
															<%= q %>
															<% if(f !="leaf") %>
															<% f.each do |k,v| %>
															<ul>
																<li class="treeLastChild">
																	<%= k %>
																</li>
															</ul>
															<% end %><% end %>
														</li>
													</ul>
													<% end %>
												</li>
												<% end %><%end%>
											</ul>

										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="locationAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- EO COL -->

					<!-- Right page content-->
					<div class="col-md-8 rightPageContent">

						<div class="rightSidePageTitle">
							Set Price Grid
						</div>

						<div class="priceGridSelectedCategoryBar">
							<ul class="list-inline">
								<li>
									<div class="priceGridSelCat">
										Category 1
									</div>
								</li>
								<li>
									<div class="priceGridSelCat">
										Sub Category 1
									</div>
								</li>
								<li>
									<div class="priceGridSelCat">
										Sub Sub Category 1
									</div>
								</li>
							</ul>
						</div>
						<%= form_tag '/price_grids/create_multiple' do %>
						<div class="panel-group" id="accordion2">
							<div class="panel panel-default pricingGridPanels">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"> <%= check_box_tag "price_grid[][price_vehicle_id]",1 %> <a data-toggle="collapse" href="#rightcollapseOne"> Percent Off </a></h4>
								</div>
								<div id="rightcollapseOne" class="panel-collapse collapse in">
									<div class="panel-body">

										<table class="percentOffTable" id="percentOffTbl">
											<tr>
												<td> <%= text_field_tag "price_grid[][multiples]" %> </td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="addPercentOffBtn">
												<td><a href="javascript:;" onClick="addFilter('percentOffTbl','addPercentOffBtn');" > Add </a></td>
											</tr>
										</table>

									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"> <%= check_box_tag "price_grid[][price_vehicle_id]",2 %> <a data-toggle="collapse"  href="#rightcollapseTwo"> Flat Price </a></h4>
								</div>
								<div id="rightcollapseTwo" class="panel-collapse collapse">
									<div class="panel-body">

										<table class="flatPriceTable table-striped" id="flatPriceTbl">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<% @price_grids.each do |price_grid| %>
												<tr>
													<div class="field">
														<td><%= price_grid.from_price %></td>
														<td><%= price_grid.to_price %></td>
													</div>
													<td><%= price_grid.price_candidates %></td>
													<td><a href="javascript:;" onClick="handleOverlay('setValuesOverlay','show');">Set Values</a></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<% end %>

												<tr>
													<div class="field">
														<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
														<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
													</div>
													<td> <%= text_field_tag "price_grid[][price_candidates]" %></td>
									</div>
									<td><a href="javascript:;" onClick="handleOverlay('setValuesOverlay','show');">Set Values</a></td>
									<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
									</tr>
									<tr id="addFlatPriceBtn">
										<td colspan="4"><a href="javascript:;" onClick="addFilter('flatPriceTbl','addFlatPriceBtn');"> Add </a></td>
									</tr>
									</tbody>

									</table>

								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="pricingGridRightPanelHeading">
								<h4 class="panel-title"> <%= check_box_tag "price_grid[][price_vehicle_id]",3 %> <a data-toggle="collapse"  href="#rightcollapseThree"> Multiple Price </a></h4>
							</div>
							<div id="rightcollapseThree" class="panel-collapse collapse">
								<div class="panel-body">
									<table class="flatPriceTable table-striped" id="MultiplePriceTbl">
										<thead>
											<tr class="tableHeadingTH">
												<th> From Price </th>
												<th> To Price </th>
												<th> Price Candidates </th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
												<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
												<td><%= text_field_tag "price_grid[][price_candidates]" %></td>
												<td><a href="javascript:;">Set Values</a></td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="addMultiplePriceBtn">
												<td colspan="4"><a href="javascript:;" onClick="addFilter('MultiplePriceTbl','addMultiplePriceBtn');"> Add </a></td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>
						<div class="panel panel-default">

							<div class="pricingGridRightPanelHeading">

								<h4 class="panel-title"> <%= check_box_tag "price_grid[][price_vehicle_id]", 4%> <a data-toggle="collapse"  href="#rightcollapseFour"> Amount Off </a></h4>

							</div>
							<div id="rightcollapseFour" class="panel-collapse collapse">
								<div class="panel-body">
									<table class="flatPriceTable table-striped" id="amountOffTbl">
										<thead>
											<tr class="tableHeadingTH">
												<th> From Price </th>
												<th> To Price </th>
												<th> Price Candidates </th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
												<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
												<td><%= text_field_tag "price_grid[][price_candidates]" %></td>
												<td><a href="javascript:;">Set Values</a></td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="amountOffBtn">
												<td colspan="4"><a href="javascript:;" onClick="addFilter('amountOffTbl','amountOffBtn');"> Add </a></td>
											</tr>
										</tbody>

									</table>
								</div>
							</div>
						</div>

					</div>

					<div class="priceGridActionBar,actions">
						<button type="button" class="btn btn-default">

							<%= submit_tag "Save" %>
						</button>
					</div>

				</div>
				<% end %>
				<!-- EO COL -->

			</div>
			<!-- EO Row -->

		</div>
		<!-- EO PRICE GRID  -->

		</div>
		<!-- EO tab content -->

		<!-- BO FOOTER -->
		<div class="footerMain">
			<div class="container footerInside">

				<div class="row">
					<div class="col-md-10">
						&copy; 2014 Prognos Inc. All Rights Reserved.
					</div>
					<div class="col-md-2 footerRight">
						www.prognosinc.com
					</div>
				</div>

			</div>
		</div><!-- EO FOOTER -->

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../assets/bootstrap.js"></script>
		<script src="../assets/functions.js"></script>
		<script src="../assets/jquery.sapling.js"></script>

		<script>
			$(document).ready(function() {
				$('#productHeirarchyTree').sapling();
				$('#productAttrTree').sapling();
				$('#locationHeirarchyTree').sapling();
				$('#locationAttrTree').sapling();

				$('.treeLastChild').click(function() {
					$('.treeLastChild').removeClass('selectedFilter');
					$(this).addClass('selectedFilter');
				});

				/* accordion state change */
				$('#accordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion');

				$('#accordion').on('show.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				}).on('hide.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				});

			});

		</script>

	</body>
</html>