<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jQuery Get Values of Selected Checboxes</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("button").click(function() {
					var first;
					var second;
					var Cents1;
					var Cents2;
					var favorite = [];
					$.each($("input[name='$1']:checked"), function() {
						//favorite.push($(this).val());
						first = $(this).val();

						$.each($("input[name='$2']:checked"), function() {
							//favorite.push($(this).val());
							second = $(this).val();
							$.each($("input[name='Cents1']:checked"), function() {
								//favorite.push($(this).val());
								Cents1 = $(this).val();
								$.each($("input[name='Cents2']:checked"), function() {
									Cents2 = $(this).val();
									favorite.push(first+''+second+'.'+Cents1+''+Cents2);
								});
							});
						});
					});
					alert("values are: " + favorite.join(", "));
				});
			});
			  
			  function disableList() {
			  	var number=3
			  	$.each($("input[name='$1']"), function() {
						//favorite.push($(this).val());
						first = $(this).val();
						if(first<=number)
						{
							$("input[name='$1'][value='"+first+"']").prop('disabled', true);
							alert("yes"+first);
							
						}
						});
			  	
	
}

			  
		</script>
	</head>
	<body>
		<form>
			<input id="price_grid__from_price" name="price_grid[][from_price]" type="text">
			<input id="price_grid__to_price" name="price_grid[][to_price]" type="text">
			<table>
				<h3>Select:</h3>
				<tr>
					<td>
					<tr>
						<label>
							<input type="checkbox" value="1" name="$1">
							1</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="2" name="$1">
							2</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="3" name="$1">
							3</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="4" name="$1">
							4</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="5" name="$1">
							5</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="6" name="$1">
							6</label>
					</tr>
					<br>
					</td>

					<td>
					<tr>
						<label>
							<input type="checkbox" value="1" name="$2">
							1</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="2" name="$2">
							2</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="3" name="$2">
							3</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="4" name="$2">
							4</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="5" name="$2">
							5</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="6" name="$2">
							6</label>
					</tr>
					<br>
					</td>

					<td>
					<tr>
						<label>
							<input type="checkbox" value="1" name="Cents1">
							1</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="2" name="Cents1">
							2</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="3" name="Cents1">
							3</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="4" name="Cents1">
							4</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="5" name="Cents1">
							5</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="6" name="Cents1">
							6</label>
					</tr>
					<br>
					</td>

					<td>
					<tr>
						<label>
							<input type="checkbox" value="1" name="Cents2">
							1</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="2" name="Cents2">
							2</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="3" name="Cents2">
							3</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="4" name="Cents2">
							4</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="5" name="Cents2">
							5</label>
					</tr>
					<tr>
						<label>
							<input type="checkbox" value="6" name="Cents2">
							6</label>
					</tr>
					<br>
					</td>
				</tr>
				<button type="button">
					Get Values
				</button>
			</table>
		</form>
		
		
		<button type="button" onclick="disableList()">
					Disable Values
		</button>
	</body>
</html>