<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price_grid.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price_grid.description %>
</p>

<p>
  <strong>Price vehicle:</strong>
  <%= @price_grid.price_vehicle_id %>
</p>



<p>
  <strong>From price:</strong>
  <%= @price_grid.from_price %>
</p>

<p>
  <strong>To price:</strong>
  <%= @price_grid.to_price %>
</p>

<p>
  <strong>Price candidates:</strong>
  <%= @price_grid.price_candidates %>
</p>

<p>
  <strong>Multiples:</strong>
  <%= @price_grid.multiples %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @price_grid.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @price_grid.updated_by %>
</p>

<%= link_to 'Edit', edit_price_grid_path(@price_grid) %> |
<%= link_to 'Back', price_grids_path %>
