
	<style type="text/css" class="init">
/* Ensure that the demo table scrolls */
	th, td {
	white-space: nowrap;
}
div.dataTables_wrapper {
	width: 910px;
	margin-left:10px;
	margin-top:10px;
}
</style>
	</head>

	<body>
     <!-- BO RESET FILTERS OVERLAY -->  
     <div id="worklistResetFilterDialog">     
      
     
        <div class="overlayContent customizeColOverlay">                                      

         <!-- OVERLAY HEADER-->
         <div class="overlayHeader"> Filters </div> 
      
         <!-- OVERLAY BODY (SCROLLABLE)-->
         <div id="overlayBody" class="overlayBodyScroll">
         
          <!-- FILTERS 1 -->                      
            <ul class="list-inline">
              <!-- Products -->
              <li> 
                <ul>
                  <li>Products</li>
                  <li>
                    <div class="right-inner-addon productFilterSearch">
                      <i class="glyphicon glyphicon-search"></i>
                      <input type="search" class="form-control searchBox" placeholder="Quick search" />                     </div>
                  </li>
                  <li class="rightAling"><a href="javascript:;" >Reset</a></li>
                  <li>
                     <div class="productFilterTreeDiv">
                        <ul id="productFilterTree">
                            <li>Category 1
                                <ul>
                                    <li class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li>Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                            
                            <li>Category 2
                                <ul>
                                    <li  class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li>Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                            
                            <li>Category 3
                                <ul>
                                    <li class="treeLastChild">Sub Category 1</li>
                                    <li class="treeLastChild">Sub Category 2</li>
                                    <li >Sub Category 3                            
                                       <ul>
                                          <li class="treeLastChild">Sub Sub Category 1</li>
                                          <li class="treeLastChild">Sub Sub Category 2</li>
                                        </ul>
                                     </li>
                                </ul>
                            </li>
                          </ul>
                    </div>
                  </li>
                                 
                <li>
                 <div class="productFilterTreeDiv">              
                     <ul id="productAttrFilterTree">
                        <li>Attribute 1
                            <ul>
                                <li><input type="checkbox"> A1</li>
                                <li><input type="checkbox"> A2</li>
                                <li><input type="checkbox"> A3</li>
                            </ul>
                        </li>
                        <li>Attribute 2
                            <ul>
                                <li><input type="checkbox"> A1</li>
                                <li><input type="checkbox"> A2</li>
                                <li><input type="checkbox"> A3</li>
                            </ul>
                        </li>
                    </ul>       
                 </div>
                </li>
              </ul>
              <!-- Locations -->         
              <li>              
                  <ul>
                      <li>Locations</li>
                      <li>
                        <div class="right-inner-addon productFilterSearch">
                          <i class="glyphicon glyphicon-search"></i>
                          <input type="search" class="form-control searchBox" placeholder="Quick search" />                     </div>
                      </li>
                      <li  class="rightAling"><a href="javascript:;">Reset</a></li>
                      <li>
                         <div class="productFilterTreeDiv">
                            <ul id="locationFilterTree">
                                <li>Category 1
                                    <ul>
                                        <li class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                                
                                <li>Category 2
                                    <ul>
                                        <li class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                                
                                <li>Category 3
                                    <ul>
                                        <li  class="treeLastChild">Sub Category 1</li>
                                        <li class="treeLastChild">Sub Category 2</li>
                                        <li>Sub Category 3                            
                                           <ul>
                                              <li class="treeLastChild">Sub Sub Category 1</li>
                                              <li class="treeLastChild">Sub Sub Category 2</li>
                                            </ul>
                                         </li>
                                    </ul>
                                </li>
                              </ul>
                        </div>
                      </li>
                                     
                    <li>
                     <div class="productFilterTreeDiv">              
                         <ul id="locationAttrFilterTree">
                            <li>Attribute 1
                                <ul>
                                    <li><input type="checkbox"> A1</li>
                                    <li><input type="checkbox"> A2</li>
                                    <li><input type="checkbox"> A3</li>
                                </ul>
                            </li>
                            <li>Attribute 2
                                <ul>
                                    <li><input type="checkbox"> A1</li>
                                    <li><input type="checkbox"> A2</li>
                                    <li><input type="checkbox"> A3</li>
                                </ul>
                            </li>
                        </ul>       
                     </div>
                    </li>
                  </ul>
              
              </li>     
              <!-- Time -->         
              <li>
                <ul> 
                  <li> Time </li>
                  <li>
                    <select>
                       <option value="date">Date</option>
                       <option value="daterange">Date Range</option>
                       <option value="Q1">Q1-Q2</option>
                       <option value="Q2">Q2-Q3</option>
                       <option value="Q3">Q3-Q4</option>
                       <option value="year">Full Year</option>
                       <option value="janjun">Jan-Jun</option>
                       <option value="juldec">Jul-Dec</option>
                    </select>
                  </li>
                </ul>
              </li>     
            </ul> 
                   
            <!-- FILTERS -->
            <table class="filters" id="filterTable">
             <!-- filter 1 -->
             <tr class="filterRow">
               <td valign="top">
                 <ul> 
                   <li> Filter </li>
                     <li>
                        <select class="filterDropdown">
                          <option value="banner">Banner</option>
                          <option value="marketingvehicle">Marketing Vehicle</option>
                          <option value="pricevehicle">Price Vehicle</option>
                          <option value="catogory">Category</option>
                          <option value="subcategory">Sub Category</option>
                          <option value="contract">Contract</option>
                          <option value="item">Item</option>
                          <option value="queue">Queue</option>
                          <option value="eventtype">Event Type</option>
                          <option value="queuereason">Queue Reason</option>
                        </select>
                      </li>
                   </ul>
               </td>
               <td>
                  <ul>
                    <li> Select </li>   
                    <li>
                      <select multiple class="filterList">
                        <option value="">All Banners</option>
                        <option value="">A&P</option>
                        <option value="">Superfresh</option>
                        <option value="">Pathmark</option>
                        <option value="">The Food Emporium</option>
                      </select>
                    </li>
                 </ul>  
               </td>
               <td valign="bottom">
                   <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
               </td>
             </tr>
             
              <!-- filter 1 -->
             <tr class="filterRow">
               <td valign="top">
                 <ul> 
                   <li> Filter </li>
                     <li>
                        <select class="filterDropdown">
                          <option value="banner">Banner</option>
                          <option value="marketingvehicle">Marketing Vehicle</option>
                          <option value="pricevehicle">Price Vehicle</option>
                          <option value="catogory">Category</option>
                          <option value="subcategory">Sub Category</option>
                          <option value="contract">Contract</option>
                          <option value="item">Item</option>
                          <option value="queue">Queue</option>
                          <option value="eventtype">Event Type</option>
                          <option value="queuereason">Queue Reason</option>
                        </select>
                      </li>
                   </ul>
               </td>
               <td>
                  <ul>
                    <li> Select </li>   
                    <li>
                      <select multiple class="filterList">
                        <option value="">All Banners</option>
                        <option value="">A&P</option>
                        <option value="">Superfresh</option>
                        <option value="">Pathmark</option>
                        <option value="">The Food Emporium</option>
                      </select>
                    </li>
                 </ul>  
               </td>
               <td valign="bottom">
                   <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
               </td>
             </tr>
             
             <!-- Add filter -->
             <tr class="addFilterRow" id="addFilterBtn">
               <td colspan="3">
                   <button type="button" class="btn btn-default" onClick="addFilter('filterTable','addFilterBtn');">+ Add Filter</button>
               </td>
             </tr>
             
             
            
            </table>
                          
         </div> <!-- EO OVERLAYSCROLL  -->
         
         <!-- OVERLAY ACTIONS BAR -->
         <div class="overlayActionsBar">
            <button type="button" class="btn btn-default">Apply</button>
            <a href="javascript:;" class="popupCancelLink">Cancel</a>
         </div>         

         
        </div> <!-- EO OverlayContent -->
       <!-- EO Gray Bg -->            
    </div><!-- EO RESET FILTERS OVERLAY -->
    
      <!--! BO CUSTOMIZE TABLE COLUMNS OVERLAY -->
    <div id="marketingCustomizeTable">     
      
        <div class="overlayContent customizeColOverlay">
           
          <div class="overlayHeader"> 
              Customize Table Columns
          </div> 
              
          <div class="row">
           <div class="col-md-3"> 
             All Columns
             <select size="10" multiple id="allCol">
               <option value="col1">Banner</option>
               <option value="col2">Item Description</option>
               <option value="col4">Catalog</option>
               <option value="col5">Pg & Ad Size</option>
               <option value="col6">Retail</option>
               <option value="col7">List Cost</option>
               <option value="col8">Unit Funcding</option>
               <option value="col9">Net Net Cost</option>
               <option value="col10">Appr Retail</option>
               <option value="col11">Appr Est Sales Units</option>
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>

           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol', 'selCol')">Select ></button>
             <button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol', 'allCol')">< Remove</button>
           </div>

           <div class="col-md-3"> 
             Selected Columns
             <select size="10" multiple id="selCol">
               <option value="col12">Category Manager</option>
               <option value="col13">CRS Sales Rank</option>
               <option value="col14">CRS Household Rank</option>
               <option value="col15"># of Weeks</option>
               <option value="col16">Link/L2</option>
               <option value="col17">Contract #</option>
               <option value="col18">Unit Funcding</option>
               <option value="col19">Net Net Cost</option>
               <option value="col20">Appr Retail</option>
               <option value="col21">Appr Est Sales Units</option>
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>
           
           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn btn-default" onClick="listbox_move('selCol', 'up')">Move Up</button>
             <button type="button" class="btn btn-default" onClick="listbox_move('selCol', 'down')">Move Down</button>
           </div>
           
         </div> <!-- EO ROW -->   
         
         <div class="overlayActions">        
            <button type="button" class="btn btn-default" >Apply</button>
            <a href="javascript:;" class="popupCancelLink">Cancel</a>
         </div>


        </div>
                      
    </div><!--! EO BO CUSTOMIZE TABLE COLUMNS OVERLAY -->


<!-- BO Actions Overlay-->
  <!--! BO CUSTOMIZE TABLE COLUMNS OVERLAY -->
  <div id="actionDialog">
  <div class="overlayContent customizeColOverlay">
           
          <div class="overlayHeader"> 
             Actions
          </div> 
          <ul  id="action_list">
          
          </ul>
        </div>
  
  </div>

<!-- EO Actions Overlay-->


<!-- BO TAB CONTENT -->
<div class="container tab-content tabContentMain"> 
      <!-- BO WORKLIST TAB -->
      <div id="adMgmt" class="container tab-pane active worklistTabBody">
    <div class="page-header">
          <h1><span class="glyphicon glyphicon-bullhorn"></span> Ad Management</h1>
        </div>
    
    <!-- Filters -->
    <div class="birdEyeTablefilter">
          <ul class="list-inline">
        <li>
              <div id="filter1" class="filterOption"> All Products &nbsp;&nbsp;<a href="javascript:clearFilter('filter1');"><img src="../assets/filterClose.png"></a></div>
            </li>
        <li>
              <div id="filter2" class="filterOption"> All Locations &nbsp;&nbsp;<a href="javascript:clearFilter('filter2');"><img src="../assets/filterClose.png"></a></div>
            </li>
        <li>
              <div id="filter3" class="filterOption"> Q3-Q4 &nbsp;&nbsp;<a href="javascript:clearFilter('filter3');"><img src="../assets/filterClose.png"></a></div>
            </li>
        <li>
              <div id="filter4" class="filterOption"> FP &nbsp;&nbsp;<a href="javascript:clearFilter('filter4');"><img src="../assets/filterClose.png"></a></div>
            </li>
        <li>&nbsp;&nbsp;</li>
        <li><a href="javascript:;" class="resetAll">Reset All</a></li>
      </ul>
        </div>
    <div class="accordion" id="accordion"> 
          
          <!-- BO BIRDS EYE VIEW -->
          <div class="accordion-group accordianBody birdEyeView">
        <div class="accordion-heading accordianHeader"> <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#">Bird's Eye View of the Contracts</a> </div>
        <div id="collapseOne" class="collapse in">
              <div class="accordion-inner"> 
            
            <!-- BO TABLE/GRAPH VIEW TABS -->
            <ul class="nav nav-tabs grapTableTabs" role="tablist">
                  <li><a href="#graphView" data-toggle="tab">Graph</a></li>
                  <li class="active"><a href="#tableView" data-toggle="tab">Table</a></li>
                </ul>
            <!-- EO TABLE/GRAPH VIEW TABS -->
            
            <div class="tab-content"> 
                  <!-- BO GRAPH VIEW -->
                  <div id="graphView" class="tab-pane  graphViewTabBody"> 
                <!-- Filters -->
                <div class="birdEyeTablefilter">
                      <ul class="list-inline">
                    <li>
                          <div id="filterG1" class="filterOption"> All Products &nbsp;&nbsp;<a href="javascript:clearFilter('filterG1');"><img src="../assets/filterClose.png"></a></div>
                        </li>
                    <li>
                          <div id="filterG2" class="filterOption"> All Locations &nbsp;&nbsp;<a href="javascript:clearFilter('filterG2');"><img src="../assets/filterClose.png"></a></div>
                        </li>
                    <li>
                          <div id="filterG3" class="filterOption"> Q3-Q4 &nbsp;&nbsp;<a href="javascript:clearFilter('filterG3');"><img src="../assets/filterClose.png"></a></div>
                        </li>
                    <li>&nbsp;&nbsp;</li>
                    <li><a href="javascript:;"  class="resetAll">Reset All</a></li>
                  </ul>
                    </div>
                    
                    <div class="row">
                    	<div class="col-md-4"><img src="../assets/graphTempImg.png" width="290" height="181"/></div>
                        <div class="col-md-4"><img src="../assets/graphTempImg.png" width="290" height="181"/></div>
                        <div class="col-md-4"><img src="../assets/graphTempImg.png" width="290" height="181"/></div>
                    </div>
                    
              </div>
                  <!-- EO GRAPH VIEW --> 
                  
                  <!-- BO TABLE VIEW -->
                  <div id="tableView" class="tab-pane active tableViewTabBody">
                <table id="birdEyeViewdataTable" class="birdEyeTable tablesorter table-striped ">
                      <thead>
                    <tr>
                          <th></th>
                          <th>Cover</th>
                          <th>Inside</th>
                          <th>In Store</th>
                          <th>Price Hold</th>
                          <th>(Base)</th>
                          <th>Total</th>
                          <th>Budget</th>
                          <th>Percent</th>
                        </tr>
                  </thead>
                      <tbody>
                    <tr>
                          <td>Units</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>85</td>
                        </tr>
                    <tr>
                          <td>Revenue</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>110</td>
                        </tr>
                    <tr>
                          <td>Margin</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>90</td>
                        </tr>
                    <tr>
                          <td>Subsidy</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>95</td>
                        </tr>
                    <tr>
                          <td>Spots</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>120</td>
                        </tr>
                    <tr class="customRow">
                          <td>Custom</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>99999999</td>
                          <td>110</td>
                        </tr>
                  </tbody>
                    </table>
                <div class="exportAsLink">Export as <a href="javascript:;"><img src="../assets/Excel_Icon.png" border="0"></a></div>
              </div>
                  <!-- EO TABLE VIEW --> 
                  
                </div>
          </div>
            </div>
      </div>
          <!-- EO BIRDS EYE VIEW --> 
          
          <!-- SO Marketing View -->
          <div class="accordion-group accordianBody worklistView">
        <div class="accordion-heading accordianHeader"> <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">Marketing View</a> </div>
        <div id="collapseTwo" class="collapse in worklistAccordionBody">
              <div class="accordion-inner">
            	<div id="tableView" class="tab-pane active tableViewTabBody">
                 <div id="main_content_wrap" class="outer">
                      <section id="main_content" class="inner">
                
                        <div id="target3" class="timeline-tgt">
                        
                      </div>
                
                
                      </section>
                    </div>
                  <div class="exportAsLink">Export as <a href="javascript:;"><img src="../assets/Excel_Icon.png" border="0"></a></div>
                </div>
          </div>
            </div>
      </div>
          
          <!-- EO Marketing View--> 
        </div>
  </div>
      <!-- EO WORKLIST TAB --> 
      
    </div>
<!-- EO TAB CONTENT --> 

    
    <script type="text/javascript">
      $(document).ready(function(){
//console.log(new Date(2014, 2, 1))

   
       var events = "<%=@events%>".replace(/&quot;/g,'"');
        
    events = events.replace(/&gt;/g,'>');
     events = events.replace(/&lt;/g,'<');
     //console.log(events)
       events=JSON.parse(events);
       
        //console.log(events)
   
   	$.each(events,function(key, value){
   		$.each(value.dates ,function(key1,value1){
   			if(key1 == 1)
   			{
   				var temp = new Date(value1)
   				temp = temp.setDate(temp.getDate()+1)
   				events[key].dates[key1] = new Date(temp);
   			} else {
   			events[key].dates[key1] = new Date(value1);
   			}
   		})
   	});
   
   console.log(events)
      var sections = [
      {dates: [new Date("<%=@res['start_date']%>"), new Date("<%=@res['fifth_week']%>")], title: "", section: 1, attrs: {fill: "#f9fff4"}},
	  {dates: [new Date("<%=@res['fifth_week']%>"), new Date("<%=@res['end_date']%>")], title: "", section: 1, attrs: {fill: "#fbfbda"}}, 
      ];

     console.log(sections)
      var timeline3 = new Chronoline(document.getElementById("target3"), events,
        {visibleSpan: DAY_IN_MILLISECONDS * 91,
      	 animated: true,
         tooltips: true,
         defaultStartDate: new Date("<%=@res['start_date']%>"),
         startDate: new Date("<%=@res['start_date']%>"),
		 endDate:new Date("<%=@res['end_date']%>"),
         sections: sections,
         sectionLabelAttrs: {'fill': '#997e3d', 'font-weight': 'bold'},
     	  labelInterval: isSevenDay,
      	 hashInterval: isSevenDay,
      	 floatingSubLabels: false,
      });

     

      });
      
      function getContracts(date){
 		// alert(date);
	  }
    </script>
    
<script>

$(document).ready(function() {
	var actionTabs = $(".actionTabs li")
	function createActionList(){
		var popupList =$("#action_list li")
		actionTabs.each(function( index ) {
		
		  	var checkClass = $(this).hasClass('active')
			
		  		if(!checkClass)
		  		{
					if(popupList.length>0)
					{
						popupList.remove()
					}
					$("#action_list").append("<li>"  + $( this ).html() + "</li>");
					
				}
				
			});
	}
	
	function actionTabList(){
					
		var actionlist = $("#action_list li")	

		actionlist.click(function(){
					
		var index = actionlist.index(this);
		if(actionlist.eq(index).text() =='FP'){
			actionTabs.removeClass('active')
			actionTabs.eq(0).addClass('active')	
		}
		else{
			actionTabs.each(function( index ) {
		//  console.log( index + ": " + $( this ).text() );
		  
		  	var checkClass = $(this).hasClass('active')
		  		if(checkClass)
		  		actionTabs.eq(index).removeClass('active')	
			});
			actionTabs.eq(index+1).addClass('active')	
			actionTabs.eq(index).removeClass('active')	
		}	
		
		$( "#actionDialog" ).dialog( "close")
			actionlist.remove()
		});
		
	}
	
	
	var tableValue = $("#fpTable tr td, #ipTable tr td")
		 tableValue.click(function(e) {
 			if($(this).text().length>1)
				{
					$( "#actionDialog" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				  
				$("#actionDialog").dialog({ 
					close: function(event, ui){
					  $("#action_list li").remove()	
					  
					   }}).dialog("open");
					$( "#actionDialog" ).dialog( "open").width("200px")
					
					  createActionList();
					  actionTabList();
					  e.stopPropagation();
					  
				}
		});
	
		/* Common for all Modals */				
			$( "#actionDialog, #worklistResetFilterDialog, #marketingCustomizeTable, #flyer" ).dialog({
						autoOpen: false,
						width: "auto",
						height: "auto"
			});
	
	
	
			$(".resetAll").click(function(e) {
    
				$( "#worklistResetFilterDialog" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				
				$( "#worklistResetFilterDialog" ).dialog( "open")
				var offset = $(this).offset()
							  
			  	$( "#worklistResetFilterDialog" ).parent().css("top", offset.top-30+"px")
				

			  });	
			  
			  $(".custTable").click(function(e) {
    
				$( "#marketingCustomizeTable" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				
				$( "#marketingCustomizeTable" ).dialog( "open").width("600px")
				var offset = $(this).offset()
							  
			  	$( "#marketingCustomizeTable").parent().css("left", offset.left-500+"px")
				$( "#marketingCustomizeTable").parent().css("top", 420+"px")

			  });	
			
		});	

	$(document).ready(function() 
    { 
        $("#birdEyeViewdataTable").tablesorter({sortList: [[7,1]]}); 
	
		
		$('#productFilterTree').sapling();
		$('#locationFilterTree').sapling();
		$('#productAttrFilterTree').sapling();
		$('#locationAttrFilterTree').sapling();
		
		
		 $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
		/* scrollbars */
		$('#overlayBody').enscroll({
			showOnHover: true,
			verticalTrackClass: 'track3',
			verticalHandleClass: 'handle3'
		});
		
		$("#showFlyer").click(function(e) {
    		$( "#flyer" ).dialog( "open")
		});
		
    } ); 
    
	$(document).ready(function() {
		var table = $('#fpTable, #ipTable').DataTable( {
			scrollY:        "300px",
			scrollX:        true,
			scrollCollapse: true,
			paging:         false,
			searching: false,
			info:false		
		} );
		
		new $.fn.dataTable.FixedColumns( table, {
			leftColumns: 6
		});
	
	});

	

	function clearFilter(filterOpt)
	{
	  document.getElementById(filterOpt).style.display="none";
	}
	</script>
    <a id="showFlyer" style="margin-left: 234px;">Flyer</a>
<div id="flyer">
<div class="bb-custom-wrapper">
        
        <div id="bb-bookblock" class="bb-bookblock">
          <div class="bb-item">
            <div class="bb-custom-firstpage">
            </div> 
            <div class="bb-custom-firstpage">
              <div id="FP" style="overflow: hidden;">
                <div id="blockFP">
                  <div id="storeName"></div>
                </div>
               </div>
            </div>
          </div>
          <div class="bb-item">
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page1">  
                </div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page2">
                </div>
              </div>
            </div>
          </div>
          <div class="bb-item">
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page3">
                </div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page4">
                </div>  
              </div>
            </div>
          </div>
          <!-- <div class="bb-item">
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page5">
                </div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page6">
                </div>
              </div>
            </div>
          </div>
          <div class="bb-item">
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page7">
                </div>
              </div>
            </div>
            <div class="bb-custom-side">
              <div id="IP">
                <div id="page8">
                </div>
              </div>
            </div>
          </div> -->
          <div class="bb-item">
            <div class="bb-custom-side">
              <div id="BP" style="overflow: hidden;">
                <div id="blockBP">
                  <div id="storeName"></div>
                </div>
               </div>
            </div>
            <div class="bb-custom-side">
            </div>
          </div>
        </div>

        <nav>
          <a id="bb-nav-first" class="bb-custom-icon bb-custom-icon-first">First page</a>
          <a id="bb-nav-prev" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
          <a id="bb-nav-next" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
          <a id="bb-nav-last" class="bb-custom-icon bb-custom-icon-last">Last page</a>
        </nav>

      </div>
      </div>

</body>
</html>


<script>

      var Page = (function() {
        
        var config = {
            $bookBlock : $( '#bb-bookblock' ),
            $navNext : $( '#bb-nav-next' ),
            $navPrev : $( '#bb-nav-prev' ),
            $navFirst : $( '#bb-nav-first' ),
            $navLast : $( '#bb-nav-last' )
          },
          init = function() {
            config.$bookBlock.bookblock( {
              speed : 1000,
              shadowSides : 0.8,
              shadowFlip : 0.4
            } );
            initEvents();
          },
          initEvents = function() {
            
            var $slides = config.$bookBlock.children();

            // add navigation events
            config.$navNext.on( 'click touchstart', function() {
              config.$bookBlock.bookblock( 'next' );
              return false;
            } );

            config.$navPrev.on( 'click touchstart', function() {
              config.$bookBlock.bookblock( 'prev' );
              return false;
            } );

            config.$navFirst.on( 'click touchstart', function() {
              config.$bookBlock.bookblock( 'first' );
              return false;
            } );

            config.$navLast.on( 'click touchstart', function() {
              config.$bookBlock.bookblock( 'last' );
              return false;
            } );
            
            // add swipe events
            $slides.on( {
              'swipeleft' : function( event ) {
                config.$bookBlock.bookblock( 'next' );
                return false;
              },
              'swiperight' : function( event ) {
                config.$bookBlock.bookblock( 'prev' );
                return false;
              }
            } );

            // add keyboard events
            $( document ).keydown( function(e) {
              var keyCode = e.keyCode || e.which,
                arrow = {
                  left : 37,
                  up : 38,
                  right : 39,
                  down : 40
                };

              switch (keyCode) {
                case arrow.left:
                  config.$bookBlock.bookblock( 'prev' );
                  break;
                case arrow.right:
                  config.$bookBlock.bookblock( 'next' );
                  break;
              }
            } );
          };

          return { init : init };

      })();
    </script>
    <script>
        Page.init();

     var back = ["#ADFF5C","#66CCFF","#96B07B","#A37547"];

      var customAttributeJson = '[{"page":"page1","cat_name":"SNACKS AND BEVERAGE","size":"754px"},{"page":"page2","cat_name":"ORGANIC ITEMS","size":"754px"},{"page":"page3","cat_name":"DAIRY","size":"754px"},{"page":"page4","cat_name":"FRESH MEAT And POULTRY","size":"754px"}]';

      customAttributeJson = JSON.parse(customAttributeJson);
      
      var jsonString = '[{ "id":1,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"pro1.png"},{"id":2,"name":"pro2","img_name":"pro2.png"},{"id":3,"name":"pro3","img_name":"pro3.png"},{"id":4,"name":"pro4","img_name":"pro4.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Big Block"}},{ "id":2,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"pro5.png"},{"id":2,"name":"pro2","img_name":"pro6.png"},{"id":3,"name":"pro3","img_name":"pro7.png"},{"id":4,"name":"pro4","img_name":"pro8.png"}],"price":1500,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Big Block"}},{ "id":3,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro9.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Big Block"}},{ "id":4,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro13.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Small Block"}},{ "id":5,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"1.png"},{"id":2,"name":"pro2","img_name":"2.png"},{"id":3,"name":"pro3","img_name":"3.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Small Block"}},{ "id":6,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"4.png"},{"id":2,"name":"pro2","img_name":"5.png"},{"id":3,"name":"pro3","img_name":"6.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Small Block"}},{ "id":7,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro14.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"FP","type":"Small Block"}},{ "id":8,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"pro1.png"},{"id":2,"name":"pro2","img_name":"pro2.png"},{"id":3,"name":"pro3","img_name":"pro3.png"},{"id":4,"name":"pro4","img_name":"pro4.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Big Block"}},{ "id":9,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"pro5.png"},{"id":2,"name":"pro2","img_name":"pro6.png"},{"id":3,"name":"pro3","img_name":"pro7.png"},{"id":4,"name":"pro4","img_name":"pro8.png"}],"price":1500,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Big Block"}},{ "id":10,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro9.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Big Block"}},{ "id":11,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro13.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Small Block"}},{ "id":12,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"1.png"},{"id":2,"name":"pro2","img_name":"2.png"},{"id":3,"name":"pro3","img_name":"3.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Small Block"}},{ "id":13,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"4.png"},{"id":2,"name":"pro2","img_name":"5.png"},{"id":3,"name":"pro3","img_name":"6.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Small Block"}},{ "id":14,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro14.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"BP","type":"Small Block"}},{ "id":15,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"1.png"},{"id":2,"name":"pro2","img_name":"2.png"},{"id":3,"name":"pro3","img_name":"3.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":16,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"4.png"},{"id":2,"name":"pro2","img_name":"5.png"},{"id":3,"name":"pro3","img_name":"6.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":17,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"7.png"},{"id":2,"name":"pro2","img_name":"8.png"},{"id":3,"name":"pro3","img_name":"9.png"},{"id":4,"name":"pro4","img_name":"pro4.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":18,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"16.png"},{"id":2,"name":"pro2","img_name":"17.png"},{"id":3,"name":"pro3","img_name":"2.png"},{"id":4,"name":"pro4","img_name":"1.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":19,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"5.png"}],"price":100,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":20,"cat_name":"SNACKS AND BEVERAGE","product_list":[{"id":1,"name":"pro1","img_name":"7.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":21,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"23.png"},{"id":2,"name":"pro2","img_name":"24.png"}],"price":320,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":22,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"19.png"}],"price":95,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":23,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"18.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":24,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"20.png"}],"price":100,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":25,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"21.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":26,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"22.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":27,"cat_name":"ORGANIC ITEMS","product_list":[{"id":1,"name":"pro1","img_name":"25.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":28,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"11.png"},{"id":2,"name":"pro2","img_name":"12.png"},{"id":3,"name":"pro3","img_name":"13.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":29,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"8.png"},{"id":2,"name":"pro2","img_name":"9.png"},{"id":3,"name":"pro3","img_name":"10.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":30,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"9.png"},{"id":2,"name":"pro2","img_name":"10.png"},{"id":3,"name":"pro3","img_name":"11.png"},{"id":4,"name":"pro4","img_name":"13.png"}],"price":200,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":32,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"11.png"}],"price":100,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":33,"cat_name":"DAIRY","product_list":[{"id":1,"name":"pro1","img_name":"8.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":34,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro11.png"},{"id":2,"name":"pro2","img_name":"pro12.png"},{"id":3,"name":"pro3","img_name":"pro13.png"}],"price":1000,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":35,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro9.png"},{"id":2,"name":"pro2","img_name":"pro10.png"}],"price":1500,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":36,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro14.png"}],"price":600,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Big Block"}},{ "id":37,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro13.png"}],"price":100,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}},{ "id":38,"cat_name":"FRESH MEAT And POULTRY","product_list":[{"id":1,"name":"pro1","img_name":"pro12.png"}],"price":150,"duration":"5days","marketing_vehicle":{"name":"IP","type":"Small Block"}}]';

    jsonString = JSON.parse(jsonString);
    //console.log(jsonString);

    createBrochure(checkFP(jsonString),"blockFP");

    $.each(customAttributeJson, function(key, value) { 
      /*$("<div />" ,{
      id : "cat_name"+customAttributeJson[key].cat_name,
      text : customAttributeJson[key].cat_name
    }).appendTo("#"+customAttributeJson[key].page);*/
     var rand = back[Math.floor(Math.random() * back.length)];
    $("#"+customAttributeJson[key].page).css({border:"3px solid "+rand, borderRadius:"5px",maxHeight:"754px"});
    $("#"+customAttributeJson[key].page).append("<div id='"+key+"' style='background-color:"+rand+";border-radius:0px 0px 5px 5px'><b>"+customAttributeJson[key].cat_name+"</b></div>")
        $("<div />" , {
          id:'cat_name'+key,
          height:customAttributeJson[key].size
        }).appendTo("#"+customAttributeJson[key].page);
      createBrochureIP(checkIP(jsonString,customAttributeJson[key].cat_name),key);
    });

    createBrochure(checkBP(jsonString),"blockBP");
    /*$.each(jsonString, function(key, value) {
         if(jsonString[key].marketing_vehicle.name=="FP") {
          
         } else {
          $("#"+jsonString[key].cat_name).css({float:"left",margin:"5px",width:"100px",height:"100px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 100/no - 5 ;
          img_width = 100/no - 5 ;
         }
          $("#"+jsonString[key].cat_name).appendTo("#"+id);
        $.each(jsonString[key].product_list, function(key1, value1) { 
          $('<img src="images/'+value1.img_name+'" style="width:'+img_width+'px; height:'+img_height+'px;"/>').appendTo("#"+jsonString[key].cat_name);
        }); 
        
    });*/

  function createBrochure(jsonString,identifier) {
    var id="";
    //console.log(ide);
    $("#"+identifier+" #storeName").html(" <h1> <b> <img src='../assets/images/Reliance Mart.png' style='width:50px; height:50px;' > Reliance Mart </b></h1>");
    $.each(jsonString, function(key, value) {
        var img_width = 0;
        var img_height = 0;
        id = jsonString[key].marketing_vehicle.name;
         $("body").append("<div id='"+jsonString[key].id+"' style='border:solid; border-color: rgba(240, 116, 48, 1); margin-top:2%' data-toggle='tooltip' title='Contract Name = "+jsonString[key].cat_name+"  Price = "+jsonString[key].price+"'></div>");
        $("#"+jsonString[key].id).append("<div id='image'></div>");
        $("#"+jsonString[key].id).append("<div id='price'style='position: absolute;background: none repeat scroll 0% 0% #F00;color: rgba(232, 237, 27, 1);opacity: 0.9;border-radius: 10px;'>  Price "+jsonString[key].price+"$</div>");

         if(jsonString[key].marketing_vehicle.type=="Big Block") {
           $("#"+jsonString[key].id+" #price").css({margin: "157px 139px", width: "70px",fontSize: "large"}); 
            $("#"+jsonString[key].id).css({float:"left",margin:"5px",width:"220px",height:"220px"});
            $("#"+jsonString[key].id+" #image").css({float:"left",width:"215px",height:"220px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 220/no - 5 ;
          img_width = 220/no - 5 ;
         } else {
            $("#"+jsonString[key].id+" #price").css({margin: "48px 48px", width: "50px",fontSize: "small"});
            $("#"+jsonString[key].id).css({float:"left",margin:"5px",width:"105px",height:"105px"});
            $("#"+jsonString[key].id+" #image").css({float:"left",width:"100px",height:"105px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 105/no - 5 ;
          img_width = 105/no - 5 ;
         }
          $("#"+jsonString[key].id).appendTo("#"+id+" #"+identifier);
        $.each(jsonString[key].product_list, function(key1, value1) { 
           $('<img src="../assets/images/'+value1.img_name+'" style="width:'+img_width+'px; height:'+img_height+'px;"/>').appendTo("#"+jsonString[key].id+" #image");
        });  
    });
  }


  /*function createBrochureBP(jsonString) {
    var id="";
    $("#storeName").html("<p> <h1> <b> Reliance Mart </b></h1></p>");
    $.each(jsonString, function(key, value) {
        var img_width = 0;
        var img_height = 0;
        id = jsonString[key].marketing_vehicle.name;
         $("body").append("<div id='"+jsonString[key].id+jsonString[key].cat_name+"' style='border:solid; margin-top:2%' data-toggle='tooltip' title='Contract Name = "+jsonString[key].cat_name+"  Price = "+jsonString[key].price+"'></div>");
         if(jsonString[key].marketing_vehicle.type=="Big Block") {
          $("#"+jsonString[key].id+jsonString[key].cat_name).css({float:"left",margin:"5px",width:"300px",height:"300px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 300/no - 5 ;
          img_width = 300/no - 5 ;
         } else {
          $("#"+jsonString[key].id+jsonString[key].cat_name).css({float:"left",margin:"5px",width:"140px",height:"140px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 140/no - 5 ;
          img_width = 140/no - 5 ;
         }
          $("#"+jsonString[key].id+jsonString[key].cat_name).appendTo("#"+id+ " #block");
        $.each(jsonString[key].product_list, function(key1, value1) { 
           $('<img src="images/'+value1.img_name+'" style="width:'+img_width+'px; height:'+img_height+'px;"/>').appendTo("#"+jsonString[key].id+jsonString[key].cat_name);
        });  
    });
  }*/

  function createBrochureIP(jsonString, configJson) {
    //console.log(configJson);
    var id="";
    //console.log(("#"+configJson.page+" #catName"));
    
//    $("#"+page+" #catName").append("<h1><b> "+cat_name+" </b></h1>");
    $.each(jsonString, function(key, value) {
        var img_width = 0;
        var img_height = 0;
        id = jsonString[key].marketing_vehicle.name;
        $("body").append("<div id='"+jsonString[key].id+"' style='border:solid; border-color: rgba(240, 116, 48, 1); margin-top:2%;' data-toggle='tooltip' title='Contract Name = "+jsonString[key].cat_name+"  Price = "+jsonString[key].price+"'></div>");
        $("#"+jsonString[key].id).append("<div id='image'></div>");
        $("#"+jsonString[key].id).append("<div id='price'style='position: absolute;background: none repeat scroll 0% 0% #F00;color: rgba(232, 237, 27, 1);opacity: 0.9;border-radius: 10px;'>  Price "+jsonString[key].price+"$</div>");
         if(jsonString[key].marketing_vehicle.type=="Big Block") {
             $("#"+jsonString[key].id+" #price").css({margin: "157px 139px", width: "70px",fontSize: "large"}); 
            $("#"+jsonString[key].id).css({float:"left",margin:"5px",width:"220px",height:"220px"});
            $("#"+jsonString[key].id+" #image").css({float:"left",width:"215px",height:"220px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 220/no - 5 ;
          img_width = 220/no - 5 ;
         } else {
             $("#"+jsonString[key].id+" #price").css({margin: "48px 48px", width: "50px",fontSize: "small"});
            $("#"+jsonString[key].id).css({float:"left",margin:"5px",width:"105px",height:"105px"});
            $("#"+jsonString[key].id+" #image").css({float:"left",width:"100px",height:"105px"});
          var no = Math.ceil(Math.sqrt((jsonString[key].product_list).length));
          img_height = 105/no - 5 ;
          img_width = 105/no - 5 ;
         }
          $("#"+jsonString[key].id).appendTo("#"+id+ " #cat_name"+configJson);
        $.each(jsonString[key].product_list, function(key1, value1) { 
          $('<img src="../assets/images/'+value1.img_name+'" style="width:'+img_width+'px; height:'+img_height+'px;"/>').appendTo("#"+jsonString[key].id+" #image");
        });  
    });
  }

  $('div[data-toggle="tooltip"]').tooltip({
      animated: 'fade',
      placement: 'bottom',
  });


  function checkFP(jsonString) {
    var arrFpBigBlock = new Array();
    var arrFpSmallblock = new Array();
    $.each(jsonString, function(key, value) {
      if (jsonString[key].marketing_vehicle.name == "FP" && jsonString[key].marketing_vehicle.type == "Big Block") {
        arrFpBigBlock.push(jsonString[key]);
      } else if (jsonString[key].marketing_vehicle.name == "FP") {
        arrFpSmallblock.push(jsonString[key]);
      }
    });
    var arrFp = arrFpBigBlock.concat(arrFpSmallblock);
    return JSON.parse(JSON.stringify(arrFp));
  }

  function checkIP(jsonString,cat_name) {
    var arrBigBlock = new Array();
    var arrSmallblock = new Array();
    $.each(jsonString, function(key, value) {
      if (jsonString[key].cat_name==cat_name && jsonString[key].marketing_vehicle.name == "IP" && jsonString[key].marketing_vehicle.type == "Big Block") {
        arrBigBlock.push(jsonString[key]);
      } else if (jsonString[key].cat_name==cat_name && jsonString[key].marketing_vehicle.name == "IP") {
        arrSmallblock.push(jsonString[key]);
      }
    });
    var arrIP = arrBigBlock.concat(arrSmallblock);
    return JSON.parse(JSON.stringify(arrIP));
  }

  function checkBP(jsonString) {
    var arrBpBigBlock = new Array();
    var arrBpSmallblock = new Array();
    $.each(jsonString, function(key, value) {
      if (jsonString[key].marketing_vehicle.name == "BP" && jsonString[key].marketing_vehicle.type == "Big Block") {
        arrBpBigBlock.push(jsonString[key]);
      } else if (jsonString[key].marketing_vehicle.name == "BP") {
        arrBpSmallblock.push(jsonString[key]);
      }
    });
    var arrBp = arrBpBigBlock.concat(arrBpSmallblock);
    return JSON.parse(JSON.stringify(arrBp));
  }

    </script>