<div id="worklistCustomizeTable">     
             <div class="overlayContent customizeColOverlay">
           
          <div class="overlayHeader"> 
              Customize Table Columns
          </div> 
              
          <div class="row">
           <div class="col-md-3"> 
             All Columns
             <select size="10" multiple id="allCol" style="width:100%">
               <% @array4.each do |k, v| %>
                 <option><%= k %></option>
               <% end %>
                
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>

           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn btn-default" onClick="listbox_moveacross('allCol', 'selCol')">Select ></button>
             <button type="button" class="btn btn-default" onClick="listbox_moveacross('selCol', 'allCol')">< Remove</button>
           </div>

           <div class="col-md-3"> 
             Selected Columns
             <select size="10" multiple id="selCol" style="width:100%">
                <% @array2.each do |k, v| %>
                <% if k=="customFields"%>
                <% v.each do |l| %>
                 <option><%= l %></option>
                 <% end %>
                 <% end %>
                <% end %>
             </select>  
             <span class="smallText"> Select multiple columns using CNTRL key </span>        
           </div>
           
           <div class="col-md-3 customizeTableButtons">
             <button type="button" class="btn btn-default" onClick="listbox_move('selCol', 'up')">Move Up</button>
             <button type="button" class="btn btn-default" onClick="listbox_move('selCol', 'down')">Move Down</button>
           </div>
           
         </div> <!-- EO ROW -->   
         
         <div class="overlayActions">        
            <button id="apply" type="button" class="btn btn-default" onclick="applyCols()" data-userId="<%= current_user.id %>">Apply</button>
            <a href="javascript:;" class="popupCancelLink">Cancel</a>
         </div>


        </div>
    </div>