<div id="worklistResetFilterDialog">     
    <div class="overlayContent customizeColOverlay">                                      
    <!-- OVERLAY HEADER-->
      <div class="overlayHeader"> Filters </div> 
      <!-- OVERLAY BODY (SCROLLABLE)-->
       <form action ='' method="get">
       <div id="overlayBody" class="overlayBodyScroll">
        <!-- FILTERS 1 -->                      
          <ul class="list-inline">
           
            <li>
              <ul> 
                <li> Date Range </li>
                <li>
                <div class="date">
                  <fieldset>
                    <div class="control-group">
                      <div class="controls">
                        <div class="input-prepend input-group">
                          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                          <input type="text" style="width: 150px" name="filter_daterange" id="filterdate" class="form-control"  />
                        </div>
                      </div>
                    </div>
                  </fieldset>
              </div>

                  <!-- <select>
                     <option value="date">Date</option>
                     <option value="daterange">Date Range</option>
                     <option value="Q1">Q1-Q2</option>
                     <option value="Q2">Q2-Q3</option>
                     <option value="Q3">Q3-Q4</option>
                     <option value="year">Full Year</option>
                     <option value="janjun">Jan-Jun</option>
                     <option value="juldec">Jul-Dec</option>
                  </select> -->
                </li>
              </ul>
            </li> 

            <!-- Products -->
            <li> 
              <ul>
                <li>Categorys</li>
                <li>
                  <div class="right-inner-addon productFilterSearch">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" class="form-control searchBox" placeholder="Quick search" /> </div>
                </li>
                <li class="rightAling"><a href="javascript:;" >Reset</a></li>
                <li>
                   <div class="productFilterTreeDiv">
                      <ul id="productFilterTree">
                          <% @allCategoriesHierarchy.each do |categoryHash| %>
                             <% def ihash(h) %>
                                <% h.each do |k,v| %>
                                <%  if v.is_a?(Hash) %>
                                 <li>
                                <span onclick="setcategoryId(<%= k[0] .to_i %>)"><%= k[1] %></span>
                                  <ul>
                                    <li >
                                      <% ihash(v) %>
                                    </li>
                                  </ul>
                                </li>
                                <% else %>
                                <li class="treeLastChild">
                                <span onclick="setcategoryId(<%= k[0] .to_i %>)"><%= k[1] %></span>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                                <% ihash(categoryHash) %>
                                <% end %>
                        </ul>
                  </div>
                </li>
                               
              <li>
               <div class="productFilterTreeDiv">              
                   <ul id="productAttrFilterTree">
                      <li>Attribute 1
                          <ul>
                              <li><input type="checkbox"> A1</li>
                              <li><input type="checkbox"> A2</li>
                              <li><input type="checkbox"> A3</li>
                          </ul>
                      </li>
                      <li>Attribute 2
                          <ul>
                              <li><input type="checkbox"> A1</li>
                              <li><input type="checkbox"> A2</li>
                              <li><input type="checkbox"> A3</li>
                          </ul>
                      </li>
                  </ul>       
               </div>
              </li>
            </ul>
            <!-- Locations -->         
            <li>              
                <ul>
                    <li>Locations</li>
                    <li>
                      <div class="right-inner-addon productFilterSearch">
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="search" class="form-control searchBox" placeholder="Quick search" />                     </div>
                    </li>
                    <li  class="rightAling"><a href="javascript:;">Reset</a></li>
                    <li>
                       <div class="productFilterTreeDiv">
                          <ul id="locationFilterTree">
                             <% if !@allBannersHierarchy.blank? %>
                                <% @allBannersHierarchy.each do |bannerHash| %>
                                 <% def jhash(h) %>
                                <% h.each do |k,v| %>
                                <%  if v.is_a?(Hash) %>
                                 <li>
                                 <span onclick="setlocationId(<%= k[0] .to_i %>)"><%= k[1] %></span>
                                  <ul>
                                    <li >
                                      <% jhash(v) %>
                                    </li>
                                  </ul>
                                </li>
                                <%   else %>
                                <li class="treeLastChild">
                                 <span onclick="setlocationId(<%= k[0] .to_i %>)"><%= k[1] %></span>
                                </li>
                                <% end %>
                                <% end %>
                                <% end %>
                                <% jhash(bannerHash) %>
                                <% end %>
                              <% end %> 
                            </ul>
                      </div>
                    </li>
                                   
                  <li>
                   <div class="productFilterTreeDiv">              
                       <ul id="locationAttrFilterTree">
                          <% if !@custom_location_attribute.blank? %>
                           <% @custom_location_attributes.each do |attr| %>
                           <li>
                            <span><%= attr['name'] %></span>
                            <ul>
                            <% values = Api::LocationServices.getCustAttrValues(attr['id']) %>
                             <% values.each do |v|%>
                              <li>
                        <input type="checkbox" class="attrcheck" id="<%= v['custom_attr_id']%>" value="<%= v['value']%>" >
                                <span><%= v['value']%></span>
                                </li>
                       <% end %>
                      </ul>
                      </li>
                     <% end %>
                    <% end %>
                      </ul>       
                   </div>
                  </li>
                </ul>
            
            </li>     
            <!-- Time -->         

          </ul> 
                 
          <!-- FILTERS -->
          <!-- <table class="filters" id="filterTable">
           <!-- filter 1 -->
           <!-- <tr class="filterRow">
             <td valign="top">
               <ul> 
                 <li> Filter </li>
                   <li>
                      <select class="filterDropdown">
                        <option value="banner">Banner</option>
                        <option value="marketingvehicle">Marketing Vehicle</option>
                        <option value="pricevehicle">Price Vehicle</option>
                        <option value="catogory">Category</option>
                        <option value="subcategory">Sub Category</option>
                        <option value="contract">Contract</option>
                        <option value="item">Item</option>
                        <option value="queue">Queue</option>
                        <option value="eventtype">Event Type</option>
                        <option value="queuereason">Queue Reason</option>
                      </select>
                    </li>
                 </ul>
             </td>
             <td>
                <ul>
                  <li> Select </li>   
                  <li>
                    <select multiple class="filterList">
                      <option value="">All Banners</option>
                      <option value="">A&P</option>
                      <option value="">Superfresh</option>
                      <option value="">Pathmark</option>
                      <option value="">The Food Emporium</option>
                    </select>
                  </li>
               </ul>  
             </td>
             <td valign="bottom">
                 <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
             </td>
           </tr> -->
           
            <!-- filter 1 -->
           <!-- <tr class="filterRow">
             <td valign="top">
               <ul> 
                 <li> Filter </li>
                   <li>
                      <select class="filterDropdown">
                        <option value="banner">Banner</option>
                        <option value="marketingvehicle">Marketing Vehicle</option>
                        <option value="pricevehicle">Price Vehicle</option>
                        <option value="catogory">Category</option>
                        <option value="subcategory">Sub Category</option>
                        <option value="contract">Contract</option>
                        <option value="item">Item</option>
                        <option value="queue">Queue</option>
                        <option value="eventtype">Event Type</option>
                        <option value="queuereason">Queue Reason</option>
                      </select>
                    </li>
                 </ul>
             </td>
             <td>
                <ul>
                  <li> Select </li>   
                  <li>
                    <select multiple class="filterList">
                      <option value="">All Banners</option>
                      <option value="">A&P</option>
                      <option value="">Superfresh</option>
                      <option value="">Pathmark</option>
                      <option value="">The Food Emporium</option>
                    </select>
                  </li>
               </ul>  
             </td>
             <td valign="bottom">
                 <button type="button" class="btn btn-default" onClick="removeFilter(this);">- Remove Filter</button>
             </td>
           </tr> -->
           
           <!-- Add filter -->
           <!-- <tr class="addFilterRow" id="addFilterBtn"> 
             <td colspan="3">
                 <button type="button" class="btn btn-default" onClick="addFilter('filterTable','addFilterBtn');">+ Add Filter</button>
             </td>
           </tr>
           
           
          
          </table> -->
                        
       </div> <!-- EO OVERLAYSCROLL  -->
       
       <!-- OVERLAY ACTIONS BAR -->
       <div class="overlayActionsBar">
          <input type="hidden" name="category_id" id = "categoryId" value = "" >
          <input type="hidden" name="location_id" id = "locationId" value = "" >
          <input type="submit" value="Apply" class="btn btn-default"/>
          <a href="javascript:;" class="popupCancelLink">Cancel</a>
       </div>         
       </form>
       
      </div> <!-- EO OverlayContent -->
     <!-- EO Gray Bg -->            
  </div>