    <!-- BO TAB CONTENT -->
    <div class="container tab-content tabContentMain">  
     <%= render :partial=> "shared/flash_msg"%>   
      <!-- BO WORKLIST TAB --> 
       <div id="worklist" class="container tab-pane active worklistTabBody">
          
         <div class="accordion" id="accordion">
         
          <!-- BO BIRDS EYE VIEW -->
           <div class="accordion-group accordianBody birdEyeView">
              <div class="accordion-heading accordianHeader">
                <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseOne" href="#">Bird's Eye View </a>                 
              </div>
              
              <div id="collapseOne" class="collapse in">
                <div class="accordion-inner">
                        
                   <!-- BO TABLE/GRAPH VIEW TABS -->
                   <ul class="nav nav-tabs grapTableTabs" role="tablist">
		             <li><a href="#graphView" data-toggle="tab">Graph</a></li>
                     <li class="active"><a href="#tableView" data-toggle="tab">Table</a></li>
                   </ul><!-- EO TABLE/GRAPH VIEW TABS -->
                   
                   <div class="tab-content">
                       <!-- BO GRAPH VIEW -->
                       <div id="graphView" class="tab-pane  graphViewTabBody">
                       graph view
                       </div><!-- EO GRAPH VIEW -->
                       
                       <!-- BO TABLE VIEW -->
                       <div id="tableView" class="tab-pane active tableViewTabBody">
                       
                       <!-- Filters -->
                       <div class="birdEyeTablefilter">
                         <ul class="list-inline">
                           <li><div id="filter1" class="filterOption"> All Products &nbsp;&nbsp;<a href="javascript:clearFilter('filter1');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li><div id="filter2" class="filterOption"> All Locations &nbsp;&nbsp;<a href="javascript:clearFilter('filter2');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li><div id="filter3" class="filterOption"> Q3-Q4 &nbsp;&nbsp;<a href="javascript:clearFilter('filter3');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li>&nbsp;&nbsp;</li>
                           <li><a href="javascript:;" class="resetAll">Reset Filters</a></li>
                         </ul>
                       </div>
                
                       
                       <table id="birdEyeViewdataTable" class="birdEyeTable tablesorter table-striped "> 
                            <thead> 
                            <tr> 
                                <th></th> 
                                <th>Cover</th> 
                                <th>Inside</th> 
                                <th>In Store</th> 
                                <th>Price Hold</th> 
                                <th>(Base)</th> 
                                <th>Total</th> 
                                <th>Budget</th>
                                <th>Percent</th>  
                            </tr> 
                            </thead> 
                            <tbody> 
                            <tr> 
                                <td>Units</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>85</td> 
                            </tr> 
                            <tr> 
                                <td>Revenue</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>110</td> 
                            </tr> 
                            <tr> 
                                <td>Margin</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>90</td> 
                            </tr> 
                            <tr> 
                                <td>Subsidy</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>95</td> 
                            </tr> 
                            <tr> 
                                <td>Spots</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>120</td> 
                            </tr> 
                            <tr class="customRow"> 
                                <td>Custom</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>99999999</td> 
                                <td>110</td> 
                            </tr>                                                         
                            </tbody> 
                            </table> 
                       
                        <div class="exportAsLink">Export as <a href="javascript:;"><%= image_tag "Excel_Icon.png" %></a></div>
                        
                       </div><!-- EO TABLE VIEW -->

                   </div>
                                                 
                </div>
              </div>
           </div><!-- EO BIRDS EYE VIEW -->
        
           <!-- BO WORKLIST VIEW -->
           <div class="accordion-group accordianBody worklistView">
              <div class="accordion-heading accordianHeader">
                <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#"><!-- Worklist - 1 to 10 of 100 --></a>                
              </div>
           
           <div id="collapseTwo" class="collapse in worklistAccordionBody">
             <div class="accordion-inner">
             
            <div class="container worklistTopSearchBar"> 
             <div class="row">
 
              <div class="worklistSearchMain col-md-10">
               <!-- <ul class="list-inline">
                 <li>
                  <div class="right-inner-addon worklistSearch">
                     <i class="glyphicon glyphicon-search"></i>
                     <input type="search" class="form-control searchBox" placeholder="Quick search any worklist data" />
                  </div>
                  </li>
                 <li>
                  <div><a href="javascript:;">Reset</a></div>
                </li>
               </ul>               -->
               </div>
               
               <div class="worklistNewContract col-md-2">
                <a href="/contract/new"><%= image_tag "New_Contract.png" %> New Contract</a>
               </div>
 			
             </div><!-- EO ROW -->            
             
             <div class="container worklistFilerHolder">
              <div class="row"  >
               <div class="col-md-10">
                <div class="birdEyeTablefilter">
                         <ul class="list-inline">
                           <li><div id="wlfilter1" class="filterOption"> All Products &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter1');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li><div id="wlfilter2" class="filterOption"> All Locations &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter2');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li><div id="wlfilter3" class="filterOption"> Q3-Q4 &nbsp;&nbsp;<a href="javascript:clearFilter('wlfilter3');"><%= image_tag "filterClose.png" %></a></div></li>
                           <li>&nbsp;&nbsp;</li>
                           <li><a href="javascript:;" class="resetAll">Reset Filters</a></li>
                         </ul>
                       </div>                
               </div>

               <div class="col-md-2 customizeTableLink">
                 <a href="javascript:;" class="worklistCustTable"> Customize Table Columns</a>
               
             </div><!-- EO ROW -->              
            </div>
             
             
               <!--  <% if @contracts.blank? %>
                  <div class="alert alert-info">No data to show</div>
                <% else %> 	         -->
             	<div id="customCols" class="row">
                 <table id="worklistTable" class="stripe r ow-border order-column worklistTableScroll tablesorter table-striped" cellspacing="0" width="100%">
                    <thead >
                        <tr class="tableHead">
                            <th><input type="checkbox"></th> 
                            <th>Status</th> 
                            <th>Contract #</th> 
                            <th>Category</th> 
                            <th>Sub Category</th> 
                            <th>Notification</th> 
                            <th>Item Description</th> 
                            <th>Category Manager</th> 
                            <th>Banner</th> 
                            <th>Link/L2</th> 
                            <th># of Weeks</th> 
                            <th>Page & Ad Size</th>
                            <th>Retail</th> 
                            <th>List Cost</th>
                            <th>Unit Funding</th>  
                            <th>Net Net Cost</th>
                            <th>Appr Retail</th>
                            <th>Appr Est Sales Units</th>   
                            <th>Appr Est Sales Dollars</th> 
                            <th>Appr Est Margin Dollars</th> 
                            <th>Sugg Retail</th> 
                            <th>Est Sales Unit</th> 
                            <th>Est Sales Dollars</th> 
                            <th>Est Margin Dollars</th> 
                            <th>CRS Sales Rank</th> 
                            <th>CRS Household Rank</th> 
                            <th>CRS Incremental Basket Rank</th> 
                        </tr>
                    </thead>
                    <tbody>
                         <% @contracts.each do |c|%>
                         <tr>
                         	<td><input type="checkbox"></td>
                         	<td> <%= contract_status_img(c['workflow_state']) %></td>
                         	<td><a href="../contract/contractsMain?contract_id=<%= c['contract_id'] %>"><%= c['contract_id'] %> </a></td>
                         	<td></td>
                         	<td></td>
                         	<td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                         <% end %>
                    </tbody>
            </table>	
             </div><!-- EO ROW -->  
              <!--<% end %>-->
             <div class="row worklistTableLegend"> 
               <ul class="list-inline">
                <li><%= image_tag "All_Attributes_Complete.png" %> All attributes complete</li>
                <li><%= image_tag "Approved.png" %> Approved</li>
                <li><%= image_tag "Rejected.png" %> Rejected</li>
                <li><%= image_tag "Optimization_In_Progress.png" %> Optimization in progress</li>
                <li><%= image_tag "Optimized.png" %> Optimized</li>
                <li><%= image_tag "Optimization_Alert.png" %> Optimization alert</li>
                <li><%= image_tag "Optimization_Error.png" %> Optimization Error</li>
                <li><%= image_tag "modify_contract_icon.png", :width=>"10px" %> Draft</li>
               </ul>
             </div> <!-- EO ROW --> 
             <div id = "hidpref" style="display:none;"></div>
             <div class="row worklistTablePaginationHolder">
               <div class="col-md-6">
                 Export as <a href="javascript:;"><%= image_tag "Excel_Icon.png" %></a>
               </div>
               
              <!-- *************commented for test *********************
               <div class="col-md-6 worklistPagination">
                <ul class="list-inline">
                  <li><a href="javascript:;"> < </a></li>
                  <li><a href="javascript:;"> << </a></li>
                  <li>1</li>
                  <li><a href="javascript:;"> 2 </a></li>
                  <li><a href="javascript:;"> 3 </a></li>
                  <li><a href="javascript:;"> 4 </a></li>
                  <li><a href="javascript:;"> 5 </a></li>
                  <li>...</li>
                  <li><a href="javascript:;"> 10 </a></li>
                  <li><a href="javascript:;"> > </a></li>
                  <li><a href="javascript:;"> >> </a></li>
                  <li>Go to page# <input type="text" class="smallTextFld"></li>
                  <li><a href="javascript:;"><%= image_tag "Go_To_Page.png" %></a></li>
                </ul>
               </div> -->
             
             </div><!-- EO ROW -->
             
            </div>
               
             </div>
           </div>            
         </div> <!-- EO WORKLIST VIEW -->
      </div>
                    
       </div><!-- EO WORKLIST TAB -->
      
       </div>        
    </div><!-- EO TAB CONTENT -->    

  <!--! BO CUSTOMIZE TABLE COLUMNS OVERLAY -->

  <!--! EO BO CUSTOMIZE TABLE COLUMNS OVERLAY -->
  <!-- BO RESET FILTERS OVERLAY -->  
   <%= render :partial => "worklist_filter" %>
  <!-- EO RESET FILTERS OVERLAY -->
    
    

    <script>
	
	$(document).ready(function() 
    {
		
		/* Common for all Modals */				
			$( " #worklistResetFilterDialog, #worklistCustomizeTable" ).dialog({
						autoOpen: false,
						width: "auto",
						height: "auto"
			});
			
			
			
			$(".resetAll").click(function(e) {
    
				$( "#worklistResetFilterDialog" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				
				$( "#worklistResetFilterDialog" ).dialog( "open")
				var offset = $(".resetAll").offset()
							  
			  	$( "#worklistResetFilterDialog" ).parent().css("top", offset.top-30+"px")
				

			  });	
			  
			  
			   $(".worklistCustTable").click(function(e) {
    
				$( "#worklistCustomizeTable" ).dialog("option", "position", {
					my: "left",
					at: "left",
					of: e,
					offset: "5 70"
				  });
				
				$( "#worklistCustomizeTable" ).dialog( "open").width("600px")
				var offset = $(this).offset()
							  
			  	$( "#worklistCustomizeTable").parent().css("left", offset.left-500+"px")
				

			  });
			  
	
	});
	
	$(document).ready(function() 
    { 

   $('#filterdate').daterangepicker(null, function(start, end, label) {
      console.log(start.toISOString(), end.toISOString(), label);
    });

        $("#birdEyeViewdataTable").tablesorter({sortList: [[7,1]]}); 
	
		
		$('#productFilterTree').sapling();
		$('#locationFilterTree').sapling();
		$('#productAttrFilterTree').sapling();
		$('#locationAttrFilterTree').sapling();
		
		
		$('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
		
		/* scrollbars */
		$('#overlayBody').enscroll({
			showOnHover: true,
			verticalTrackClass: 'track3',
			verticalHandleClass: 'handle3'
		});
		
    }); 
    
	$(document).ready(function() {
		var table = $('#worklistTable').DataTable( {
			sDom: "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col col-sm-6'p>>",
      "aoColumnDefs": [
      { "bSortable": false, "aTargets": [ 0 ] }],    
      scrollY:        "300px",
			scrollX:        true,
			scrollCollapse: true,
			paging:         true,
			searching: true,
      bProcessing: true,
			info:true		
		} );
		
	$("#worklistTable_filter input").addClass("form-control");
  $("#worklistTable_filter input").css({'width':'150px', 'display':'inline'});

  	new $.fn.dataTable.FixedColumns( table, {
			leftColumns: 6
		} );
	} );

	function clearFilter(filterOpt)
	{
	  document.getElementById(filterOpt).style.display="none";
	}

  function closepopup()
   {
      if(false == my_window.closed)
      {
         my_window.close ();
      }
   }
	</script>
    
