<%= form_for(@price_rule) do |f| %>
  <% if @price_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price_rule.errors.count, "error") %> prohibited this price_rule from being saved:</h2>

      <ul>
      <% @price_rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :marketing_vehicle_id %><br>
    <%= f.number_field :marketing_vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :banner_id %><br>
    <%= f.number_field :banner_id %>
  </div>
  <div class="field">
    <%= f.label :min_margin %><br>
    <%= f.number_field :min_margin %>
  </div>
  <div class="field">
    <%= f.label :max_margin %><br>
    <%= f.number_field :max_margin %>
  </div>
  <div class="field">
    <%= f.label :max_passthrough %><br>
    <%= f.number_field :max_passthrough %>
  </div>
  <div class="field">
    <%= f.label :optimization_goal %><br>
    <%= f.text_field :optimization_goal %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :min_passthrough %><br>
    <%= f.number_field :min_passthrough %>
  </div>
  <div class="field">
    <%= f.label :min_price_change %><br>
    <%= f.number_field :min_price_change %>
  </div>
  <div class="field">
    <%= f.label :max_price_change %><br>
    <%= f.number_field :max_price_change %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
