<!DOCTYPE html>
<html>
	<head>
		<meta charset=â€utf-8â€>
		<title>Pricing Promotion | Pricing Guidelines </title>

		<link href="../assets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="../assets/styledoc.css" rel="stylesheet" type="text/css">
		<link href="../assets/tree.css" rel="stylesheet" type="text/css">
		<link href="../assets/tablesorterStyle.css" rel="stylesheet" type="text/css">
		<link href="../assets/tree.css" rel="stylesheet" type="text/css">
		<link href="../assets/jquery.dataTables.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<!--! BO SET VALUES OVERLAY -->
		<div id="setValuesOverlay" class="overlayWindow">
			<div class="closeIcoDiv">
				<a href="javascript:;" onClick="handleOverlay('setValuesOverlay','hide');"><img src="../assets/closePopup.png"></a>
			</div>
			<div class="overlayWindowGrayBg">
				<div class="overlayContent setValuesOverlayBody">

					<div class="overlayHeader">
						Set Values
					</div>

					<div class="setValuesTableDiv">
						<table class="setValuesTable">
							<thead>
								<tr>
									<th> $ </th>
									<th> Cents </th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label>
										<input type="checkbox">
										0 </label><label>
										<input type="checkbox">
										0 </label></td>
									<td><label>
										<input type="checkbox">
										.0 </label><label>
										<input type="checkbox">
										.0 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										1 </label><label>
										<input type="checkbox">
										1 </label></td>
									<td><label>
										<input type="checkbox">
										.1 </label><label>
										<input type="checkbox">
										.1 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										2 </label><label>
										<input type="checkbox">
										2 </label></td>
									<td><label>
										<input type="checkbox">
										.2 </label><label>
										<input type="checkbox">
										.2 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										3 </label><label>
										<input type="checkbox">
										3 </label></td>
									<td><label>
										<input type="checkbox">
										.3 </label><label>
										<input type="checkbox">
										.3 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										4 </label><label>
										<input type="checkbox">
										4 </label></td>
									<td><label>
										<input type="checkbox">
										.4 </label><label>
										<input type="checkbox">
										.4 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										5 </label><label>
										<input type="checkbox">
										5 </label></td>
									<td><label>
										<input type="checkbox">
										.5 </label><label>
										<input type="checkbox">
										.5 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										6 </label><label>
										<input type="checkbox">
										6 </label></td>
									<td><label>
										<input type="checkbox">
										.7 </label><label>
										<input type="checkbox">
										.7 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										8 </label><label>
										<input type="checkbox">
										8 </label></td>
									<td><label>
										<input type="checkbox">
										.8 </label><label>
										<input type="checkbox">
										.8 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										9 </label><label>
										<input type="checkbox">
										9 </label></td>
									<td><label>
										<input type="checkbox">
										.9 </label><label>
										<input type="checkbox">
										.9 </label></td>
								</tr>

								<tr>
									<td><label>
										<input type="checkbox">
										10 </label><label>
										<input type="checkbox">
										10 </label></td>
									<td><label>
										<input type="checkbox">
										.10 </label><label>
										<input type="checkbox">
										.10 </label></td>
								</tr>

							</tbody>
						</table>

						<table class="yourSelctionTable">
							<tr>
								<td>Your Selections</td>
							</tr>
							<tr>
								<td>								<textarea></textarea></td>
							</tr>
						</table>

					</div>

					<div class="overlayActions">
						<button type="button" class="btn btn-default" onClick="handleOverlay('setValuesOverlay','hide');">
							Save
						</button>
						<a href="javascript:;" class="popupCancelLink" onClick="handleOverlay('setValuesOverlay','hide');">Cancel</a>
					</div>

				</div>
			</div>
		</div><!--! EO SET VALUES OVERLAY -->

		<!-- BO HEADER -->
		<div class="container appHeader">
			<div class="userInfo">
				Welcome Leo <a href="javascript:;">[Logout]</a>
			</div>
			<div class="topNavigation">
				<ul class="list-inline">
					<li><img src="../assets/pricingGuidelineBlackIco.png"> Pricing Guidelines
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/adMngmentRedIco.png" border="0"> Ad Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/productMngmntRedICo.png" border="0"> Product Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/locationMngmntRedIco.png" border="0"> Location Group Management</a>
					</li>
					<li>
						<a href="javascript:;"><img src="../assets/eventMngmntRedIco.png" border="0"> Event Management</a>
					</li>
				</ul>
			</div>
		</div><!-- EO HEADER -->

		<!-- BO TOP NAVIGATION TABS -->
		<div class="topTabsBg">
			<div class="container topTabsHolder">
				<ul class="nav nav-tabs topTabs" role="tablist">
					<li>
						<a href="../index.html" data-toggle="tab">Worklist</a>
					</li>
					<li>
						<a href="modifyContract.html" data-toggle="tab">1101207</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- EO TOP NAVIGATION TABS -->

		<!-- PAGE HEADER -->
		<div class="container pricingGuidelinePageHeader">
			<ul class="list-inline">
				<li><img src="../assets/pricingGridIcoBig.png">
				</li>
				<li>
					Pricing Guidelines
				</li>
			</ul>
		</div>

		<!-- Price Rules Price Grid Tabs -->
		<div class="pricingGuidelineTabsDiv subTabs tabbable mainContentTabs">
			<ul class="nav nav-pills">
				<li >
					<a href="#priceRules" data-toggle="tab">Price Rules</a>
				</li>
				<li class="active">
					<a href="/AdInWebApp/app/views/price_grids/index.html" data-toggle="tab">Price Grid</a>
				</li>
			</ul>
			<!--<ul class="nav nav-tabs pricingGuidelineTabs" role="tablist">
			<li><a href="#priceRules" data-toggle="tab">Price Rules</a></li>
			<li class="active"><a href="#priceGrid" data-toggle="tab">Price Grids</a></li>
			</ul> -->
		</div>

		<div class="tab-content pricingGuidelineTabContent">
			<!-- BO PRICE RULES  -->
			<div id="priceRules" class="tab-pane  priceGridTabBody">

				<div class="row">
					<!-- Left Accordion -->
					<div class="col-md-4">

						<div class="panel-group" id="priceRuleaccordion">
							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#priceRuleaccordion" href="#priceRulecollapseOne"> Product Heirarchy & Attributes </a></h4>
								</div>
								<div id="priceRulecollapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="productHeirarchyTree">
												<li>
													Category 1
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 2
													<ul>
														<li  class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 3
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li >
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="productAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#priceRuleaccordion" href="#priceRulecollapseTwo"> Location Heirarchy & Attributes </a></h4>
								</div>
								<div id="priceRulecollapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="locationHeirarchyTree">
												<li>
													Category 1
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 2
													<ul>
														<li  class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 3
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li >
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="locationAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- EO COL -->

					<!-- Right page content-->
					<div class="col-md-8 rightPageContent">

						<div class="rightSidePageTitle">
							Set Price Rules
						</div>

						<ul class="categoryTab">
							<li>
								Category - 1 <span class="icon"></span>
							</li>
							<li>
								Sub Category - 1<span class="icon"></span>
							</li>
							<li>
								Sub Sub Category - 1<span class="icon"></span>
							</li>
						</ul>
						<%= form_tag '/price_rules/create_multiple' do %>
						<div class="priceRuleTableContainer" id="priceRuleTableContainer">
							<table id="priceRuleTable" class="tablesorter table-striped priceRuleTble">
								<thead>
									<tr class="tableHeadingTH">
										<th>Marketing vehicle</th>
										<th>Min Margin %</th>
										<th>Max Margin %</th>
										<th>Min Price Change</th>
										<th>Max Price Change</th>
										<th>Min Passthrough</th>
										<th>Max Passthrough</th>
										<th>Optimization Goal</th>
										<th></th>

									</tr>
								</thead>
								<tbody>

									<% @price_rules.each do |price_rule| %>
									<tr>
										<div class="field">
											<td><%= price_rule.marketing_vehicle_id %></td>
											<td> <%= text_field_tag "price_rule[][min_margin]", value=price_rule.min_margin %> </td>
											<td> <%= text_field_tag "price_rule[][max_margin]",  value=price_rule.max_margin%> </td>
											<td> <%= text_field_tag "price_rule[][min_price_change]", value=price_rule.min_price_change %> </td>
											<td> <%= text_field_tag "price_rule[][max_price_change]", value=price_rule.max_price_change%> </td>
											<td> <%= text_field_tag "price_rule[][min_passthrough]", value=price_rule.min_passthrough %> </td>
											<td> <%= text_field_tag "price_rule[][max_passthrough]", value=price_rule.max_passthrough%> </td>
											<td><%= price_rule.optimization_goal %></td>
										</div>
										<td> <%= link_to 'Remove', price_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
									</tr>
									<% end %>
									<tr >
										<td><%= select_tag( "price_rule[][marketing_vehicle_id]", options_for_select([['FP', 1], ['FP/BP', 2], ['IP1', 3], ['IP2', 4]])) %></td>
										<td> <%= text_field_tag "price_rule[][min_margin]" %> </td>
										<td> <%= text_field_tag "price_rule[][max_margin]" %> </td>
										<td> <%= text_field_tag "price_rule[][min_price_change]" %> </td>
										<td> <%= text_field_tag "price_rule[][max_price_change]" %> </td>
										<td> <%= text_field_tag "price_rule[][min_passthrough]" %> </td>
										<td> <%= text_field_tag "price_rule[][max_passthrough]" %> </td>
										<td><%= select_tag( "price_rule[][optimization_goal]", options_for_select([['Maximize Revenue', 'Maximize Revenue'], ['Multi-objective', 'Multi-objective'], ['Maximinze Margin', 'Maximinze Margin'], ['Maximize Sellthrough', 'Maximize Sellthrough']])) %></td>

										<td><a href="javascript:;" onClick="removeFilter(this);">Remove</a></td>
									</tr>

									<tr id="priceRuleBtn">
										<td colspan="9"><a href="javascript:;" onClick="addFilter('priceRuleTable','priceRuleBtn');" class="priceRuleTableAddBtn"> Add </a></td>
									</tr>

								</tbody>
							</table>

							<!--     <table >
							<tr>
							<td colspan="10"><a href="javascript:;" onClick="addFilter('priceRuleTable','priceRuleBtn');" class="priceRuleTableAddBtn"> Add </a></td>
							</tr>
							</table>-->

						</div>

						<div class="priceGridActionBar">
							<button type="button" class="btn btn-default">

								<%= submit_tag "Save" %>
							</button>
						</div>

					</div>
					<!-- EO COL -->
					<% end %>
				</div>
				<!-- EO Row -->

			</div><!-- EO PRICE RULES -->

			<!-- BO PRICE GRID -->
			<div id="priceGrid" class="tab-pane active priceGridTabBody">

				<div class="row">

					<!-- Left Accordion -->
					<div class="col-md-4">

						<div class="panel-group" id="accordion">
							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Product Heirarchy & Attributes </a></h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="priceHeirarchyTree">
												<li>
													Category 1
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 2
													<ul>
														<li  class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 3
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li >
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="priceAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default priceGuidelinePanel">
								<div class="priceGuidelinePanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Location Heirarchy & Attributes </a></h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="right-inner-addon">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search"
											class="form-control"
											placeholder="Quick search hierarchy & attributes" />
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="locationHeirarchyTree">
												<li>
													Category 1
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 2
													<ul>
														<li  class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li>
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>

												<li>
													Category 3
													<ul>
														<li class="treeLastChild">
															Sub Category 1
														</li>
														<li class="treeLastChild">
															Sub Category 2
														</li>
														<li >
															Sub Category 3
															<ul>
																<li class="treeLastChild">
																	Sub Sub Category 1
																</li>
																<li class="treeLastChild">
																	Sub Sub Category 2
																</li>
															</ul>
														</li>
													</ul>
												</li>
											</ul>
										</div>

										<div class="productAttrTreeDiv">
											<span class="hierarchyHeading">Attributes</span>
											<ul id="locationAttrTree">
												<li>
													Attribute 1
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
												<li>
													Attribute 2
													<ul>
														<li>
															<input type="checkbox">
															A1
														</li>
														<li>
															<input type="checkbox">
															A2
														</li>
														<li>
															<input type="checkbox">
															A3
														</li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- EO COL -->

					<!-- Right page content-->
					<div class="col-md-8 rightPageContent">

						<div class="rightSidePageTitle">
							Set Price Grid
						</div>

						<ul class="categoryTab">
							<li>
								Category - 1 <span class="icon"></span>
							</li>
							<li>
								Sub Category - 1<span class="icon"></span>
							</li>
							<li>
								Sub Sub Category - 1<span class="icon"></span>
							</li>
						</ul>

						<div class="panel-group clear" id="accordion2">
							<div class="panel panel-default pricingGridPanels">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse"  href="#rightcollapseOne"> Percent Off </a></h4>
								</div>
								<div id="rightcollapseOne" class="panel-collapse collapse in">
									<div class="panel-body">

										<table class="percentOffTable" id="percentOffTbl">
											<tr>
												<td>
												<input type="text" class="percentOffTxtBox">
												</td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="addPercentOffBtn">
												<td><a href="javascript:;" onClick="addFilter('percentOffTbl','addPercentOffBtn');" > Add </a></td>
											</tr>
										</table>

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse"  href="#rightcollapseTwo"> Flat Price </a></h4>
								</div>
								<div id="rightcollapseTwo" class="panel-collapse collapse">
									<div class="panel-body">

										<table class="flatPriceTable table-striped" id="flatPriceTbl">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
													<input type="text">
													</td>
													<td>
													<input type="text">
													</td>
													<td><a href="javascript:;" onClick="handleOverlay('setValuesOverlay','show');">Set Values</a></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<tr id="addFlatPriceBtn">
													<td colspan="4"><a href="javascript:;" onClick="addFilter('flatPriceTbl','addFlatPriceBtn');"> Add </a></td>
												</tr>
											</tbody>

										</table>

									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse"  href="#rightcollapseThree"> Multiple Price </a></h4>
								</div>
								<div id="rightcollapseThree" class="panel-collapse collapse">
									<div class="panel-body">

										Buy Quantity

										<table class="buyQuantityTable" id="buyQuantityTbl">

											<tr>
												<td>
												<input type="text" class="percentOffTxtBox">
												</td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="buyQuantityBtn">
												<td><a href="javascript:;" onClick="addFilter('buyQuantityTbl','buyQuantityBtn');" > Add </a></td>
											</tr>
										</table>

										<table class="flatPriceTable table-striped" id="MultiplePriceTbl">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
													<input type="text">
													</td>
													<td>
													<input type="text">
													</td>
													<td><a href="javascript:;">Set Values</a></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<tr id="addMultiplePriceBtn">
													<td colspan="4"><a href="javascript:;" onClick="addFilter('MultiplePriceTbl','addMultiplePriceBtn');"> Add </a></td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title"><a data-toggle="collapse"  href="#rightcollapseFour"> Amount Off </a></h4>
								</div>
								<div id="rightcollapseFour" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="flatPriceTable table-striped" id="amountOffTbl">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
													<input type="text">
													</td>
													<td>
													<input type="text">
													</td>
													<td><a href="javascript:;">Set Values</a></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<tr id="amountOffBtn">
													<td colspan="4"><a href="javascript:;" onClick="addFilter('amountOffTbl','amountOffBtn');"> Add </a></td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>

						</div>

						<div class="priceGridActionBar">
							<button type="button" class="btn btn-default">
								Override Forecast
							</button>
						</div>

					</div>
					<!-- EO COL -->

				</div>
				<!-- EO Row -->

			</div>
			<!-- EO PRICE GRID  -->

		</div>
		<!-- EO tab content -->

		<!-- BO FOOTER -->
		<div class="footerMain">
			<div class="container footerInside">

				<div class="row">
					<div class="col-md-10">
						&copy; 2014 Prognos Inc. All Rights Reserved.
					</div>
					<div class="col-md-2 footerRight">
						www.prognosinc.com
					</div>
				</div>

			</div>
		</div><!-- EO FOOTER -->

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="../assets/bootstrap.js"></script>
		<script src="../assets/functions.js"></script>
		<script src="../assets/jquery.sapling.js"></script>
		<script src="../assets/jquery.tablesorter.js"></script>
		<script src="../assets/jquery.dataTables.js"></script>
		<script src="../assets/enscroll-0.6.1.min.js"></script>

		<script>
			$(document).ready(function() {

				$("#priceRuleTable").tablesorter({
					sortList : [[7, 1]]
				});

				$('#productHeirarchyTree').sapling();
				$('#productAttrTree').sapling();
				$('#priceHeirarchyTree').sapling();
				$('#priceAttrTree').sapling();
				$('#locationHeirarchyTree').sapling();
				$('#locationAttrTree').sapling();

				$('.treeLastChild').click(function() {
					$('.treeLastChild').removeClass('selectedFilter');
					$(this).addClass('selectedFilter');
				});

				/* accordion state change */
				$('#accordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion');

				$('#accordion').on('show.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				}).on('hide.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				});

				/* accordion state change */
				$('#priceRuleaccordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion');

				$('#priceRuleaccordion').on('show.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				}).on('hide.bs.collapse', function(e) {
					$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
					$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
				});

			});

		</script>
	</body>
</html>