<%= form_for @user do |f| %>
<%= render 'shared/form_error', :object => @user %>	  
	<div class="row">
	
		<div class="col-md-3">
		 <div class="form-group">
		   <label>User Name</label>
		   <% if @user.new_record? %>
    	     <%= f.text_field :username, :class=>"form-control"%>
    	   <% else %>
    	     <%= @user.username %>
    	     <%= hidden_field_tag "user[username]", @user.username %>
    	    <% end %> 
		 </div>
		 <div class="form-group">
		   <!--<label>User ID</label>
		   <input type="text" class="form-control" placeholder="">-->
		   <label>Email ID</label>
		    <% if @user.new_record? %>
    	      <%= f.text_field :email, :class=>"form-control" %>
    	    <% else %>
    	      <%= @user.email %>
    	      <%= hidden_field_tag "user[email]", @user.email %>
    	    <% end %> 
		 </div>
		 
		</div>
	
		<% if @user.new_record? %>
    	<div class="col-md-3">
	       <div class="form-group">
		    <label>Password</label>
		    <%= f.password_field :password, :class=>"form-control"%>
		   </div>
		   <div class="form-group">
		     <label>Password Confirmation</label>
		     <%= f.password_field :password_confirmation, :class=>"form-control"%>
		   </div>
		</div>
        <% end %>
    
		<div class="col-md-3">
	      <div class="form-group" style="visibility:hidden;">
	        <label>Role</label>
	      <%= select_tag('user[role]', options_for_select([['Admin', 1], ['Category Manager', 2]], selected: :role),:prompt=>"Select Role", :class=>"form-control") %>
	     </div>
	     <div class="form-group">
	        <label>Reporting Supervisor</label>
		<%= collection_select(:user, :parent_id, User.all, :id, :first_name, {},:prompt=>true, :include_blank=> true, :class=>"form-control") %>
	     </div>
		</div>
	</div>
	<!-- row 1 -->
	
	<div class="sectionBdr">
	<div class="row"> 

	<h2 class="heading">Select Product Hierarchy</h2>
	<div  class="col-md-3">
	<div class="right-inner-addon">
	 <i class="glyphicon glyphicon-search"></i>
	  <input type="search" class="form-control" placeholder="Quick search hierarchy & attributes" />
	  <div class="reset"><a href="#" class="reset">Reset</a></div>
	</div>

	<!-- SO tree -->
	<div class="productHeirarchyTreeDiv">
	  <span class="hierarchyHeading">Hierarchy</span>
	  <ul id="productHeirarchyTree">
		<% @allCategoriesHierarchy.each do |categoryHash| %>
		<% def ihash(h) %>
		<% h.each do |k,v| %>
		<%  if v.is_a?(Hash) %>
		<li>
		  <span onclick="setcategoryId(<%= k[0] .to_i %>)"><%= k[1] %></span>
		  <ul>
			<li>
			  <% ihash(v) %>
			</li>
		   </ul>
		</li>
		<%   else %>
		<li class="treeLastChild">
		  <span onclick="setcategoryId(<%= k[0] .to_i %>)"><%= k[1] %></span>
		</li>
		<% end %>
		<% end %>
		<% end %>
		<% ihash(categoryHash) %>
		<% end %>
	  </ul>
	</div>
	</div>
	<!-- EO tree -->

    <div class="col-md-1 pad0">
       <!-- <input type="hidden" name="category_id" id = "categoryId" value = "" > -->
       <button type="button" class="btn btn-default" id="categoryId" value= "" > Add ></button>
	   <button type="button" class="btn btn-default marginTop10">< Remove</button>
	</div>
	<div class="col-md-8">
	<table class="table-bordered categoryTable tablesorter table-striped margin0">
	 <thead>
	   <tr>
		<th><input type="checkbox" id="selectAll1"></th>
		<th>Product Hierarchy</th>
		<th>Access</th>
	   </tr>
	 </thead>
	 <tbody id="productHierselected">
	  <% unless @user.new_record? %>
	  	 <% @user_categories.each do |user_category|%>
	      <tr>
	       <td><input type="checkbox" name="selectedCateHierArray[]" class="checkbox1" id="<%= user_category.categories_hier_id%>" value="<%= user_category.categories_hier_id%>" checked="true" ></td>
	        <td><%= Api::UserServices.getUserCategoryName(user_category.categories_hier_id)%></td>
	       <td>
	         <div class="form-group"> 
	          <label class="radio-inline">
	           <input type="radio" name="locRadio" value="option1"> Read Only
	          </label>
			  <label class="radio-inline">
				<input type="radio" name="locRadio" id="inlineRadio2" value="option2"> Full Access
			  </label>
	         </div>
	       </td>
	       </tr> 
	  	  <% end %>
	  	<% end %>
	</tbody>
    </table>
    </div>

	</div>	<!-- section bdr ends -->
	<div class="clear"></div>
	</div><!-- row2 -->

	<div class="sectionBdr">
	<div class="row"> 
	<h2 class="heading">Select Location Hierarchy</h2>
	<div  class="col-md-3">
	  <div class="right-inner-addon">
		<i class="glyphicon glyphicon-search"></i>
		<input type="search" class="form-control" placeholder="Quick search hierarchy & attributes" />
		<div class="reset"><a href="#" class="reset">Reset</a></div>
	  </div>
	 <!-- SO tree -->
	  <div class="productHeirarchyTreeDiv">
	  <span class="hierarchyHeading">Hierarchy</span>
	  <ul id="locationHeirarchyTree">
	  <% if !@allBannersHierarchy.blank? %>
	    <% @allBannersHierarchy.each do |bannerHash| %>

	    <% def jhash(h) %>
	    <% h.each do |k,v| %>
	    <%  if v.is_a?(Hash) %>
	     <li>
	     <span onclick="setlocationId(<%= k[0] .to_i %>)"><%= k[1] %></span>
	      <ul>
	        <li >
	          <% jhash(v) %>
	        </li>
	      </ul>
	    </li>
	    <%   else %>
	    <li class="treeLastChild">
	      <span onclick="setlocationId(<%= k[0] .to_i %>)"><%= k[1] %></span>
	    </li>
	    <% end %>
	    <% end %>
	    <% end %>
	    <% jhash(bannerHash) %>
	    <% end %>
	  <% end %> 
	  </ul>
	</div>
	</div>
	<!-- EO tree -->
	<div class="col-md-1 pad0">
	  <!-- <input type="hidden" name="location_id" id = "locationId" value = "" > -->
	  <button type="button" class="btn btn-default" id="locationId" value= "" > Add ></button>
	  <button type="button" class="btn btn-default marginTop10">< Remove</button>
	</div>


	<div  class="col-md-8">
	<table class=" table-bordered categoryTable tablesorter table-striped margin0">
	  <thead>
         <tr>
           <th><input type="checkbox" id="selectAll2"></th>
	       <th>Location Hierarchy</th>
           <th>Access</th>
         </tr>
	  </thead>
	  <tbody id ="locationHierselected">
	  	<% unless @user.new_record? %>
	  	 <% @user_locations.each do |user_location|%>
	      <tr>
	       <td><input type="checkbox" name="selectedLocHierArray[]" class="checkbox2" id="<%= user_location.location_hier_id%>" value="<%= user_location.location_hier_id%>" checked="true" ></td>
	        <td><%= Api::UserServices.getUserLocationName(user_location.location_hier_id)%></td>
	       <td>
	         <div class="form-group"> 
	          <label class="radio-inline">
	           <input type="radio" name="locRadio" value="option1"> Read Only
	          </label>
			  <label class="radio-inline">
				<input type="radio" name="locRadio" id="inlineRadio2" value="option2"> Full Access
			  </label>
	         </div>
	       </td>
	       </tr> 
	  	  <% end %>
	  	<% end %>
	  </tbody>
	</table>
	</div>
	</div>	
	<!-- section bdr ends -->
	<div class="clear"></div>
	</div>
	<!-- row3 -->
	<div id ="hiddenDiv" style="display:none;"></div>

	<div class="row">
	 <div class="col-lg-12 ">  
	   <%= f.submit "#{@user.new_record? ? "Create" : "Update"} User", :class=>"btn btn-default" %> 
       <%= link_to 'Cancel', users_path, :class => "btn btn-link" %>
	 </div>
	</div>

	<% end %>