<div class="container tab-content tabContentMain"> 
	<div id="adMgmt" class="container tab-pane active worklistTabBody">
	  <div class="page-header">
		<h1><span class="glyphicon glyphicon-user"></span> User Management</h1>
	  </div>
	  <div id="breadcrumbSection">
	    <ul class="breadcrumb">
	     <li><a href="/users">User Management</a></li>
	     <li class="active">Edit User</li>
	    </ul>
	  </div>
	 <div class="row">   
	   <div class="col-md-10  marginTop10">Edit User</div>
	 </div>
     <div class="subTabContent contentSpace">
		<%= render :partial=>"form" %>
     </div>
	</div>

</div>
<script>

$(document).ready(function() 
{ 
$('#productHeirarchyTree').sapling();
$('#locationHeirarchyTree').sapling();

$('.treeLastChild,.sapling-item').click(function() {
$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
$(this).addClass('selectedFilter');

var topCat = $(".sapling-item");

if(!$(this).hasClass("sapling-expanded")){
topCat.removeClass("selectedFilter") 
}
});


$('#selectAll').click(function(event) {  //on click 
if(this.checked) { // check select status
$('.checkbox1').each(function() { //loop through each checkbox
this.checked = true;  //select all checkboxes with class "checkbox1"               
});
}else{
$('.checkbox1').each(function() { //loop through each checkbox
this.checked = false; //deselect all checkboxes with class "checkbox1"                       
});         
}
});

}); 
</script>
