<div class="container tab-content tabContentMain"> 
  <div id="adMgmt" class="container tab-pane active worklistTabBody">
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-user"></span> User Management</h1>
    </div>
    <%= render :partial=>"shared/flash_msg"%>
  <div class="row">   
    <div class="col-md-10  marginTop10">
     Existing Users (<%= @users.count %>)
    </div>
    <div class="col-md-2 alignRight padBtm10">
      <button type="submit" class="btn btn-default" onClick="window.location='/users/new';">+ New User</button>
    </div>
  </div>

  <div id="tableView">
  <table id="userMgmtTable" class="stripe r ow-border order-column worklistTableScroll tablesorter table-striped" cellspacing="0" width="100%">
    <thead>
      <tr class="tableHead">
        <!--<th><input type="checkbox" id="selectAll"></th>-->
        <th>Login Name (Email ID)</th> 
        <th>User Name</th> 
        <th>Reporting Supervisor</th> 
        <th>Status</th> 
        <th>Last Login</th> 
        <th>Last Password Change</th> 
        <th>Action</th> 
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <!--<td><input type="checkbox" class="checkbox1"></td>-->
        <td><%= user['email']%></td> 
        <td><%= user['username']%></td> 
        <td><%= User.find_by_id(user['parent_id']).username unless user['parent_id'].blank? %></td> 
        <td><%= user['status'] %></td> 
        <td><%= user['last_login_time'].to_date unless user['last_login_time'].blank? %></td> 
        <td><%= user['last_password_change_time'].to_date unless user['last_password_change_time'].blank?%></td> 
        <td class="text-nowrap">
          <%= link_to "Edit", "/users/modify?id=#{user['id']}"%> l <%= link_to "Delete", "/users/destroy?id=#{user['id']}", data:{confirm: 'Are you sure?'} %>
          <!--<%= link_to 'Delete', "/users/#{user['id']}", :method => "delete", data: { confirm: 'Are you sure?' } %>-->
        </td> 
      </tr>
      <% end %>
   </tbody>
  </table>
  <!-- <div class="row worklistTablePaginationHolder">

  <div class="col-md-6">
  Export as <a href="javascript:;"><img src="../images/Excel_Icon.png" border="0"></a>
  </div>

  <div class="col-md-6 worklistPagination">
  <ul class="list-inline">
  <li><a href="javascript:;"> < </a></li>
  <li><a href="javascript:;"> << </a></li>
  <li>1</li>
  <li><a href="javascript:;"> 2 </a></li>
  <li><a href="javascript:;"> 3 </a></li>
  <li><a href="javascript:;"> 4 </a></li>
  <li><a href="javascript:;"> 5 </a></li>
  <li>...</li>
  <li><a href="javascript:;"> 10 </a></li>
  <li><a href="javascript:;"> > </a></li>
  <li><a href="javascript:;"> >> </a></li>
  <li>Go to page# <input type="text" class="smallTextFld"></li>
  <li><a href="javascript:;"><img src="../images/Go_To_Page.png" border="0"></a></li>
  </ul>
  </div>

  </div>              -->
   </div>

  </div>

</div>

<script>
  $(document).ready(function(){ 
        var table = $('#userMgmtTable').DataTable( {
      scrollY:        false,
      scrollX:        false,
      scrollCollapse: true,
      paging:         true,
      searching: true,
      info:true    
    } );
    
  $("#userMgmtTable_filter input").addClass("form-control");
  $("#userMgmtTable_filter input").css({'width':'150px', 'display':'inline'});

    $('#selectAll').click(function(event) {  //on click 
      if(this.checked) { // check select status
        $('.checkbox1').each(function() { //loop through each checkbox
          this.checked = true;  //select all checkboxes with class "checkbox1"               
        });
      }else{
        $('.checkbox1').each(function() { //loop through each checkbox
          this.checked = false; //deselect all checkboxes with class "checkbox1"                       
        });         
      }
      
    });
    
    }); 
   
    

  </script>
    