<!-- BO HEADER -->
 <div class="container appHeader">
   <div class="userInfo"> Welcome <%= current_user.username %> <a href="/login/logout">[Logout]</a></div>
   <div class="topNavigation">
   <ul class="list-inline">
     <li><a href="/pricing_guidelines"><%= image_tag "pricingGuidelineRedIco.png" %> Pricing Guidelines</a></li>
     <li><a href="/ad_management"><%= image_tag "adMngmentRedIco.png" %> Ad Management</a></li>
     <li><a href="/product_groups"><%= image_tag "productMngmntRedICo.png" %> Product Management</a></li>
     <li><a href="/location_groups"><%= image_tag "locationMngmntRedIco.png" %> Location Group Management</a></li>
     <li><a href="/event_managements"><%= image_tag "eventMngmntRedIco.png" %> Event Management</a></li>
     <li><a href="/users"><%= image_tag "userMgmtRedIco.png" %> User Management</a></li>
   </ul>
   </div>
 </div>
 
 <!-- EO HEADER -->
 
 
 <!-- BO TOP NAVIGATION TABS -->
 <div class="topTabsBg"> 
  <div class="container topTabsHolder">
   <ul class="nav nav-tabs topTabs" role="tablist">
    <li class="<%= tab_selection 'worklist'%>"><a href="/worklist/index">Worklist</a></li>
    <li class="<%= tab_selection 'contract'%>"><a href="<%= "#" %>"><%= @current_contract.contract_id %></a></li>
   </ul>
  </div>
</div> 
<!-- EO TOP NAVIGATION TABS -->
