<div class="footerMain">
  <div class="container footerInside">
     <div class="row">
       <div class="col-md-10"> &copy; 2014 Prognos Inc. All Rights Reserved.</div>
       <div class="col-md-2 footerRight">www.prognosinc.com</div>
     </div>
  </div>     
</div>
