 <div class="productHeirarchyTreeDiv">
  <span class="hierarchyHeading">Hierarchy</span>
  <ul id="locationHeirarchyTree">
  <% if !@allBannersHierarchy.blank? %>
    <% @allBannersHierarchy.each do |bannerHash| %>

    <% def jhash(h) %>
    <% h.each do |k,v| %>
    <%  if v.is_a?(Hash) %>
     <li>
     <span onClick="fetchBanners(<%= k[0].to_i %>)">
      <%= k[1] %></span>
      <ul>
        <li >
          <% jhash(v) %>
        </li>
      </ul>
    </li>
    <%   else %>
    <li class="treeLastChild">
    <span onClick="fetchBanners(<%= k[0].to_i %>)">
      <%= k[1] %>
    </span></li>
    <% end %>
    <% end %>
    <% end %>
    <% jhash(bannerHash) %>
    <% end %>
  <% end %> 
  </ul>
</div>
<div class="productAttrTreeDiv">
  <span class="hierarchyHeading">Attributes</span>
  <ul id="locationAttrTree">
   <% @custom_location_attributes.each do |k| %>
   
   <li> <span><%= k.name %></span>
   <ul>
   <% values = Api::LocationServices.getCustAttrValues(k.id) %>
    <% values.each do |i|%>
     <li>
    <input type="checkbox" class="attrcheck" id="<%= i['custom_attr_id'] %>" value="<%= i['value'] %>" >
        <span><%= i['value'] %></span>
        </li>
    <% end %>
   </ul>
   </li>
   
   <% end %>
  </ul>
</div>

