<link href="/../assets/uday.css" rel="stylesheet" type="text/css">
<!-- BO TAB CONTENT -->
<div class="container tab-content tabContentMain">     
  <!-- BO CONTRACT TAB --> 
  <%= render :partial=>"shared/flash_msg" %>
  <div id="contract" class="container tab-pane active prodGroupMgmt">
   <div class="row">
   <div class="page-header">
    <h1><span class="glyphicon glyphicon-map-marker"></span> Product Group Management</h1>
   </div>
   <div class="col-md-10 alignRight ">
     <button type="submit" class="btn btn-default" onclick="window.location='/product_groups/new';">+ New Product Group</button> 
   </div>
   </div><p></p>        
 </div>           

  <div class="mainContentTabs"> 

  <div class="subTabContent" > 
  <div id="base" class="tab-pane active">



  <div class="panel panel-default">


  <div class="newpanel">

  <!-- Tab panes -->
  <div class="tab-content">
  <div class="tab-pane active" id="products">
  <div class="innerSection">

  <div class="btnBrd"></div>
  <div class="tab-content"> 
  <div id="hier" class="tab-pane active">


  <div class="row clear">       
  <div  class="col-md-12 categories">
 <% if !@product_groups.blank? %>
   <h6 class="heading"><strong>All product groups(<%= @product_groups.count%>)</strong></h6>
 
  <div class="categoryContent">
    <table class="table table-bordered  tablesorter table-striped" id="proGroupTable" >
       <thead>
        <tr>
          <th><input type="checkbox" id="selectAll"></th>
          <th>Product Group Name</th>
          <th>Product Name</th>
          <th>Product Description</th>
          <th>Action</th>
        </tr>
       </thead>
       <tbody>
       <% @product_groups.each do |pg| %>
          <tr>
            <% pg.each do |k,v|%>
            <td rowspan="<%= v.length%>">
            <input type="checkbox" class="checkbox" id="<%= k[0]%>">
            </td>
            <td rowspan="<%= v.length%>"> <%= k[1]%> </td>
            <% @flag=0%>
            <% if v.blank? %>
             <td></td><td></td><td></td>
            <% else %>
            <% v.each do |row|%>
            <%if @flag==0 %>
            <% @flag=1%>
               <td> <%= row["upc_desc"]%></td>
			   <td> <%= row["item_desc"]%></td>
               <td rowspan="<%= v.length %>">
                <%= link_to 'Edit', "/product_groups/modify?id=#{k[0]}" %> l
                <%= link_to "Delete", "/product_groups/destroy?id=#{k[0]}", data:{confirm: 'Are you sure?'} %>
                <!--<%= link_to 'Delete', "/product_groups/#{k[0]}", :method => "delete", data: { confirm: 'Are you sure?' } %>-->
              </td>
            <%else%>
              <tr>
               <td> <%= row["upc_desc"]%></td>
			   <td> <%= row["item_desc"]%></td>
              </tr>
             <%end%>
           <%end%>
             <% end %>
          <%end%>
           
          </tr>
        <%end%>
       </tbody>
    </table>

    <button class="btn btn-default" type="submit" id="removePGroup">Delete</button>
    <!-- <div class="row worklistTablePaginationHolder">
       <div class=" paginPad">
        <ul class="list-inline text">
          <li><a href="javascript:;" class="showall"> Show All </a></li> 
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li><a href="javascript:;"> < </a></li>
          <li><a href="javascript:;"> << </a></li>
          <li>1</li>
          <li><a href="javascript:;"> 2 </a></li>
          <li><a href="javascript:;"> 3 </a></li>
          <li><a href="javascript:;"> 4 </a></li>
          <li><a href="javascript:;"> 5 </a></li>
          <li>...</li>
          <li><a href="javascript:;"> 10 </a></li>
          <li><a href="javascript:;"> > </a></li>
          <li><a href="javascript:;"> >> </a></li>
          <li>Go to page# <input type="text" class="smallTextFld"></li>
          <li><a href="javascript:;"><img src="../images/Go_To_Page.png" border="0"></a></li>
        </ul>
      </div>
    </div> -->
    <!-- EO ROW -->
  </div>
  <% end %>
  </div>  <!-- right col -->
   <div id = "hiddenDiv"></div>
   <div class="clear"></div>
  </div>
   <div class="clear"></div>           
  </div>

  </div>
  
  </div>
  </div>

  </div>
  </div>

  <!-- EO tabbable left -->
  </div>
  </div>
  </div>


  </div>
  </div>
  <!-- EO Sub TAB -->  

 <script>
	$(document).ready(function() 
    { 

	$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();
		
	 $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
		
		
	 
		
		
		$('#selectAll').click(function(event) {  //on click 
			if(this.checked) { // check select status
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = true;  //select all checkboxes with class "checkbox1"               
				});
			}else{
				$('.checkbox1').each(function() { //loop through each checkbox
					this.checked = false; //deselect all checkboxes with class "checkbox1"                       
				});         
			}
			
		});
		
	 $("#noteViewdataTable").tablesorter({sortList: [[3,1]]}); 

	$("#removePGroup").click(function(){
    var groupIds = $("#proGroupTable input:checkbox:checked").map(function(){
            return ($(this).attr("id"));
        }).get();
    if(groupIds==null || groupIds==''){
        alert("Please select a product group to delete");
      }else{
        // alert(groupIds);
        $("#hiddenDiv").load("product_groups/removeMultipleGroups",{groupIds: groupIds},function(rt){
        });
       location.reload();
       }
  });
		
   
    }); 
	
	
	</script>
   