<span class="hierarchyHeading">Attributes</span>
<ul id="locationAttrTree">
	<% @allLocationAttribute.each do |locationAttribute| %>
	<li value="<%= locationAttribute['id'] %>" id="<%= locationAttribute['id'] %>li" name="<%= locationAttribute['name'] %>" class="product_attribute">
		<%= locationAttribute['name'] %>
		<% @list=locationAttribute['value'].split(',')%>
		<ul>
			<% @list.each do |value| %>
			<li class="locationAttribute">
				<input type="checkbox" value="<%= value %>">
				<%= value %>
			</li>
			<% end %>
		</ul>
	</li>
	<% end %>
</ul>
