<p id="error">
	<%= flash[:error] %>
</p>
<p id="notice">
	<%= flash[:notice] %>
</p>
<% if !@price_grids.blank? %>
<tr>

	<% @price_grids.each do |price_grid| %>

	<% if price_grid.price_vehicle_id==1 %>

	<td> <%= best_in_place price_grid,:multiples%>,</td>

	<td><%= link_to 'Delete', price_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	<% end %>
</tr>
<% end %>

-----------

<% setId=3000%>
<% if !@price_grids.blank? %>
<% @price_grids.each do |price_grid| %>
<% if price_grid.price_vehicle_id==2 %>

<tr id="<%= setId%>">
	<div class="field">
		<td><%= best_in_place price_grid,:from_price %></td>
		<td><%= best_in_place price_grid, :to_price %></td>
		<td>
		<input id="price_grid__price_candidates" name="price_grid[][price_candidates]"  value="<%= price_grid.price_candidates %>">
		</td>
	</div>

	<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show','<%= setId%>');">Set Values</a></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Delete', price_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
<% setId=setId+1%>
<% end %>
<% end %>

-----------

<% setId=2000%>
<% if !@price_grids.blank? %>
<% @price_grids.each do |price_grid| %>
<% if price_grid.price_vehicle_id==3 %>

<tr id="<%= setId%>">
	<div class="field">
		<td><%= best_in_place price_grid,:from_price %></td>
		<td><%= best_in_place price_grid, :to_price %></td>
		<td>
		<input id="price_grid__price_candidates" name="price_grid[][price_candidates]"  value="<%= price_grid.price_candidates %>">
		</td>
	</div>

	<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show','<%= setId%>');">Set Values</a></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Delete', price_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
<% setId=setId+1%>
<% end %>
<% end %>

-----------

<% setId=1000%>
<% if !@price_grids.blank? %>
<% @price_grids.each do |price_grid| %>
<% if price_grid.price_vehicle_id==4 %>

<tr id="<%= setId%>">
	<div class="field">
		<td><%= best_in_place price_grid,:from_price %></td>
		<td><%= best_in_place price_grid, :to_price %></td>
		<td>
		<input id="price_grid__price_candidates" name="price_grid[][price_candidates]" value="<%= price_grid.price_candidates %>">
		</td>

	</div>

	<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show','<%= setId%>');">Set Values</a></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Delete', price_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
<% setId=setId+1%>
<% end %>
<% end %>

