<% if !@price_rules.blank? %>
<% @price_rules.each do|value| %>

<tr>
	<% if(value.marketing_vehicle_id==1) %>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="marketing_vehicle_id" data-type="input">FP</span></td>
	<% else if (value.marketing_vehicle_id==2) %>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="marketing_vehicle_id" data-type="input">IP</span></td>
	<% else if (value.marketing_vehicle_id==3) %>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="marketing_vehicle_id" data-type="input">SG</span></td>
	<% else if (value.marketing_vehicle_id==4) %>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="marketing_vehicle_id" data-type="input">TPR</span></td>
	<% else %>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="marketing_vehicle_id" data-type="input"><%= value.marketing_vehicle_id %></span></td>
	<% end %><% end %><% end %><% end %>

	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="min_margin" data-type="input"><%= value.min_margin %></span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="max_margin" data-type="input"><%= value.max_margin %></span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="min_price_change" data-type="input"><%= value.min_price_change %></span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="max_price_change" data-type="input"><%= value.max_price_change %></span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="min_passthrough" data-type="input"><%= value.min_passthrough %></span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="max_passthrough" data-type="input"><%= value.max_passthrough %> </span></td>
	<td><span class="best_in_place" data-url="/price_rules/<%= value.id %>" data-object="price_rule" data-attribute="optimization_goal" data-type="input"><%= value.optimization_goal %></span></td>
	<td><a href="javascript:;" onClick="handleOverlayPricingGuidelines('editProductAttribute','show',3);">ITEM_STRATEGY</a></td>
	<td><a href="javascript:;" onClick="handleOverlayPricingGuidelines('editLocationAttribute','show',3);">Zone</a></td>
	<td><a data-confirm="Are you sure?" data-method="delete" href="/pricing_guidelines/<%= value.id %>" rel="nofollow">Delete</a></td>
</tr>
<% end %>
<% end %>
