<div class="productAttrTreeDiv">
	<span class="hierarchyHeading">Attributes</span>
	<ul id="productAttrTree">
		<% @product_attributes.each do |productAttribute| %>

		<li>
			<%= productAttribute.name %>
			<% @list=productAttribute.value.split(',')%>
			<ul>
				<% @list.each do |value| %>
				<li>
					<input type="checkbox" value="<%= value %>">
					<%= value %>
				</li>
				<% end %>
			</ul>
		</li>

		<% end %>
	</ul>
</div>
