<script type="text/javascript">
	$(document).ready(function() {
		$(save_price_candidates).click(function() {
			var dollar1;
			var dollar2;
			var cents1;
			var cents2;
			var price_candidates = [];
			$.each($("input[name='dollar1']:checked"), function() {
				dollar1 = $(this).val();
				$.each($("input[name='dollar2']:checked"), function() {
					dollar2 = $(this).val();
					$.each($("input[name='cents1']:checked"), function() {
						cents1 = $(this).val();
						$.each($("input[name='cents2']:checked"), function() {
							cents2 = $(this).val();
							price_candidates.push(dollar1 + '' + dollar2 + '.' + cents1 + '' + cents2);
						});
					});
				});
			});
			var demo = $("#hiddensetValuesOverlayId").val()
			$('#' + demo + ' #price_grid__price_candidates').val(price_candidates.join(", "))
			$('#' + demo + ' #price_grid__price_candidates').text(price_candidates.join(", "))

		});
	}); 
</script>

<body>
	<p id="error">
		<%= flash[:error] %>
	</p>
	<p id="notice">
		<%= flash[:notice] %>
	</p>

	<!--! BO SET VALUES OVERLAY -->
	<div id="setValuesOverlay" class="overlayWindow">

		<input type="hidden" id="hiddensetValuesOverlayId" value="1">
		<div class="closeIcoDiv">
			<a href="javascript:;" onClick="handleOverlay('setValuesOverlay','hide');"><img src="../assets/closePopup.png"></a>
		</div>
		<div class="overlayWindowGrayBg">
			<div class="overlayContent setValuesOverlayBody">

				<div class="overlayHeader">
					Set Values
				</div>

				<div class="setValuesTableDiv">
					<table class="setValuesTable">
						<thead>
							<tr>
								<th> $ </th>
								<th> Cents </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><label>
									<input type="checkbox" value="0" name="dollar1" checked=true>
									0 </label><label>
									<input type="checkbox" value="0" name="dollar2" checked=true>
									0 </label></td>
								<td><label>
									<input type="checkbox" value="0" name="cents1" checked=true>
									.0 </label><label>
									<input type="checkbox" value="0" name="cents2" checked=true>
									.0 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="1" name="dollar1">
									1 </label><label>
									<input type="checkbox" value="1" name="dollar2">
									1 </label></td>
								<td><label>
									<input type="checkbox" value="1" name="cents1">
									.1 </label><label>
									<input type="checkbox" value="1" name="cents2">
									.1 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="2" name="dollar1">
									2 </label><label>
									<input type="checkbox" value="2" name="dollar2">
									2 </label></td>
								<td><label>
									<input type="checkbox" value="2" name="cents1">
									.2 </label><label>
									<input type="checkbox" value="2" name="cents2">
									.2 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="3" name="dollar1">
									3 </label><label>
									<input type="checkbox" value="3" name="dollar2">
									3 </label></td>
								<td><label>
									<input type="checkbox" value="3" name="cents1">
									.3 </label><label>
									<input type="checkbox" value="3" name="cents2">
									.3 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="4" name="dollar1">
									4 </label><label>
									<input type="checkbox" value="4" name="dollar2">
									4 </label></td>
								<td><label>
									<input type="checkbox" value="4" name="cents1">
									.4 </label><label>
									<input type="checkbox" value="4" name="cents2">
									.4 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="5" name="dollar1">
									5 </label><label>
									<input type="checkbox" value="5" name="dollar2">
									5 </label></td>
								<td><label>
									<input type="checkbox" value="5" name="cents1">
									.5 </label><label>
									<input type="checkbox" value="5" name="cents2">
									.5 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="6" name="dollar1">
									6 </label><label>
									<input type="checkbox" value="6" name="dollar2">
									6 </label></td>
								<td><label>
									<input type="checkbox" value="6" name="cents1">
									.6 </label><label>
									<input type="checkbox" value="6" name="cents2">
									.6 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="7" name="dollar1">
									7 </label><label>
									<input type="checkbox" value="7" name="dollar2">
									7 </label></td>
								<td><label>
									<input type="checkbox" value="7" name="cents1">
									.7 </label><label>
									<input type="checkbox" value="7" name="cents2">
									.7 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="8" name="dollar1">
									8 </label><label>
									<input type="checkbox" value="8" name="dollar2">
									8 </label></td>
								<td><label>
									<input type="checkbox" value="8" name="cents1">
									.8 </label><label>
									<input type="checkbox" value="8" name="cents2">
									.8 </label></td>
							</tr>

							<tr>
								<td><label>
									<input type="checkbox" value="9" name="dollar1">
									9 </label><label>
									<input type="checkbox" value="9" name="dollar2">
									9 </label></td>
								<td><label>
									<input type="checkbox" value="9" name="cents1">
									.9 </label><label>
									<input type="checkbox" value="9" name="cents2">
									.9 </label></td>
							</tr>

						</tbody>
					</table>

				</div>

				<div class="overlayActions">
					<button type="button" class="btn btn-default" onClick="handleOverlayTry('setValuesOverlay','hide');" id="save_price_candidates">
						Save
					</button>
					<a href="javascript:;" class="popupCancelLink" onClick="handleOverlayTry('setValuesOverlay','hide');">Cancel</a>
				</div>

			</div>
		</div>
	</div><!--! EO SET VALUES OVERLAY -->

	<div id="editProductAttribute" class="overlayWindow">

		<div class="closeIcoDiv">
			<a href="javascript:;" onClick="handleOverlay('editProductAttribute','hide');"><img src="../assets/closePopup.png"></a>
		</div>
		<div class="overlayWindowGrayBg">
			<div class="overlayContent setValuesOverlayBody">

				<div class="overlayHeader">
					Set Attributes Values
				</div>

				<div class="productAttrTreeDiv" id="productAttrEditTreeDiv" >
					<span class="hierarchyHeading">Attributes</span>
					<ul >
						<% @allProductAttribute.each do |productAttribute| %>

						<li value="<%= productAttribute['id'] %>" id="<%= productAttribute['id'] %>li" name="<%= productAttribute['name'] %>" class="product_attribute">
							<%= productAttribute['name'] %>
							<% @list=productAttribute['value'].split(',')%>
							<ul>
								<% @list.each do |value| %>
								<li class="product_attribute">
									<input type="checkbox" value="<%= value %>">
									<%= value %>
								</li>
								<% end %>
							</ul>
						</li>

						<% end %>
					</ul>
				</div>

			</div>

			<div class="overlayActions">
				<button type="button" class="btn btn-default" onClick="handleOverlay('editProductAttribute','hide');" >
					Edit
				</button>
				<a href="javascript:;" class="popupCancelLink" onClick="handleOverlay('editProductAttribute','hide');">Cancel</a>
			</div>

		</div>
	</div>

	<div id="editLocationAttribute" class="overlayWindow">

		<div class="closeIcoDiv">
			<a href="javascript:;" onClick="handleOverlay('editLocationAttribute','hide');"><img src="../assets/closePopup.png"></a>
		</div>
		<div class="overlayWindowGrayBg">
			<div class="overlayContent setValuesOverlayBody">

				<div class="overlayHeader">
					Set Attributes Values
				</div>

				<div class="productAttrTreeDiv" id="locationAttrEditTreeDiv">
					<span class="hierarchyHeading">Attributes</span>
					<ul id="locationAttrTree">
						<% @allLocationAttribute.each do |locationAttribute| %>
						<li value="<%= locationAttribute['id'] %>" id="<%= locationAttribute['id'] %>li" name="<%= locationAttribute['name'] %>" class="product_attribute">
							<%= locationAttribute['name'] %>
							<% @list=locationAttribute['value'].split(',')%>
							<ul>
								<% @list.each do |value| %>
								<li class="locationAttribute">
									<input type="checkbox" value="<%= value %>">
									<%= value %>
								</li>
								<% end %>
							</ul>
						</li>
						<% end %>
					</ul>
				</div>

			</div>

			<div class="overlayActions">
				<button type="button" class="btn btn-default" onClick="handleOverlay('editLocationAttribute','hide');" >
					Edit
				</button>
				<a href="javascript:;" class="popupCancelLink" onClick="handleOverlay('editLocationAttribute','hide');">Cancel</a>
			</div>

		</div>
	</div>

	<!-- PAGE HEADER -->
	<div class="container pricingGuidelinePageHeader">
		<ul class="list-inline">
			<li><img src="../assets/pricingGridIcoBig.png">
			</li>
			<li>
				Pricing Guidelines
			</li>
		</ul>
	</div>

	<!-- Price Rules Price Grid Tabs -->
	<div class="pricingGuidelineTabsDiv subTabs tabbable mainContentTabs">
		<ul class="nav nav-pills">
			<li >
				<a href="#priceRules" data-toggle="tab">Price Rules</a>
			</li>
			<li class="active">
				<a href="#priceGrid" data-toggle="tab">Price Grid</a>
			</li>
		</ul>
		<!--<ul class="nav nav-tabs pricingGuidelineTabs" role="tablist">
		<li><a href="#priceRules" data-toggle="tab">Price Rules</a></li>
		<li class="active"><a href="#priceGrid" data-toggle="tab">Price Grids</a></li>
		</ul> -->
	</div>

	<div class="tab-content pricingGuidelineTabContent">
		<!-- BO PRICE RULES  -->
		<div id="priceRules" class="tab-pane  priceGridTabBody">

			<div class="row">
				<!-- Left Accordion -->
				<div class="col-md-4">

					<div class="panel-group" id="priceRuleaccordion">
						<div class="panel panel-default priceGuidelinePanel">
							<div class="priceGuidelinePanelHeading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#priceRuleaccordion" href="#priceRulecollapseOne"> Product Heirarchy & Attributes </a></h4>
							</div>
							<div id="priceRulecollapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="right-inner-addon worklistSearch">
										<i class="glyphicon glyphicon-search"></i>
										<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
									</div>

									<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="productHeirarchyTree">

											<% @allCategoriesHierarchy.each do |categoryHash| %>

											<% def ihash(h) %>
											<% h.each do |k,v| %>

											<%  if v.is_a?(Hash) %>
											<% @categoryCount=0 %>
											<% @allPriceRulesForAllCategory.each do |rules| %>

											<% if(k[0]==rules['category_id']) %>
											<% @categoryCount=rules['count']%>
											<% else %>
											<% next %>
											<% end %>
											<% end %>
											<li>
												<span class="breadcrumbCategory product_category" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @categoryCount %>)</span>
												<ul>
													<% ihash(v) %>
												</ul>
											</li>
											<% else %>
											<% @categoryCount=0 %>
											<% @allPriceRulesForAllCategory.each do |rules| %>

											<% if(k[0]==rules['category_id']) %>
											<% @categoryCount=rules['count']%>
											<% else %>
											<% next %>
											<% end %>
											<% end %>

											<li class="treeLastChild>
												<span class="breadcrumbCategory product_category" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @categoryCount %>)</span>
											</li>
											<% end %>
											<% end %>
											<% end %>

											<% ihash(categoryHash) %>

											<% end %>

										</ul>

									</div>

									<div class="productAttrTreeDiv" id="productAttrRulesTreeDiv">
										<span class="hierarchyHeading">Attributes</span>
										<ul id="productAttrTree">
											<% @allProductAttribute.each do |productAttribute| %>

											<li value="<%= productAttribute['id'] %>" id="<%= productAttribute['id'] %>li" name="<%= productAttribute['name'] %>" class="product_attribute">
												<%= productAttribute['name'] %>
												<% @list=productAttribute['value'].split(',')%>
												<ul>
													<% @list.each do |value| %>
													<li class="product_attribute">
														<input type="checkbox" value="<%= value %>">
														<%= value %>
													</li>
													<% end %>
												</ul>
											</li>

											<% end %>
										</ul>
									</div>

								</div>
							</div>
						</div>

						<div class="panel panel-default priceGuidelinePanel">
							<div class="priceGuidelinePanelHeading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#priceRuleaccordion" href="#priceRulecollapseTwo"> Location Heirarchy & Attributes </a></h4>
							</div>
							<div id="priceRulecollapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="right-inner-addon worklistSearch">
										<i class="glyphicon glyphicon-search"></i>
										<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
									</div>

									<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="locationHeirarchyTree">

											<% @allLocationsHierarchy.each do |locationHash| %>

											<% def ihash(h) %>
											<% h.each do |k,v| %>
											<% @allPriceRulesForAllLocation.each do |rules| %>
											<% if(k[0]==rules['location_id']) %>
											<% @count=rules['count']%>
											<% else %>
											<% @count=0 %>
											<% end %>
											<% end %>
											<%  if v.is_a?(Hash) %>

											<li>
												<span class="breadcrumbBanner product_location" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @count %>)</span>
												<ul>
														<% ihash(v) %>
												</ul>
											</li>
											<%   else %>
											<li class="treeLastChild">
												<span class="breadcrumbBanner product_location" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @count %>)</span>
											</li>

											<%  end %>
											<%   end %>
											<% end %>
											<% ihash(locationHash) %>

											<% end %>

										</ul>
									</div>

									<div class="productAttrTreeDiv">
										<span class="hierarchyHeading">Attributes</span>
										<ul id="locationAttrTree">
											<% @allLocationAttribute.each do |locationAttribute| %>
											<li value="<%= locationAttribute['id'] %>" id="<%= locationAttribute['id'] %>li" name="<%= locationAttribute['name'] %>" class="product_attribute">
												<%= locationAttribute['name'] %>
												<% @list=locationAttribute['value'].split(',')%>
												<ul>
													<% @list.each do |value| %>
													<li class="locationAttribute">
														<input type="checkbox" value="<%= value %>">
														<%= value %>
													</li>
													<% end %>
												</ul>
											</li>
											<% end %>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- EO COL -->

				<!-- Right page content-->
				<div class="col-md-8 rightPageContent">

					<div class="rightSidePageTitle">
						Set Price Rules
					</div>

					<div class="priceGridSelectedCategoryBar">
						<div class="breadcrumbCategoryDiv"></div>
						<br>
					</div>
					<div class="priceGridSelectedCategoryBar">
						<div class="breadcrumbBannerDiv"></div>
						<br>
					</div>
					<br>
					<form accept-charset="UTF-8" action="/pricing_guidelines/create_price_rules"  method="post" id="create_price_rules_form">

						<div class="priceRuleTableContainer" id="priceRuleTableContainer">
							<table id="priceRuleTable" class="tablesorter table-striped priceRuleTble price-rules-table">
								<thead>
									<tr class="tableHeadingTH">
										<th>Marketing vehicle</th>
										<th>Min Margin %</th>
										<th>Max Margin %</th>
										<th>Min Price Change</th>
										<th>Max Price Change</th>
										<th>Min Passthrough</th>
										<th>Max Passthrough</th>
										<th>Optimization Goal</th>
										<th>Product Attribute</th>
										<th>Location Attribute</th>
										<th>Delete/Remove</th>
									</tr>
								</thead>
								<tbody id="price_rule_data_body">
									<div id="price_rule_data">
										<tr style="display: none">
											<div class="field">
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
												<td></td>

												<td></td>
												<td></td>
											</div>
											<td></td>
										</tr>
									</div>
								</tbody>
							</table>

							<table id="priceRuleTable2" class="tablesorter table-striped priceRuleTble price-rules-table">
								<tbody>
									<tr >
										<input id="price_rule__category_id" name="price_rule[][category_id]" type="hidden" >
										<input id="price_rule__location_id" name="price_rule[][location_id]" type="hidden" >
										<input id="price_rule__product_attribute" name="price_rule[][product_attribute]" type="hidden" value="0">
										<input id="price_rule__location_attribute" name="price_rule[][location_attribute]" type="hidden" value="0">
										<td>
										<select id="price_rule__marketing_vehicle_id" name="price_rule[][marketing_vehicle_id]" class="price-rules-form">
											<option value="1">FP</option>
											<option value="2">IP</option>
											<option value="3">SG</option>
											<option value="4">TPR</option>
										</select></td>
										<td>
										<input id="price_rule__min_margin" name="price_rule[][min_margin]" type="text" class="price-rules-form">
										</td>
										<td>
										<input id="price_rule__max_margin" name="price_rule[][max_margin]" type="text" class="price-rules-form">
										</td>
										<td>
										<input id="price_rule__min_price_change" name="price_rule[][min_price_change]" type="text" class="price-rules-form">
										</td>
										<td>
										<input id="price_rule__max_price_change" name="price_rule[][max_price_change]" type="text" class="price-rules-form">
										</td>
										<td>
										<input id="price_rule__min_passthrough" name="price_rule[][min_passthrough]" type="text" class="price-rules-form">
										</td>
										<td>
										<input id="price_rule__max_passthrough" name="price_rule[][max_passthrough]" type="text" class="price-rules-form">
										</td>
										<td>
										<select id="price_rule__optimization_goal" name="price_rule[][optimization_goal]" >
											<option value="Maximize Revenue">Maximize Revenue</option>
											<option value="Multi-objective">Multi-objective</option>
											<option value="Maximinze Margin">Maximinze Margin</option>
											<option value="Maximize Sellthrough">Maximize Sellthrough</option>
										</select></td>
										<td></td>
										<td></td>

										<td><a href="javascript:;" onclick="removeFilter(this);">Remove</a></td>
									</tr>

									<tr id="priceRuleBtn">
										<td colspan="11"><a href="javascript:;" onClick="addFilter('priceRuleTable2','priceRuleBtn');" class="priceRuleTableAddBtn"> Add </a></td>
									</tr>

								</tbody>
							</table>

							<!--     <table >
							<tr>
							<td colspan="10"><a href="javascript:;" onClick="addFilter('priceRuleTable','priceRuleBtn');" class="priceRuleTableAddBtn"> Add </a></td>
							</tr>
							</table>-->

						</div>

						<div class="priceGridActionBar">

							<input class="btn btn-default" name="commit" type="submit" value="Save">

						</div>
					</form>
				</div>
				<!-- EO COL -->

			</div>
			<!-- EO Row -->

		</div><!-- EO PRICE RULES -->

		<!-- BO PRICE GRID -->
		<div id="priceGrid" class="tab-pane active priceGridTabBody">

			<div class="row">

				<!-- Left Accordion -->
				<div class="col-md-4">

					<div class="panel-group" id="accordion">
						<div class="panel panel-default priceGuidelinePanel">
							<div class="priceGuidelinePanelHeading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Product Heirarchy & Attributes </a></h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="right-inner-addon worklistSearch">
										<i class="glyphicon glyphicon-search"></i>
										<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
									</div>

									<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="priceHeirarchyTree">

											<% @allCategoriesHierarchy.each do |categoryHash| %>

											<% def ihash(h) %>
											<% h.each do |k,v| %>
											<%  if v.is_a?(Hash) %>
											<% @gridsCategoryCount=0 %>
											<% @allPriceGridsForAllCategory.each do |grids| %>

											<% if(k[0]==grids['category_id']) %>
											<% @gridsCategoryCount=grids['count']%>
											<% else %>
											<% next %>
											<% end %>
											<% end %>
											<li>
												<span class="breadcrumbCategory product_category" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @categoryCount %>)</span>
												<ul>
														<% ihash(v) %>
												</ul>
											</li>
											<%   else %>
											<% @gridsCategoryCount=0 %>
											<% @allPriceGridsForAllCategory.each do |grids| %>

											<% if(k[0]==grids['category_id']) %>
											<% @gridsCategoryCount=grids['count']%>
											<% else %>
											<% next %>
											<% end %>
											<% end %>
											<li>
												<span class="breadcrumbCategory product_category" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @categoryCount %>)</span>
											</li>
											<%  end %>
											<%   end %>
											<% end %>
											<% ihash(categoryHash) %>
											<% end %>
										</ul>

									</div>
									<div class="productAttrTreeDiv" id="productAttrGridsTreeDiv">
										<span class="hierarchyHeading">Attributes</span>
										<ul id="priceAttrTree">
											<% @allProductAttribute.each do |productAttribute| %>

											<li value="<%= productAttribute['id'] %>" id="<%= productAttribute['id'] %>li" name="<%= productAttribute['name'] %>" class="product_attribute">
												<%= productAttribute['name'] %>
												<% @list=productAttribute['value'].split(',')%>
												<ul>
													<% @list.each do |value| %>
													<li class="product_attribute">
														<input type="checkbox" value="<%= value %>">
														<%= value %>
													</li>
													<% end %>
												</ul>
											</li>

											<% end %>
										</ul>
									</div>

								</div>
							</div>
						</div>

						<div class="panel panel-default priceGuidelinePanel">
							<div class="priceGuidelinePanelHeading">
								<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Location Heirarchy & Attributes </a></h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="right-inner-addon worklistSearch">
										<i class="glyphicon glyphicon-search"></i>
										<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
									</div>

									<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="pricelocationHeirarchyTree">

											<% @allLocationsHierarchy.each do |locationHash| %>

											<% def ihash(h) %>
											<% h.each do |k,v| %>
											<% @allPriceGridsForAllLocation.each do |rules| %>
											<% if(k[0]==rules['location_id']) %>
											<% @count=rules['count']%>
											<% else %>
											<% @count=0 %>
											<% end %>
											<% end %>
											<%  if v.is_a?(Hash) %>
											<li>
												<span class="breadcrumbBanner product_location" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @count %>)</span>
												<ul>
														<% ihash(v) %>
												</ul>
											</li>
											<%   else %>
											<li class="treeLastChild">
												<span class="breadcrumbBanner product_location" id="<%= k[0].to_i %>"> <%= k[1] %>(<%= @count %>)</span>
											</li>

											<%  end %>
											<%   end %>
											<% end %>
											<% ihash(locationHash) %>

											<% end %>

										</ul>
									</div>

									<div class="productAttrTreeDiv">
										<span class="hierarchyHeading">Attributes</span>
										<ul id="pricelocationAttrTree">
											<% @allLocationAttribute.each do |locationAttribute| %>
											<li value="<%= locationAttribute['id'] %>" id="<%= locationAttribute['id'] %>li" name="<%= locationAttribute['name'] %>" class="product_attribute">
												<%= locationAttribute['name'] %>
												<% @list=locationAttribute['value'].split(',')%>
												<ul>
													<% @list.each do |value| %>
													<li class="locationAttribute">
														<input type="checkbox" value="<%= value %>">
														<%= value %>
													</li>
													<% end %>
												</ul>
											</li>
											<% end %>
										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- EO COL -->

				<!-- Right page content-->
				<div class="col-md-8 rightPageContent">

					<div class="rightSidePageTitle">
						Set Price Grid
					</div>

					<div class="priceGridSelectedCategoryBar">
						<div class="breadcrumbCategoryDiv"></div>
						<br>
					</div>
					<div class="priceGridSelectedCategoryBar">
						<div class="breadcrumbBannerDiv"></div>
						<br>
					</div>
					<br />
					<form accept-charset="UTF-8" action="/pricing_guidelines/create_price_grids"  method="post" id="create_price_grids_form">
						<div class="panel-group" id="accordion2">
							<div class="panel panel-default pricingGridPanels">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title">
									<input id="price_grid__price_vehicle_id" name="" type="checkbox" value="1">
									Percent Off </a></h4>
								</div>
								<div id="rightcollapseOne" class="panel-collapse collapse in">
									<div class="panel-body">

										<table class="percentOffTable" id="percentOffTbl1">
											<tbody id="price_grids_percent_off">
												<div id="price_grids_percent_off_data">

													<div>
											</tbody>
										</table>
										<table class="percentOffTable" id="percentOffTbl">

											<tr>
												<input id="price_grid__price_vehicle_id" name="price_grid[][price_vehicle_id]" type="hidden" value="1">
												<input id="price_grid__category_id" name="price_grid[][category_id]" type="hidden" >
												<input id="price_grid__location_id" name="price_grid[][location_id]" type="hidden" >
												<input id="price_grid__product_attribute" name="price_grid[][product_attribute]" type="hidden" value="0">
												<input id="price_grid__location_attribute" name="price_grid[][location_attribute]" type="hidden" value="0">
												<td> <%= text_field_tag "price_grid[][multiples]" %> </td>
												<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="addPercentOffBtn">
												<td><a href="javascript:;" onClick="addFilter('percentOffTbl','addPercentOffBtn',1);" > Add </a></td>
											</tr>
										</table>

									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title">
									<input id="price_grid__price_vehicle_id" name="" type="checkbox" value="2">
									<a data-toggle="collapse"  href="#rightcollapseTwo"> Flat Price </a></h4>
								</div>
								<div id="rightcollapseTwo" class="panel-collapse collapse">
									<div class="panel-body">

										<table class="flatPriceTable table-striped" id="flatPriceTbl2">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th> Set Value </th>
													<th> Product Attribute </th>
													<th> Location Attribute </th>
													<th> Delete/ Remove </th>

												</tr>
											</thead>
											<tbody id="price_grids_flat_price">
												<div id="price_grids_flat_price_data">

												</div>
											</tbody>
										</table>
										<table class="flatPriceTable table-striped" id="flatPriceTbl">
											<tbody>

												<tr id="1">
													<input id="price_grid__price_vehicle_id" name="price_grid[][price_vehicle_id]" type="hidden" value="2">
													<input id="price_grid__category_id" name="price_grid[][category_id]" type="hidden" >
													<input id="price_grid__location_id" name="price_grid[][location_id]" type="hidden" >
													<input id="price_grid__product_attribute" name="price_grid[][product_attribute]" type="hidden" value="0">
													<input id="price_grid__location_attribute" name="price_grid[][location_attribute]" type="hidden" value="0">
													<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
													<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
													<td>
													<input id="price_grid__price_candidates" name="price_grid[][price_candidates]" type="text" >
													</td>
													<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show',1);">Set Values</a></td>
													<td></td>
													<td></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>

												</tr>

												<tr id="addFlatPriceBtn">
													<td colspan="7"><a href="javascript:;" onClick="addFilterTry('flatPriceTbl','addFlatPriceBtn',2);"> Add </a></td>
												</tr>
											</tbody>

										</table>
									</div>

								</div>
							</div>

							<div class="panel panel-default">
								<div class="pricingGridRightPanelHeading">
									<h4 class="panel-title">
									<input id="price_grid__price_vehicle_id" name="" type="checkbox" value="3">
									<a data-toggle="collapse"  href="#rightcollapseThree"> Multiple Price </a></h4>
								</div>
								<div id="rightcollapseThree" class="panel-collapse collapse">
									<div class="panel-body">

										Buy Quantity

										<table class="buyQuantityTable" id="buyQuantityTbl">

											<tr>
												<td><td> <%= text_field_tag "price_grid[][multiples]" %> <td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
											</tr>
											<tr id="buyQuantityBtn">
												<td><a href="javascript:;" onClick="addFilter('buyQuantityTbl','buyQuantityBtn',3);" > Add </a></td>
											</tr>
										</table>
										<table class="flatPriceTable table-striped" id="MultiplePriceTbl2">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th> Set Value </th>
													<th> Product Attribute </th>
													<th> Location Attribute </th>
													<th> Delete/ Remove </th>

												</tr>
											</thead>
											<tbody id="price_grids_multiple_price" >
												<div id="price_grids_multiple_price_data">

												</div>
											</tbody>
										</table>
										<table class="flatPriceTable table-striped" id="MultiplePriceTbl">
											<tbody>

												<tr id="2">
													<input id="price_grid__price_vehicle_id" name="price_grid[][price_vehicle_id]" type="hidden" value="3">
													<input id="price_grid__category_id" name="price_grid[][category_id]" type="hidden" >
													<input id="price_grid__location_id" name="price_grid[][location_id]" type="hidden" >
													<input id="price_grid__product_attribute" name="price_grid[][product_attribute]" type="hidden" value="0">
													<input id="price_grid__location_attribute" name="price_grid[][location_attribute]" type="hidden" value="0">
													<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
													<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
													<td>
													<input id="price_grid__price_candidates" name="price_grid[][price_candidates]" type="text" >
													</td>
													<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show',2);">Set Values</a></td>
													<td></td>
													<td></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<tr id="addMultiplePriceBtn">
													<td colspan="7"><a href="javascript:;" onClick="addFilterTry('MultiplePriceTbl','addMultiplePriceBtn',3);"> Add </a></td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>
							<div class="panel panel-default">

								<div class="pricingGridRightPanelHeading">

									<h4 class="panel-title">
									<input id="price_grid__price_vehicle_id" name="" type="checkbox" value="4">
									<a data-toggle="collapse"  href="#rightcollapseFour"> Amount Off </a></h4>

								</div>
								<div id="rightcollapseFour" class="panel-collapse collapse">
									<div class="panel-body">
										<table class="flatPriceTable table-striped" id="amountOffTbl2">
											<thead>
												<tr class="tableHeadingTH">
													<th> From Price </th>
													<th> To Price </th>
													<th> Price Candidates </th>
													<th> Set Value </th>
													<th> Product Attribute </th>
													<th> Location Attribute </th>
													<th> Delete/ Remove </th>

												</tr>
											</thead>
											<tbody id="price_grids_amount_off" >
												<div id="price_grids_amount_off_data">

												</div>
											</tbody>
										</table>
										<table class="flatPriceTable table-striped" id="amountOffTbl">
											<tbody>

												<tr id="3">
													<input id="price_grid__price_vehicle_id" name="price_grid[][price_vehicle_id]" type="hidden" value="4">
													<input id="price_grid__category_id" name="price_grid[][category_id]" type="hidden">
													<input id="price_grid__location_id" name="price_grid[][location_id]" type="hidden">
													<input id="price_grid__product_attribute" name="price_grid[][product_attribute]" type="hidden" value="0">
													<input id="price_grid__location_attribute" name="price_grid[][location_attribute]" type="hidden" value="0">
													<td> <%= text_field_tag "price_grid[][from_price]" %> </td>
													<td> <%= text_field_tag "price_grid[][to_price]" %> </td>
													<td>
													<input id="price_grid__price_candidates" name="price_grid[][price_candidates]" type="text" >
													</td>
													<td><a href="javascript:;" onClick="handleOverlayTry('setValuesOverlay','show',3);">Set Values</a></td>
													<td></td>
													<td></td>
													<td><a href="javascript:;" onClick="removeFilter(this);"> Remove </a></td>
												</tr>
												<tr id="amountOffBtn">
													<td colspan="7"><a href="javascript:;" onClick="addFilterTry('amountOffTbl','amountOffBtn',4);"> Add </a></td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
							</div>

						</div>

						<div class="priceGridActionBar,actions">

							<%= submit_tag "Save", :class=>"btn btn-default"%>

						</div>
					</form>
				</div>

				<!-- EO COL -->

			</div>
			<!-- EO Row -->

		</div>
		<!-- EO PRICE GRID  -->

	</div>
	<!-- EO tab content -->

	<script src="../assets/bootstrap.js"></script>
	<script src="../assets/functions.js"></script>
	<script src="../assets/jquery.sapling.js"></script>
	<script src="../assets/jquery.tablesorter.js"></script>
	<script src="../assets/jquery.dataTables.js"></script>
	<script src="../assets/enscroll-0.6.1.min.js"></script>

	<script>
		function getRules() {

			var json = "[";
			var demodata = $(".productAttrTreeDiv ul li.sapling-top-level")
			$.each(demodata, function(d, i) {
				var id = $(this).val()
				var temp = $("#" + id + "li input:checkbox").map(function() {
					return '"' + $(this).val() + '"'
				}).get();
				if (d == 0) {
					json += '{"' + id + '":[' + temp + ']}'
				} else {
					json += ',{"' + id + '":[' + temp + ']}'
				}
			})
			json += "]";

			$("#price_rule__product_attribute").attr('value', json);

			var product_category = ($("#price_rule__category_id").attr('value'));
			var product_attribute = ($("#price_rule__product_attribute").attr('value'));
			var product_location = ($("#price_rule__location_id").attr('value'));
			var location_attribute = ($("#price_rule__location_attribute").attr('value'));

			$("#hiddenDiv").load("pricing_guidelines/get_price_rules", {
				category_id : product_category,
				location_id : product_location,
				product_attribute_hash : product_attribute,
				location_attribute_hash : location_attribute
			}, function(rt) {
				//console.log(rt)
				$("input[type='text']").attr('value', '');
				$("#price_rule_data_body").html(rt);
			});

			$("#hiddenDiv").load("pricing_guidelines/get_price_rules_attributes", {
				category_id : product_category,
				location_id : product_location,
			}, function(rt) {
				//console.log(rt)
				$("input[type='text']").attr('value', '');
				$("#productAttrRulesTreeDiv").html(rt);
				$("#productAttrEditTreeDiv").html(rt);
				$("#productAttrGridsTreeDiv").html(rt);
			});

			$("#hiddenDiv").load("pricing_guidelines/get_price_grids", {
				category_id : product_category,
				location_id : product_location,
				product_attribute_hash : product_attribute,
				location_attribute_hash : location_attribute
			}, function(rt2) {
				console.log(rt2)
				$("input[type='text']").attr('value', '');
				var price_gride_arr = rt2.split("-----------");
				$("#price_grids_percent_off").html(price_gride_arr[0]);
				$("#price_grids_flat_price").html(price_gride_arr[1]);
				$("#price_grids_multiple_price").html(price_gride_arr[2]);
				$("#price_grids_amount_off").html(price_gride_arr[3]);
			});
		}


		$(document).ready(function() {

			$("#priceRuleTable").tablesorter({
				sortList : [[7, 1]]
			});

			$('#productHeirarchyTree').sapling();
			$('#productAttrTree').sapling();
			$('#priceHeirarchyTree').sapling();
			$('#priceAttrTree').sapling();
			$('#locationHeirarchyTree').sapling();
			$('#locationAttrTree').sapling();
			$('#pricelocationHeirarchyTree').sapling();
			$('#pricelocationAttrTree').sapling();

			$('.treeLastChild,.sapling-item').click(function() {
				$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
				$(this).addClass('selectedFilter');

				var topCat = $(".sapling-item");

				if (!$(this).hasClass("sapling-expanded")) {
					topCat.removeClass("selectedFilter")
				}

			});

			$('.product_category').click(function() {
				var data = $(this).attr('id');
				//alert(data)
				$(price_grid__category_id).val(data);
				$(price_rule__category_id).val(data);
				getRules();

			});

			$('.product_location').click(function() {
				var data = $(this).attr('id');
				//alert(data)
				$(price_rule__location_id).val(data);
				$(price_rule__location_attribute).val(data);
				$(price_grid__location_id).val(data);
				$(price_grid__location_attribute).val(data);
				getRules();
			});

			$(".productAttrTreeDiv input:checkbox").click(function() {
				getRules();
			})
			/* accordion state change */
			$('#accordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion');

			$('#accordion').on('show.bs.collapse', function(e) {
				$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
				$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
			}).on('hide.bs.collapse', function(e) {
				$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
				$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
			});

			/* accordion state change */
			$('#priceRuleaccordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion');

			$('#priceRuleaccordion').on('show.bs.collapse', function(e) {
				$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
				$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
			}).on('hide.bs.collapse', function(e) {
				$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
				$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
			});

			$('.best_in_place').best_in_place();

		});

		var options = {
			success : showResponse // post-submit callback
		};

		var options2 = {
			success : showResponse2 // post-submit callback
		};
		$("#create_price_rules_form").ajaxForm(options);
		$("#create_price_grids_form").ajaxForm(options2);
		function showResponse(responseText, statusText, xhr, $form) {
			$("input[type='text']").attr('value', '');
			$("#price_rule_data_body").html(responseText);
		}

		function showResponse2(responseText, statusText, xhr, $form) {
			$("input[type='text']").attr('value', '');

			var price_gride_arr = responseText.split("-----------");
			$("#price_grids_percent_off").html(price_gride_arr[0]);
			$("#price_grids_flat_price").html(price_gride_arr[1]);
			$("#price_grids_multiple_price").html(price_gride_arr[2]);
			$("#price_grids_amount_off").html(price_gride_arr[3]);
		}

	</script>
	<div id="hiddenDiv" style="display: none"></div>
</body>
