@charset "utf-8";
/* CSS Document */

/* */
BODY{ font-family:Tahoma;}


.appHeader{ height:60px; width:960px; padding-top:8px; padding-bottom:8px; background-image:url(../assets/Logo.png); background-repeat:no-repeat; background-position:left;}
.userInfo{ font-family:Euphemia; color:#666666; font-size:12px; margin-top:20px; margin-left:22px; float:left; width:150px; }
.userInfo A{ color:#ff6e00; font-size:12px; text-decoration:none;}
.topNavigation{ float:right;}
.topNavigation > ul > li{ font-size:12px;}
.topNavigation > ul > li > a{ font-size:12px; color:#ff6600; text-decoration:none;}

.topTabsBg{ height:36px; background-image:url(../assets/Header_Menu_Background.png); background-repeat:repeat-x;}
.topTabsHolder{ width:960px; font-family:Tahoma; font-size:14px; padding-left:0;}
.topTabs{ border:none; padding-top: 5px;}
.topTabs > li > a{ border-radius:2px 2px 0 0; padding-top:7px; line-height: 1.0; color:#ff7710;}
.topTabs > li > a:hover { border:1px dotted #333333; border-bottom:none; background:none;}
.topTabs > li.active > a,
.topTabs > li.active > a:hover,
.topTabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: none;
  background-image:url(../assets/Selected_Tab_Background.png); background-repeat:repeat-x;
}



.tabContentMain{ width:960px; padding-top:20px; padding-left:0;}
.worklistTabBody{ width:960px; padding-left:0; }
.birdEyeView{ width:960px;}
.worklistView{ width:960px; margin-top:30px;}
.contractTabBody{}
.accordianHeader{ height:30px; background-color:#ff9900; padding-left:12px; padding-top:4px; }
.accordianHeader > a{ font-family:Tahoma; font-size:14px; color:#000000; text-decoration:none;}
.accordianHeader > a:hover{ text-decoration:none;}
.accordianBody{ border:1px solid #999999; border-radius: 3px; padding-bottom:12px;}
.toggle-arrow{ background-position: -289px -96px;}
.collapsed .toggle-arrow{background-position: -312px -96px;}


.grapTableTabs{ border:none; padding-top: 5px; font-family:Tahoma; font-size:11px;}
.grapTableTabs > li > a{ border:none; border-radius:0 0 0 0; padding-right:8px; padding-top:12px; line-height: 0.5; color:#ff7710; height:32px;}
.grapTableTabs > li > a:hover { border:none; background:none;}
.grapTableTabs > li.active > a,
.grapTableTabs > li.active > a:hover,
.grapTableTabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-image:url(../assets/graphTableTabSelect.png); background-repeat:no-repeat; background-position:center bottom;
  border: none;
}

.birdEyeTablefilter{}
.birdEyeTablefilter A{ text-decoration:none; font-size:11px; color:#ff9900;}
.birdEyeTablefilter UL{ padding:0; }
.birdEyeTablefilter UL LI{ padding:0;}
.filterOption{ height:21px; background-image:url(../assets/filtersBg.png); background-repeat:repeat-x; border-top:1px solid #f2f2f2; border-bottom:1px solid #bdbdbd; border-right:1px solid #cbcbcb; border-left:1px solid #d1d1d1; font-family:Tahoma; font-size:11px; color:#999999; padding-left:5px; padding-right:5px; border-radius: 4px;}

.worklistFilerHolder{ width:960px; padding-right:60px; padding-left:0; margin-top:14px;}
.customizeTableLink{ }

.tableViewTabBody{ padding-top:8px; padding-left:12px; padding-right:12px;}
.birdEyeTable{ font-family:Tahoma; font-size:11px; width:100%;!important }
.birdEyeTable > thead { height:40px;}
.birdEyeTable >TH { font-weight:normal; }
.birdEyeTable .customRow TD { background-color:#fff5e5;}
.exportAsLink{ font-family:Tahoma; font-size:11px; margin-top:10px;}

.worklistTable{ font-family:Tahoma; font-size:11px; width:415px;!important }
.worklistTable > thead { height:40px;}
.worklistTable >TH { font-weight:normal; }
.worklistTable >TD { height:26px;}

.worklisttableScrollHolder{ width:510px; overflow-x:scroll; padding:0; margin-left:110px; border -right:1px solid #cccccc;}
.worklistTableScroll{ }
.worklistTableScroll .tableHead > th{ height:40px; font-weight:normal; !important }
.worklistTableScroll .headerWidth{ min-width:139px; }
.worklistTableScroll >TD { height:26px;}


/*.worklistTableScroll > tbody{ display: block; }
.worklistTableScroll > thead tr{ display: block; }
.worklistTableScroll > tbody{ height: 174px; overflow-y: auto; overflow-x:hidden; }*/

.worklistTableLegend{ font-size:10px; margin-top:16px;}
.worklistTableLegend > ul > li{ padding-left:10px;}

.worklistTablePaginationHolder{font-family:Tahoma; font-size:11px; margin-top:8px;}
.worklistPagination{ padding-left:70px;}

.right-inner-addon{ position: relative;}
.right-inner-addon input{ padding-right: 30px;}
.right-inner-addon i{ position: absolute; right: 0px; padding: 10px 12px; pointer-events: none;}

.worklistAccordionBody{ padding-top:12px; }
.worklistAccordionBody A{ font-size:11px; color:#ff9900; text-decoration:none;}
.worklistAccordionBody UL > LI{ vertical-align:middle;}
.worklistTopSearchBar{ width:960px; }
.worklistSearchMain{ }
.worklistNewContract{}
.worklistNewContract A{ font-size:14px;}
.worklistSearch{ width:250px; padding-bottom:10px;}
.searchBox{ font-size:12px; color:#666666; font-style:italic; border:1px solid #cccccc; border-radius:0; width:180px; }

.footerMain{ height:42px; background-color:#333333; font-size:11px; color:#FFFFFF; margin-top:60px; padding-top:12px; }
.footerInside{ width:960px; padding-left:0;}
.footerRight{ padding-left:60px;}

.custTableColPopup{ font-size:12px;}
.custTableColPopup .smallText{ font-size:10px;}
.popupHeader{ background-color:#ff9900; height:37px; padding-top:10px; font-size:12px;}
.popupBtn{ background-image:url(../assets/popupBtnBg.png); width:117px; height:33px; border:none; font-size:12px;}
.popupCancelLink{ font-size:12px; color:#ff9900; margin-left:30px;}
.popupCancelLink:hover{ text-decoration:none; color:#ff9900;}
.customizeTableButtons{ padding-top:40px;}
.customizeTableButtons > button { margin-top:10px;}

.marginTop30{ margin-top:30px;}
.smallTextFld{ width:30px;}
.width100{ width:100px;}
.width150{ width:150px;}
.grayBtn{ height:32px; background-image:url("../assets/grayBtnLEftBg.png"),url("../assets/grayBtnMidBg.png"),url("../assets/grayBtnRightBg.png"); background-position:left,center,right; background-repeat:no-repeat,repeat-x,no-repeat; border:none; font-size:12px; color:#666666;}


.overlayWindow{ position:absolute; padding:20px; z-index:120; margin-left:350px; margin-top:100px; display:none;}
.overlayWindowGrayBg{background-color:#999999; width:100%; text-align:right;  padding:15px; background: rgba(51,51,51,0.7);}
.closeIcoDiv{ position:absolute; margin-top:-10px; width:95%; text-align:right; z-index:122;}
.overlayContent{ background-color:#FFFFFF; padding:10px; text-align:left;}
.customizeColOverlay{ width:600px; font-size:12px;}
.customizeColOverlay .smallText{ font-size:10px;}
.overlayActions{ margin-top:20px; background-color:#FFFFFF;}

.overlayHeader{ background-color:#FFFFFF; text-align:left; font-size:14px; padding-bottom:10px; border-bottom:1px solid #CCCCCC;}
.overlayBodyScroll{height:400px; width:600px; /*overflow-y:auto; overflow-x:hidden;*/ overflow:auto; font-size:12px;}
.overlayBodyScroll UL{ list-style:none;}
.overlayBodyScroll UL LI{ vertical-align:top; padding-left:10px; width:190px;}
.overlayBodyScroll UL > LI > UL > LI{ padding-top:5px;} 
.overlayActionsBar{ padding-top:20px; b order-top:1px solid #CCCCCC;}

.filterOptOverlayBody{ height:400px; overflow-y:auto; overflow-x:hidden; }
.productFilterListHolder{ he ight:200px; }
.filterParameterHeading{ font-size:12px;}
.productFilterTreeDiv{ border:1px solid #999999; padding:2px; overflow:auto; height:160px;}
.productFilterTreeDiv > ul > li{ padding:2px; margin-top:2px;}
.filterOptionsOverlayIn{ height:460px;}
.filterAttributes{ margin-top:20px;}
.filterList{ height:40px;}
.filterDropdown{ width:160px;}
.selectedFilter{ background-color:#ff9900; color:#FFFFFF;}

.filters{ width:100%; margin-top:10px;}
.filters .filterRow {border-bottom:1px solid #CDCDCD; }
.filters .filterRow > TD{padding-bottom:10px;}
.filters > TR > TD{ vertical-align:top;}
.addFilterRow > TD{ padding-top:10px;}

.rightAling{ text-align:right;}
.overlayBodyScroll .alignBottom{ vertical-align:bottom;}
.topBorder{ border-top:1px solid #CCCCCC;}


.pricingGuidelineTabsDiv{ width:960px; margin:0 auto;}
.pricingGuidelinePageHeader{ padding-left:0; font-size:14px; width:960px; border:1px solid #FFFFFF; padding-top:20px; padding-bottom:10px;}
.pricingGuidelineTabs{ border:none; padding-top: 5px; font-family:Tahoma; font-size:12px;}
.pricingGuidelineTabs > li > a{ border:none; border-radius:0 0 0 0; padding-right:8px; padding-top:12px; line-height: 0.5; color:#ff7710; height:32px;}
.pricingGuidelineTabs > li > a:hover { border:none; background:none;}
.pricingGuidelineTabs > li.active > a,
.pricingGuidelineTabs > li.active > a:hover,
.pricingGuidelineTabs > li.active > a:focus {
  color: #555;
  cursor: default;
  bac kground-image:url(../assets/pricingguidelinetabbg.png); background-repeat:no-repeat; background-position:center bottom;
  border: none;
}
.pricingGuidelineTabContent{ width:960px; margin:0 auto; margin-top:-7px;}
.priceGridTabBody{ border:1px solid #666666; border-radius:3px; /*background-image:url(../assets/pricingGuidelineTabBodyBg.png); background-repeat:repeat-x; background-position:top;*/ background-color:#f5f5f5;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f5f5, endColorstr=#fff);
background-image:-moz-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-o-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-ms-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#f5f5f5), color-stop(7%,#fff),color-stop(100%,#fff));margin-top:1px; padding-top:20px; padding-left:10px;}
.priceRuleTabBody{ border:1px solid #666666; border-radius:3px; }
.priceGuidelinePanel{ border:1px solid #999999; border-radius:0;}
.priceGuidelinePanelHeading{ background-color:#999999; height:30px; padding-left:15px; padding-top:5px; }
.priceGuidelinePanelHeading > h4 > a{color:#FFFFFF; font-family:Tahoma; font-size:14px; text-decoration:none;}

.priceRuleTableContainer{ width:600px; overflow:auto; padding-bottom:10px;}
.priceRuleTble{ width:100%; !important}
.priceRuleTble > input{ width:50px;}
.priceRuleTble a{font-size:10px; color:#ff9900; text-decoration:none;}
.priceRuleTble THEAD > TR > TH{ width:20px;}
.priceRuleTableContainer .priceRuleTableAddBtn{font-size:10px; color:#ff9900; text-decoration:none;}

.productHeirarchyTreeDiv{ width:200px; height:225px; border:1px solid #999999; margin-top:20px; padding:5px; overflow:auto;}
.productHeirarchyTreeDiv > UL > LI { font-size:11px; color:#333333; padding:5px;}
.hierarchyHeading{ font-size:11px; font-weight:bold;}

.productAttrTreeDiv{ width:200px; height:225px; border:1px solid #999999; margin-top:10px; padding:5px; overflow:auto;}
.productAttrTreeDiv > UL > LI { font-size:11px; color:#333333; padding:5px;}

.activeAccordion{ background-color:#ff9900; border:1px solid #ff9900;}
.rightPageContent{ padding-right:40px; padding-bottom:20px;}
.rightSidePageTitle{ font-size:14px; color:#333333; padding-bottom:10px;}
.pricingGridPanels{ border:1px solid #d9d9d9; }
.pricingGridRightPanelHeading{ background-color:#d9d9d9; height:30px; padding-left:12px; padding-top:5px;}
.pricingGridRightPanelHeading > h4 > a{ color:#666666; font-size:14px; text-decoration:none;}

.percentOffTable .percentOffTxtBox{ width:75px;}
.percentOffTable TD{ padding-left:10px; padding-top:10px; font-size:10px; color:#999999;}
.percentOffTable A{ font-size:10px; color:#ff9900; text-decoration:none;}
.percentOffTable input{ width:75px; font-size:12px; color:#000000;}

.flatPriceTable{ border:1px solid #CCCCCC; margin-top:20px;}
.flatPriceTable input{ width:60px; font-size:12px; color:#000000;}
.flatPriceTable TH{ padding:10px;  font-size:12px; border:1px solid #CCCCCC;max-width:80px;min-width:80px;}
.flatPriceTable TD{ padding:10px; font-size:10px; color:#999999; border:1px solid #CCCCCC;max-width:80px;min-width:80px;}

.flatPriceTable A{ font-size:10px; color:#ff9900; text-decoration:none;}

.productAttViewTable{ border:1px solid #CCCCCC; margin-top:20px;}
.productAttViewTable input{ width:60px; font-size:12px; color:#000000;}
.productAttViewTable TH{ padding:10px;  font-size:12px; border:1px solid #CCCCCC;}
.productAttViewTable TD{ padding:10px; font-size:10px; color:#999999; border:1px solid #CCCCCC;}
.productAttViewTable A{ font-size:10px; color:#ff9900; text-decoration:none;}


.buyQuantityTable{ font-size:12px; color:#000000;}
.buyQuantityTable a{ font-size:10px; color:#ff9900; text-decoration:none;}
.buyQuantityTable input{ width:50px;}
.buyQuantityTable TD{ padding:5px;}

.priceGridActionBar{ width:600px; text-align:center; margin-top:40px; }
.priceGridSelectedCategoryBar{padding-bottom:2px;}
.priceGridSelectedCategoryBar > UL{ padding:0; margin-left:8px;}
.priceGridSelectedCategoryBar > UL > LI{ padding:0; margin-left:-8px;}

.priceGridSelCat{ height:19px;  background-image:url("../assets/priceGridSelCatRtBg.png"),url("../assets/priceGridSelCatLftBg.png"),url("../assets/priceGridSelCatMidBg.png"); background-position:right,left,center; background-repeat:no-repeat,no-repeat,repeat-x; border:none; font-family:Tahoma; font-size:11px; color:#666666; padding-left:5px;  padding-right:15px;  }

.setValuesOverlayBody{ width:320px;}
.setValuesTableDiv{ margin-left:30px; margin-top:20px;}
.setValuesTable{}
.setValuesTable{ border:1px solid #CCCCCC;}
.setValuesTable TH{ padding:5px;  font-size:12px; border:1px solid #CCCCCC; text-align:center; background-color:#f2f2f2;}
.setValuesTable TD{ padding:5px; font-size:12px; color:#999999; border:1px solid #CCCCCC;}
.setValuesTable Label{ padding-left:10px; font-weight:normal; font-size:12px; color:#000000;}

.yourSelctionTable{ margin-top:10px;}
.setValuesTableDiv Textarea{ width:240px;}

/* custom scrollbars */
.track3 {
    width: 10px;
    background: rgba(0, 0, 0, 0);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.track3:hover,
.track3.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.handle3 {
    width: 7px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.track3:hover .handle3,
.track3.dragging .handle3 {
    width: 10px;
}


/*+ For New Contract Page +*/
a{color:#ff6600;}
.clear{ clear:both}


/* Breadcrumb styles */
#breadcrumbSection .breadcrumb{ background:none; border:0; margin-bottom:10px; padding:0;}
#breadcrumbSection .breadcrumb li{ font-size:10px; color:#999898}
#breadcrumbSection .breadcrumb > li + li:before { color: #999898; content: ">"; padding: 0 5px;}

.page-header { margin:0 0 22px 0; padding:0; border:0}
.page-header h1{ font-size:14px; color:#000; margin:0}
.page-header img{ margin:0 8px 0 0}

/* Sub Tab styles */
.mainContentTabs .nav-pills > li{font-size:12px;}
.mainContentTabs .nav-pills > li.active > a, 
.mainContentTabs .nav-pills > li.active > a:hover, 
.mainContentTabs .nav-pills > li.active > a:focus { color:#333333; background: url(../assets/sub_tab_active.png) bottom center no-repeat; outline:none}
.mainContentTabs .nav-pills > li a{padding:0 16px 10px 14px}
.mainContentTabs .nav-pills > li a:hover{ background:none; color:#333333}


.subTabContent{border:1px solid #656565; width:960px; border-radius:4px; min-height:400px; margin-top:-6px; padding:6px 15px 15px 0;  
background-color:#f5f5f5;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f5f5f5, endColorstr=#fff);
background-image:-moz-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-o-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-ms-linear-gradient(top, #f5f5f5 0%, #fff 7%,#fff 100%);
background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#f5f5f5), color-stop(7%,#fff),color-stop(100%,#fff));

}


/* Form controls styles */

.form-group .control-label{ font-size:11px; font-weight:normal; color:#000;}
 .btn-default{ height:33px; border:0; border-right:2px solid #dbdbdb;border-bottom:1px solid #dbdbdb;  font-family:Tahoma; font-size:12px; color:#656565; padding:0 15px; border-radius: 4px;
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfcfc 0%, #f9f9f9 13%, #f6f6f6 16%, #f8f8f8 72%, #f6f6f6 88%, #f3f3f3 91%, #dedede 94%, #cccccc 97%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(13%,#f9f9f9), color-stop(16%,#f6f6f6), color-stop(72%,#f8f8f8), color-stop(88%,#f6f6f6), color-stop(91%,#f3f3f3), color-stop(94%,#dedede), color-stop(97%,#cccccc), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfcfc 0%,#f9f9f9 13%,#f6f6f6 16%,#f8f8f8 72%,#f6f6f6 88%,#f3f3f3 91%,#dedede 94%,#cccccc 97%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */}

.form-group span.small{ font-size:10px; color:#666666; padding-left:3px;}

.form-group textarea{font-size:11px}
.form-group .col-md-2{ padding-left:0px}
.form-group .btn-xs, .form-group .dropdown-toggle.btn-default { font-size:10px; color:#ff6600;  border:1px solid #b0b0b0; border-bottom:0px;border-radius:0; border-bottom-left-radius:5px; border-bottom-right-radius:5px; background: #f3f3f3; box-shadow:none; height:16px; width:100%; line-height:0;  box-shadow: 0px 0.5px 1px #d4d4d4;
background: -moz-linear-gradient(top,  #f3f3f3 0%, #fefefe 8%, #f9f9f9 15%, #f9f8f6 23%, #eae4e4 77%, #e7e3e4 85%, #cbc7c8 92%, #d6d2d3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(8%,#fefefe), color-stop(15%,#f9f9f9), color-stop(23%,#f9f8f6), color-stop(77%,#eae4e4), color-stop(85%,#e7e3e4), color-stop(92%,#cbc7c8), color-stop(100%,#d6d2d3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f3f3f3 0%,#fefefe 8%,#f9f9f9 15%,#f9f8f6 23%,#eae4e4 77%,#e7e3e4 85%,#cbc7c8 92%,#d6d2d3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d6d2d3',GradientType=0 ); /* IE6-9 */

}
.form-group .caret{color:#ff7710; font-size:11px; }
.form-group .caretdown { border-bottom: 4px solid #ff7710; border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); content: ""; display: inline-block; height: 0;width: 0;
}
.form-group .btn-group, .form-group .dropdown-menu{width:100%}
.btnAlign{ text-align:right; margin-top:10px}
.btnAlign button:first-child{ margin-right:10px;}

.subTabContent .panel{ background:none; margin:10px 0px 0 0; border:none; box-shadow:none; border-radius:0}
.subTabContent .panel-default > .panel-heading { color:#333333; background:none; border:none;}
.subTabContent .panel-default > .panel-heading .panel-title{ font-size:14px;}
.subTabContent .panel-default .panel-body{ padding-top:0; padding-right:0;}
.subTabContent .panel-default .panel-body .col-md-2, .subTabContent .panel-default .panel-body .col-md-10{ padding:0;}
.subTabContent .panel-default .panel-body .col-md-2{width:17.667%}
.subTabContent .panel-default .panel-body .col-md-10{width:82.333%; margin-top:2px;}

.subTabContent .panel-default .panel-body .tabs-left{ border:0;}
.subTabContent .panel-default .panel-body .nav-tabs > li{ margin:0}

.subTabContent .panel-default .panel-body .nav-tabs > li > a{ border:0; border-bottom:1px dashed #fab383; padding:7px 10px;  border-radius:0; font-size:12px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 13%, #fffaf4 32%, #fef9f3 34%, #fff9ef 34%, #fff7ee 40%, #fef5e4 48%, #fff2e1 55%, #feedd1 68%, #ffecd3 70%, #ffeccc 73%, #feeac9 79%, #ffe7c1 83%, #ffe6c3 85%, #fde1b1 98%, #ffdfb2 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(13%,#ffffff), color-stop(32%,#fffaf4), color-stop(34%,#fef9f3), color-stop(34%,#fff9ef), color-stop(40%,#fff7ee), color-stop(48%,#fef5e4), color-stop(55%,#fff2e1), color-stop(68%,#feedd1), color-stop(70%,#ffecd3), color-stop(73%,#ffeccc), color-stop(79%,#feeac9), color-stop(83%,#ffe7c1), color-stop(85%,#ffe6c3), color-stop(98%,#fde1b1), color-stop(100%,#ffdfb2)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* IE10+ */

background: linear-gradient(to right,  #ffffff 0%,#ffffff 13%,#fffaf4 32%,#fef9f3 34%,#fff9ef 34%,#fff7ee 40%,#fef5e4 48%,#fff2e1 55%,#feedd1 68%,#ffecd3 70%,#ffeccc 73%,#feeac9 79%,#ffe7c1 83%,#ffe6c3 85%,#fde1b1 98%,#ffdfb2 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffdfb2',GradientType=1 ); /* IE6-9 */

}
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a, 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a:hover, 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li.active > a:focus { background:#ff6600; border:0;   color:#fff; border-radius:4px 0px 0px 5px}
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li > a:hover{ color:#8a8a8a} 
.subTabContent .panel-default .panel-body .nav-tabs.tabs-left > li > a > i.glyphicon{ top:-1px; float:right; margin-right:-2px; font-size:16px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection{ border:15px solid #ff6600; padding:10px}
.subTabContent .panel-default .panel-body .tab-content .innerSection h2{ color:#333333; font-size:12px; font-weight:bold; margin-top:0; padding:0 0 0 5px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs{ border:0;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li{font-size:11px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li > a{ padding:0px 30px 10px 5px; border:0; font-size:11px; background:none}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a, 
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a:hover, 
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.active > a:focus{ color:#333333; background: url(../assets/innerSecTabActive.jpg) bottom center no-repeat; outline:none}
.subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li a:hover{ background:none; color:#333333}
.subTabContent .panel-default .panel-body .tab-content .innerSection .btnBrd{ background:url(../assets/innerSecBdr.jpg) top left no-repeat; height:5px; width:391px; margin:-10px 0 20px 0}
	
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content { padding-left:5px}
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .right-inner-addon{width:200px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .form-control{ border-radius:0; font-size:10px; color:#666; line-height:26px; height:26px;  padding:0 0 0 5px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 0%, #fdfefe 57%, #f7f6f7 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#fdfefe), color-stop(100%,#f7f6f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f7',GradientType=0 ); /* IE6-9 */

}

.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .navbar-form{ padding:0}

.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:hover,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:focus,
.subTabContent .panel-default .panel-body .tab-content .innerSection .tab-content .btn-danger:active
{ background:none; font-size:11px; color:#ff9900; border:0; box-shadow:none; padding:0}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab, categoryTab{ border:0; }
.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab li:first-child, .categoryTab li:first-child{ border-left:1px solid #ccc; border-top-left-radius:3px; border-bottom-left-radius:3px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li, .categoryTab > li{list-style:none; font-size:11px; display:inline-block; padding:0px 0 4px 10px; border:0; font-size:11px; color:#666666;  height:20px;
background: #cccccc; margin-right:0px; line-height:18px; float:left; margin-bottom:17px; /* Old browsers */

background: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 5%, #fbfbfb 16%, #efefef 37%, #dcdcdc 63%, #cccccc 95%, #f5f5f5 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(5%,#ffffff), color-stop(16%,#fbfbfb), color-stop(37%,#efefef), color-stop(63%,#dcdcdc), color-stop(95%,#cccccc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* IE10+ */

background: linear-gradient(to bottom,  #cccccc 0%,#ffffff 5%,#fbfbfb 16%,#efefef 37%,#dcdcdc 63%,#cccccc 95%,#f5f5f5 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li > span, .categoryTab > li > span{background: url(../assets/categorySep.png) top right no-repeat; width:14px; height:19px; display:inline-block; margin-left:15px; float:right}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab > li:last-child > span, .categoryTab > li:last-child > span{background: url(../assets/categorySepLast.png) top right no-repeat; height:20px;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryTab, .categoryTab{ margin-bottom:16px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .col-md-8{padding:0 5px 0 0; width:66.667%; margin-top:10px;}
.subTabContent .panel-default .panel-body .tab-content .innerSection .col-md-4 { width:31.333%;}

.subTabContent .panel-default .panel-body .tab-content .innerSection .categoryContent{padding:0; clear:both }
.subTabContent .panel-default .panel-body .tab-content .innerSection .paginPad{padding:10px; text-align:right}

.categoryTable th{ background:#f2f2f2; font-size:12px; color:#000;}
.categoryTable th:first-child{ width:7%}
.categoryBtn{ margin-top:10px;}
 .categoryBtn button {border-radius:5px; border:0px; padding:10px 25px; font-size:12px; color:#333; background: #f0f0f0; margin:5px 5px 0 5px; /* Old browsers */

background: -moz-linear-gradient(top,  #f0f0f0 0%, #ececec 10%, #e4e4e4 16%, #e4e4e4 84%, #dfdfdf 87%, #d0d0d0 90%, #adadad 97%, #adadad 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(10%,#ececec), color-stop(16%,#e4e4e4), color-stop(84%,#e4e4e4), color-stop(87%,#dfdfdf), color-stop(90%,#d0d0d0), color-stop(97%,#adadad), color-stop(100%,#adadad)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* IE10+ */

background: linear-gradient(to bottom,  #f0f0f0 0%,#ececec 10%,#e4e4e4 16%,#e4e4e4 84%,#dfdfdf 87%,#d0d0d0 90%,#adadad 97%,#adadad 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */

}

.categoryNext a.nextBtn{border:0px; font-size:14px; color:#333; line-height:37px; background:url(../assets/nextBtn.png) top left no-repeat; width:132px; height:37px; display:inline-block; text-align:center }
.categoryNext .nextBtn{border:0px; font-size:14px; color:#333; line-height:37px; background:url(../assets/nextBtn.png) top left no-repeat; width:132px; height:37px; display:inline-block; text-align:center }
.categoryNext{margin-top:30px; float:right}
.categoryNext a:hover{ text-decoration:none;}
.categoryNext a.prevBtn{border:0px; font-size:14px; color:#333; line-height:37px; background:url(../assets/prevBtn.png) top left no-repeat; width:132px; height:37px; display:inline-block; text-align:center }



@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .subTabContent{margin-top:-6px;}
 
 .subTabContent .panel-default .panel-body .tab-content .innerSection .btnBrd { margin-top:-10px} 
}

.right-inner-addon {
    position: relative; float:left; margin-right:5px;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 5px 12px;
    pointer-events: none;
}
.right-inner-addon .form-control{ border-radius:0; font-size:10px; color:#666; line-height:26px; height:26px;  padding:0 0 0 5px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 0%, #fdfefe 57%, #f7f6f7 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#fdfefe), color-stop(100%,#f7f6f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f7',GradientType=0 ); /* IE6-9 */

}

#prevNotesOverlay{ margin-top:304px}


.topTabs li:last-child a.mainClose{ background:url(../assets/main_tab_cross_icon) top right no-repeat; text-indent:-9999px; position: absolute; right: 2px; top: 2px; cursor:pointer; outline:none}
.categoryTable th:first-child{padding-left: 9px;}


#addProductOverlay{ margin-top:304px; width:400px}
 .form-group label{ font-size:11px; font-weight:normal; color:#000;}
 
 .form-control{ border-radius:0; font-size:10px; color:#666; line-height:26px; height:26px;  padding:0 0 0 5px;
background: #ffffff; /* Old browsers */

background: -moz-linear-gradient(top,  #ffffff 0%, #fdfefe 57%, #f7f6f7 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(57%,#fdfefe), color-stop(100%,#f7f6f7)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* IE10+ */

background: linear-gradient(to bottom,  #ffffff 0%,#fdfefe 57%,#f7f6f7 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f6f7',GradientType=0 ); /* IE6-9 */
 }

#addProductOverlay .overlayHeader{ margin-bottom:10px;}
#addProductOverlay .selectProd li{display: inline-block; list-style-type:none}

#addProductOverlay .selectProd li{ font-size:11px;}


.alignRight{ text-align:right;}

.marginTop10{ margin-top:10px;}

/* Add product to contract */
.addProdContract{ margin-top:15px;}
.addProdContract h2{color:#333333; font-size:12px; font-weight:bold; margin-top:0; padding:0 0 0 5px;}
.addProdContract table.tablesorter{ margin:2px 0}

 .form-group div.grey{color:#666; font-size:11px; font-weight:normal;}
 
 .radio-inline{font-size:11px;}
 .radio-inline input[type="radio"], .checkbox input[type="checkbox"]{ margin-top:2px;}
 .pad0{ padding:0}
 
 .date .input-group-addon{ padding:0 10px}
 .bdrTopLine{ border-top:1px solid #ccc; padding:10px 0; margin:20px 10px 0 10px}
 .categoryTable td{ font-size:12px; color:#000;}
 .marBtm0{ margin-bottom:0}
 
 #mainPriceVendor table.wrap th{ white-space:nowrap}
 
 label.bold{ font-weight:bold}
 
 .subTabContent .panel-default .panel-body .tab-content .innerSection .btnBrd1{ background:url(../assets/innerSecBdr_1.png) top left no-repeat; height:5px; width:700px; margin:-10px 0 20px 0}
 .subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.rightBtn{ float:right; text-align:right}
  .subTabContent .panel-default .panel-body .tab-content .innerSection .nav-tabs > li.rightBtn .btn-default{margin-top:-20px;}
  
  .categoryNext{ text-align:right; float:none}

/* NEW CONTRACT */ 
.newContract1PageBody{ width:960px; padding-top:20px;}
.newContractInstrDiv{ font-size:12px; padding-bottom:10px;}
.newContract1Panel{ padding:15px; font-size:12px;} 
.newContractActionBar{ padding-top: 15px;}
.boldText{ font-weight:bold;}
.infoProdAttrMain{ padding:5px; padding-top:0;}
.infoProdAttrPanel{ padding:10px;}
.infoAttrTable > TBODY > TR > TD{ font-size:11px; color:#000000;}
.infoAttrActionBar{ padding-top:20px;}

.o verlayWindow{ width:700px;}
.forecastOverlayInnerHeadingDiv{ padding-top:10px; padding-bottom:10px; font-size:12px;}
.forecastTable{ width:580px;}
.forecastTable > TBODY > TR > TD > TABLE > TBODY > TR > TD{ font-size:11px; color:#000000;}
.contractAttrHeading{ font-size:14px; padding-left:12px; padding-top:10px;}

/* Vendor Funding */ 
.vendor-form{ width:70px;}
.vendor-product-form{ width:30px; padding:5px}
.vendor-product-table > thead > tr > th, .vendor-product-table > tbody > tr > th, .vendor-product-table > tfoot > tr > th, .vendor-product-table > thead > tr > td, .vendor-product-table > tbody > tr > td, .vendor-product-table > tfoot > tr > td {
padding: 6.5px;
line-height: 1.42857143;
vertical-align: top;
border-top: 1px solid #ddd;
max-width:80px;
}


.price-rules-table > thead > tr > th, .price-rules-table > tbody > tr > th, .price-rules-table > tfoot > tr > th, .price-rules-table > thead > tr > td, .price-rules-table > tbody > tr > td, .price-rules-table > tfoot > tr > td {
max-width:100px;
min-width: 100px;
overflow:hidden;
padding: 2px;
}
.price-rules-form{ max-width:60px; min-width:60px;}




.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}
