/* tables */
table.tablesorter {

	margin:10px 0pt 15px;
	font-size: 8pt;
	wid th: 100%;
	text-align: left;
	bo rder:1px solid #cccccc;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #fff;
	border: 1px solid #cccccc;
	font-size: 8pt;
	padding: 4px 25px 4px 4px;
	text-align:center;
}
table.tablesorter thead tr .header {
	cursor: pointer;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	padding-left:10px;
	background-color: #FFF;
	vertical-align: top;
	border:1px solid #cccccc;
	height:28px;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #f0f0f0;
}
