ul, li {
	margin: 0;
	padding: 0;
	fo nt-family: sans-serif;
}
.sapling-list li {
	clear: left;
	display: inline-block;
	float: left;
	list-style: none;
	position: relative;
	padding:2px 17px;
	margin:1px 0;
	background-image: url('collapse-small-silver-Shapes4FREE.png') no-repeat;
}
.sapling-list ul {
	display: none;
}
.sapling-list .sapling-item {
	cursor: pointer;
	padding-left: 0;
}
.sapling-list .sapling-item:before {
	background: url('expand-small-silver-Shapes4FREE.png') no-repeat;
	content: "";
	display: inline-block;
	font-size: .8em;
	height: 12px;
	padding-right: 5px;
	width: 16px;
}
.sapling-list .sapling-item.sapling-expanded:before {
	background-image: url('collapse-small-silver-Shapes4FREE.png');
}
.sapling-list .sapling-item ul {
	padding-left: 17px;
}
.sapling-list .sapling-item.sapling-expanded > ul {
	cursor: default;
	display: block;
}