<%= form_for(@event_management) do |f| %>
  <% if @event_management.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_management.errors.count, "error") %> prohibited this event_management from being saved:</h2>

      <ul>
      <% @event_management.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_area :created_by %>
  </div>
  <div class="field">
    <%= f.label :product_scope_trail %><br>
    <%= f.text_field :product_scope_trail %>
  </div>
  <div class="field">
    <%= f.label :location_scope_trail %><br>
    <%= f.text_field :location_scope_trail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
