<!-- BO PAGE CONTENT -->
<div class="container newContract1PageBody">
<%= render :partial=> "shared/flash_msg"%>
	<div class="page-header">
		<h1><img src="../assets/eventManagementICo.png"/>Event Management</h1>
	</div>

	<div class="row">

		<div class="col-md-10  marginTop10">
			Marketing Events (1 to 7 of 58)
		</div>
		<div class="col-md-2 alignRight padBtm10">
			<button type="submit" class="btn btn-default " onClick="window.location='event_managements/new';">
				+ New Marketing Events
			</button>
		</div>
	</div>
	<div class="subTabContent newContract1Panel">

		<!-- EO ROW -->

		<div class="col-md-12">
			<div class="marginTop10">

				<section id="main_content" class="inner">

					<div id="target3" class="timeline-tgt">

					</div>
				</section>

			</div>
		</div>
		
		<div class="row ">
			<div  class="col-md-12">
				<table class="tablesorter table-striped priceRuleTble price-rules-table"  id="eventMngtdataTable">
					<thead>
						<tr>
							<th>Event Name</th>
							<th>Event Description</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Product Scope</th>
							<th>Location Scope</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% @event_managements.each do |event_management|%>
						<tr>
						<td> <%= event_management["name"]%> </td>
						<td> <%= event_management["description"]%> </td>
						<td> <%= event_management["start_date"]%> </td>
						<td> <%= event_management["end_date"]%> </td>
						<td> <%= event_management["product_scope"]%> </td>
						<td> <%= event_management["location_scope"]%> </td>
						<td> <%= link_to 'Edit', edit_event_management_path(event_management) %> | <%= link_to 'Destroy', "/event_managements/destroy?id=#{event_management["id"]}", :method=> "get", :confirm=> 'Are you sure?'  %> </td>
						</tr>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row ">
			<div  class="col-md-12 exportAsLink">
				Export as<a href="#"> <img src="../assets/Excel_Icon.png"></a>
			</div>
		</div>

	</div>

</div>
<!-- EO NEW CONTRACT PANEL -->

</div><!-- EO PAGE CONTENT -->


<script type="text/javascript">
	$(document).ready(function(){

var events = "<%= @events%>".replace(/&quot;/g,'"');

	events = events.replace(/&gt;/g,'>');
	events = events.replace(/&lt;/g,'<');
	//console.log(events)
	events=JSON.parse(events);

	//console.log(events)

	$.each(events,function(key, value){
	$.each(value.dates ,function(key1,value1){
	if(key1 == 1)
	{
	var temp = new Date(value1)
	temp = temp.setDate(temp.getDate()+1)
	events[key].dates[key1] = new Date(temp);
	} else {
	events[key].dates[key1] = new Date(value1);
	}
	})
	});

	console.log(events)
	var timeline3 = new Chronoline(document.getElementById("target3"), events,
	{visibleSpan: DAY_IN_MILLISECONDS * 91,
	animated: true,
	tooltips: true,
	startDate:events[0].dates[0],
	sectionLabelAttrs: {'fill': '#997e3d', 'font-weight': 'bold'},
	labelInterval: isFifthDay,
	hashInterval: isFifthDay,
	floatingSubLabels: false,
	});

	});
</script>

<script>
	$(document).ready(function() {

		$('#eventmanagementtree').sapling();

		$('#eventmanagementtree2').sapling();

		$('.treeLastChild,.sapling-item').click(function() {
			$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			$(this).addClass('selectedFilter');

			var topCat = $(".sapling-item");

			if (!$(this).hasClass("sapling-expanded")) {
				topCat.removeClass("selectedFilter")
			}
		});

		$('#eventMngtdataTable').DataTable({
			paging : true,
			searching : false,
			info : false	
		});
	});

</script>