<div class="container pricingGuidelinePageHeader">
	<ul class="list-inline">
		<li><img src="../assets/eventManagementICo.png">
		</li>
		<li>
			Event Management
		</li>
	</ul>
	<div class="row">
		<div class="col-md-12" style="margin-top:20px;">
			New Marketing Event
		</div>
	</div>
</div>

<div class="pricingGuidelineTabContent">
	<%= form_for(@event_management) do |f| %>
	<%= render 'shared/form_error', :object => @event_management %>

	<div id="priceGrid" class="tab-pane active priceGridTabBody">
		<!--date-->
		<div class="row">
			<div class="col-lg-3">
				<div class="form-group">
					<label>Event Name</label>
					<%= f.text_field :name , :class=>"form-control" %>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label>Event Description</label>
					<%= f.text_area :description , :class=>"form-control" %>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="form-group">
					<label> Event Date</label>
					<div class="date">

						<fieldset>
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend input-group">
										<span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
										<input style="width: 200px" name="eventMngt_Date" id="eventMngt_Date" class="form-control active" value="" type="text">
									</div>
								</div>
							</div>
						</fieldset>

					</div>
				</div>
			</div>

			<div class="col-lg-2">

			</div>

		</div>
		<!--eodate-->

		<div class="row" style="margin-top:10px; margin-right:3px;">

			<div class="col-md-6">

				<div class="panel-group" id="accordion">
					<div class="panel panel-default priceGuidelinePanel">
						<div class="priceGuidelinePanelHeading activeAccordion">
							<h4 class="panel-title"> Product Scope </h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">

								<div class="row">
									<div class="col-md-12">
										<div class="right-inner-addon">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
											<div align="right" style="font-family:Tahoma; font-size:12px;">
												<a href="#">Reset</a>
											</div>
										</div>
									</div>
								</div><!--eo row-->
								<div class="row">
									<div class="col-md-12">
										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="productHeirarchyTree">

												<% @allCategoriesHierarchy.each do |categoryHash| %>

												<% def ihash(h) %>
												<% h.each do |k,v| %>
												<%  if v.is_a?(Hash) %>
												<li>
													<span class="eventMngtCategories" id="<%= k[0].to_i %>"> <%= k[1] %></span>
													<ul>
														<li >
															<% ihash(v) %>
														</li>
													</ul>
												</li>
												<%   else %>
												<li class="treeLastChild">
													<span class="eventMngtCategories" id="<%= k[0].to_i %>"> <%= k[1] %> </span>
												</li>
												<%  end %>
												<%   end %>
												<% end %>
												<% ihash(categoryHash) %>
												<% end %>
											</ul>

										</div>
									</div>
								</div><!--eo row-->

							</div>
						</div>
						<input type="text" name="selectedCatId" id="selectedCatId" value="" style="display: none"/>
					</div>
				</div>
			</div>
			<!--eo Product Scope-->
			<div class="col-md-6">
				<div class="panel-group" id="accordion1">
					<div class="panel panel-default priceGuidelinePanel">
						<div class="priceGuidelinePanelHeading activeAccordion">
							<h4 class="panel-title"> Location Scope </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<div class="right-inner-addon">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
											<div align="right" style="font-family:Tahoma; font-size:12px;">
												<a href="#">Reset</a>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="locationHeirarchyTree">
												<% if !@allBannersHierarchy.blank? %>
												<% @allBannersHierarchy.each do |bannerHash| %>

												<% def jhash(h) %>
												<% h.each do |k,v| %>
												<%  if v.is_a?(Hash) %>
												<li>
													<span class="eventMngtBanner" id="<%= k[0].to_i %>"> <%= k[1] %></span>
													<ul>
														<li >
															<% jhash(v) %>
														</li>
													</ul>
												</li>
												<%   else %>
												<li class="treeLastChild">
													<span class="eventMngtBanner" id="<%= k[0].to_i %>"> <%= k[1] %> </span>
												</li>
												<% end %>
												<% end %>
												<% end %>
												<% jhash(bannerHash) %>
												<% end %>
												<% end %>
											</ul>
										</div>
									</div>
								</div>
								<!--eo row-->

							</div>

						</div>
					</div>

					<input type="text" name="selectedBannerId" id="selectedBannerId" value="" style="display: none"/>
				</div>
			</div><!--eo Location Scope-->
		</div>

		<div class="row" style="margin-bottom:10px;">
			<div class="col-md-1">
				<button type="submit" class="btn btn-default">
					Add
				</button>
			</div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-default">
					Cancel
				</button>
			</div>

		</div>
	</div>

	<%end%>
</div>

<script>
	$(document).ready(function() { event_management_name

		var event_management_name = new LiveValidation('event_management_name');
		event_management_name.add(Validate.Presence, {});
			
		var event_management_description = new LiveValidation('event_management_description');
		event_management_description.add(Validate.Presence, {});
		
		var eventMngt_Date = new LiveValidation('eventMngt_Date');
		eventMngt_Date.add(Validate.Presence, {});
		

		$("#priceRuleTable").tablesorter({
			sortList : [[7, 1]]
		});

		$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#priceHeirarchyTree').sapling();
		$('#priceAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();

		$('.treeLastChild,.sapling-item').click(function() {
			$('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			$(this).addClass('selectedFilter');

			var topCat = $(".sapling-item");

			if (!$(this).hasClass("sapling-expanded")) {
				topCat.removeClass("selectedFilter")
			}
		});

		$('#eventMngt_Date').daterangepicker(null, function(start, end, label) {
			console.log(start.toISOString(), end.toISOString(), label);
		});

	});
	$('#startDate, #endDate').datetimepicker({
		pickTime : false
	});

</script>