<div class="container pricingGuidelinePageHeader">
	<ul class="list-inline">
		<li><img src="../assets/eventManagementICo.png">
		</li>
		<li>
			Event Management
		</li>
	</ul>
	<div class="row">
		<div class="col-md-12" style="margin-top:20px;">
			New Marketing Event
		</div>
	</div>
</div>


<%= form_for @event_management do |f| %>
  <%= render 'shared/form_error', :object => @event_management %>   
<div class="pricingGuidelineTabContent">

	<div id="priceGrid" class="tab-pane active priceGridTabBody">
		<!--date-->
		<div class="row">
			<div class="col-lg-3">
				<div class="form-group">
					<label>Event Name</label>
					<%= f.text_field :name , :class=>"form-control"%>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label> Start Date</label>
					<div class='input-group date' id='startDate'>
						<%= f.text_field :start_date , :class=>"form-control"%>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="form-group">
					<label> End Date</label>
					<div class='input-group date' id='endDate'>
						<%= f.text_field :end_date , :class=>"form-control"%>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
					</div>
				</div>
			</div>
			<div class="col-lg-3"></div>
		</div>
		<!--eodate-->

		<div class="row" style="margin-top:10px; margin-right:3px;">

			<div class="col-md-12">

				<div class="panel-group" id="accordion">
					<div class="panel panel-default priceGuidelinePanel">
						<div class="priceGuidelinePanelHeading">
							<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Product Scope </a></h4>
						</div>

						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">

								<div class="row">
									<div class="col-md-3">
										<div class="right-inner-addon">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
											<div align="right" style="font-family:Tahoma; font-size:12px;">
												<a href="#">Reset</a>
											</div>
										</div>

										<div class="productHeirarchyTreeDiv">
											<span class="hierarchyHeading">Hierarchy</span>
											<ul id="productHeirarchyTree">

												<% @allCategoriesHierarchy.each do |categoryHash| %>

												<% def ihash(h) %>
												<% h.each do |k,v| %>
												<%  if v.is_a?(Hash) %>
												<li>
													<span class="eventMngtCategories" id="<%= k[0].to_i %>"> <%= k[1] %></span>
													<ul>
														<li >
															<% ihash(v) %>
														</li>
													</ul>
												</li>
												<%   else %>
												<li class="treeLastChild">
													<span class="eventMngtCategories" id="<%= k[0].to_i %>"> <%= k[1] %> </span>
												</li>
												<%  end %>
												<%   end %>
												<% end %>
												<% ihash(categoryHash) %>
												<% end %>
											</ul>

										</div>

									</div>
									<div class="col-md-9">
										<h2 class="heading">Product Scope Selection</h2>
										<h6 class="pull-left eventCrumbsMar">Product Selection:</h6>
										<ul class="categoryTab">
											<li>
												Bev<span class="icon"></span>
											</li>
											<li>
												Soda<span class="icon"></span>
											</li>
											<li>
												2L (Vendor=Pepsi)<span class="icon"></span>
											</li>
										</ul>

									</div>
								</div><!--eo row-->
							</div>
						</div>
						<input type="text" name="selectedCatId" id="selectedCatId" value="" style="display: none"/>
					</div>
					<!--eo Product Scope-->
					<div class="panel panel-default priceGuidelinePanel">
						<div class="priceGuidelinePanelHeading">
							<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Location Scope </a></h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-3" >
										<div class="right-inner-addon worklistSearch">
											<i class="glyphicon glyphicon-search"></i>
											<input type="search" class="form-control searchBox" placeholder="Quick search hierarchy & attributes" />
											<div align="right" style="font-family:Tahoma; font-size:12px;">
												<a href="#">Reset</a>
											</div>
										</div>

										<div class="productHeirarchyTreeDiv">
										<span class="hierarchyHeading">Hierarchy</span>
										<ul id="locationHeirarchyTree">
										<% if !@allBannersHierarchy.blank? %>
											<% @allBannersHierarchy.each do |bannerHash| %>

											<% def jhash(h) %>
											<% h.each do |k,v| %>
											<%  if v.is_a?(Hash) %>
											 <li>
											 <span class="eventMngtBanner" id="<%= k[0].to_i %>">
												<%= k[1] %></span>
												<ul>
													<li >
														<% jhash(v) %>
													</li>
												</ul>
											</li>
											<%   else %>
											<li class="treeLastChild">
											<span class="eventMngtBanner" id="<%= k[0].to_i %>">
												<%= k[1] %>
											</span></li>
											<% end %>
											<% end %>
											<% end %>
											<% jhash(bannerHash) %>
											<% end %>
										<% end %>	
										</ul>
									</div>
									</div>
									<div class="col-md-9">

										<h2 class="heading">Location Scope Selection</h2>
										<h6 class="pull-left eventCrumbsMar">Location Selection:</h6>
										<ul class="categoryTab">
											<li>
												Company<span class="icon"></span>
											</li>
											<li>
												Banner<span class="icon"></span>
											</li>
											<li>
												Adzone (Seasonality  = Warm Stores)<span class="icon"></span>
											</li>
										</ul>

									</div>
								</div>
								<!--eo row-->

							</div>

						</div>
					</div>
				</div>
			</div>
			<input type="text" name="selectedBannerId" id="selectedBannerId" value="" style="display: none"/>
		</div>
		<!--eo Location Scope-->
		<div class="row" style="margin-bottom:10px;">
			<div class="col-md-1">
				<button type="submit" class="btn btn-default">
					Add
				</button>
			</div>
			<div class="col-md-1">
				<button type="submit" class="btn btn-default">
					Cancel
				</button>
			</div>

		</div>
	</div>
</div>
<%end%>

<script>
	 
	$(document).ready(function() 
    { 
	
	 $("#priceRuleTable").tablesorter({sortList: [[7,1]]}); 
	
		$('#productHeirarchyTree').sapling();
		$('#productAttrTree').sapling();
		$('#priceHeirarchyTree').sapling();
		$('#priceAttrTree').sapling();
		$('#locationHeirarchyTree').sapling();
		$('#locationAttrTree').sapling();
		
		 $('.treeLastChild,.sapling-item').click(function() {
		      $('.treeLastChild,.sapling-item').removeClass('selectedFilter');
			  $(this).addClass('selectedFilter');
			  
			  var topCat = $(".sapling-item");
		
			  if(!$(this).hasClass("sapling-expanded")){
				 topCat.removeClass("selectedFilter") 
			  }
		});
		
		
       /* accordion state change */
	   $('#accordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion'); 
	   
	   $('#accordion').on('show.bs.collapse', function(e) {
			$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
			$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
		  })
		  .on('hide.bs.collapse', function(e) {
			$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
			$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
		  });

       /* accordion state change */
	   $('#priceRuleaccordion .collapse.in').prev('.priceGuidelinePanelHeading').addClass('activeAccordion'); 
	   
	   $('#priceRuleaccordion').on('show.bs.collapse', function(e) {
			$(e.target).prev('.priceGuidelinePanelHeading').addClass('activeAccordion');
			$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
		  })
		  .on('hide.bs.collapse', function(e) {
			$(e.target).prev('.priceGuidelinePanelHeading').removeClass('activeAccordion');
			$(e.target).prev('.priceGuidelinePanel').addClass('activeAccordion');
		  });
		
		
		
    } ); 
    $('#startDate, #endDate').datetimepicker({
		pickTime: false
	});	

	</script>