<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_management.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_management.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event_management.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event_management.end_date %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @event_management.created_by %>
</p>

<p>
  <strong>Product scope trail:</strong>
  <%= @event_management.product_scope_trail %>
</p>

<p>
  <strong>Location scope trail:</strong>
  <%= @event_management.location_scope_trail %>
</p>

<%= link_to 'Edit', edit_event_management_path(@event_management) %> |
<%= link_to 'Back', event_managements_path %>
