<!DOCTYPE html>
<html>
	<head>
		<title><%= page_title %></title>
		<link rel="stylesheet" type="text/css" href="/../assets/default.css" />
		<link rel="stylesheet" type="text/css" href="/../assets/bookblock.css" />
		<!-- custom demo style -->
		<link rel="stylesheet" type="text/css" href="/../assets/demo4.css" />
		<script src="/../assets/modernizr.custom.js"></script>

		<link href="/../assets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/../assets/styledoc.css" rel="stylesheet" type="text/css">
		<link href="/../assets/tablesorterStyle.css" rel="stylesheet" type="text/css">
		<link href="/../assets/bootstrap.vertical-tabs.css" rel="stylesheet" type="text/css">
		<link href="/../assets/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
		<link href="/../assets/tree.css" rel="stylesheet" type="text/css">
		<link href="/../assets/daterangepicker-bs3.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="/../assets/jquery.dataTables.css" rel="stylesheet" type="text/css">
		<link href="/../assets/dataTables.fixedColumns.css" rel="stylesheet" type="text/css">
		<link href="/../assets/shCore.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
		<link href="/../assets/styledoc2.css" rel="stylesheet" type="text/css">

		<link href="/../assets/chronoline.css" media="all" rel="stylesheet" />
		<!--<link href="/../assets/uday.css" rel="stylesheet" type="text/css">-->
		<link rel="stylesheet" type="text/css" href="/../assets/jquery.qtip.min.css" />

		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/../assets/bootstrap.js"></script>
		<script src="/../assets/jquery.tablesorter.js"></script>
		<script src="/../assets/enscroll-0.6.1.min.js"></script>
		<script src="/../assets/functions.js"></script>
		<script src="/../assets/jquery.sapling.js"></script>
		<script src="/../assets/moment.js"></script>
		<script src="/../assets/jquery.dataTables.js"></script>
		<script src="/../assets/daterangepicker.js"></script>
		<script src="/../assets/dataTables.fixedColumns.js"></script>
		<script src="/../assets/shCore.js"></script>
		<script src="/../assets/demo.js"></script>
		<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
		<script src="/../assets/bootstrap-datetimepicker.min.js"></script>
		<script src="/../assets/adin.js"></script>
		<script src="/../assets/raphael-min.js"></script>
		<script src="/../assets/chronoline.js"></script>
		<script src="/../assets/jquery.form.js"></script>

		<script src="/../assets/modernizr.custom.js"></script>
		<script src="/../assets/jquerypp.custom.js"></script>
		<script src="/../assets/jquery.bookblock.js"></script>
		<script type="text/javascript" src="/../assets/jquery-migrate-1.0.0.js"></script>
		<script type="text/javascript" src="/../assets/jquery.qtip.min.js"></script>
		<script src="/assets/best_in_place.js"></script>
		<script src="/assets/best_in_place.purr.js"></script>
		<script src="/assets/price_rules.js.coffee"></script>
		<script src="/assets/price_grids.js.coffee"></script>
		<script src="../assets/modernizr.custom.js"></script>
		<script src="../assets/livevalidation_prototype.js"></script>
		<script src="../assets/livevalidation_standalone.js"></script>

		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render "shared/app_header" %>
		<%= yield %>
		<%= render "shared/app_footer" %>
	</body>
</html>
